<div class="modal-content">
  <div class="modal-header pt-4">
    <h5 class="modal-title font-weight-bold">
      {{ dataDetail[0].contestDesc }}
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row justify-content-between px-4">
    <div class="col-auto pb-2" style="align-self: center;">
      <div *ngIf="filterPromotion == 'คาดการณ์การแข่งขัน'" class="align-items-center">
        <span style="font-size: 13px;">*คาดการณ์การแข่งขันเป็นเพียงประมาณการณ์เท่านั้น ยังไม่ใช่การสรุปการแข่งขันจึงใข้อ้างอิงเพื่อรับรางวัลไม่ได้</span>
      </div>
    </div>

    <div class="col-auto pb-2 justify-content-end">
      <div class="align-items-center">
        <div class="input-group searchKeyword-group">
          
          <input class="form-control search-key"
            type="text"
            [(ngModel)]="searchText"
            id="search"
            mdbInput
            placeholder="ค้นหา"
          />
          <div class="input-group-btn">
            <button class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-m-flipped></app-m-flipped>

  <!-- Search -->

  <!-- End Search -->

  <div class="modal-body pb-3">
  
    <div class="table-responsive wrapper">
      <table
        mdbTable
        id="promotion--detail-table"
        class="table table-hover promotion-detail-table"
      >
        <thead class="table-color">
          <tr>
            <th
              class="position-center table-color mat-cell sticky-top"
              style="color: white;"
            >
              #
            </th>
            <ng-container *ngFor="let header of headerDetail; let i = index">
              <ng-container *ngIf="filterPromotion == 'สรุปการแข่งขัน'">
   
               <th
                  class="position-center table-color mat-cell sticky-top"
                  style="color: white;"
                  [class.header-result]="i >= hilight"
                >
                  {{ header }}
                </th>
              </ng-container>
              <ng-container *ngIf="filterPromotion == 'คาดการณ์การแข่งขัน'">
                <th
                  class="position-center mat-cell table-color sticky-top"
                  style="color: white;"
                  [class.header-potential]="i >= hilight+1"
                >
                  {{ header }} 
                </th>
              </ng-container>
            </ng-container>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let dt of data; let i = index">
            <td class="position-center mat-cell">{{ i + 1 }}</td>
            <ng-container *ngIf="isGM(agentLevel)">
              <td class="position-center mat-cell">
                <span
                  >{{ dt.gmCode }} <br />
                  {{ dt.gmName }}</span
                >
              </td>
            </ng-container>

            <ng-container *ngIf="isAVP(agentLevel)">
              <td class="position-center mat-cell">
                <span
                  >{{ dt.avpCode }} <br />
                  {{ dt.avpName }}</span
                >
              </td>
            </ng-container>

            <ng-container *ngIf="isAL(agentLevel)">
              <td class="position-center mat-cell">
                <span
                  >{{ dt.alCode }} <br />
                  {{ dt.alName }}</span
                >
              </td>
            </ng-container>

            <ng-container *ngIf="isAG(agentLevel)">
              <td
                *ngIf="filterPromotion == 'สรุปการแข่งขัน'"
                class="position-center mat-cell "
              >
                <span
                  >{{ dt.agentCode }} <br />
                  {{ dt.agentName }}
                </span>
              </td>
              <td
                *ngIf="filterPromotion == 'คาดการณ์การแข่งขัน'"
                class="position-center mat-cell "
              >
                <span
                  >{{ dt.agentCode }} <br />
                  {{ dt.agentName }}
                </span>
              </td>
            </ng-container>

            <ng-container *ngIf="dt.type == 'POTENTIAL'">
              <td class="position-center mat-cell">
                {{ dt.agentPosition }}
              </td>
              <!-- <td class="position-center mat-cell">
            {{dt.contestCode}}
          </td>
          <td class="position-center mat-cell">
            {{dt.contestDesc}}
          </td>
          <td class="position-center mat-cell">
            {{dt.description}}
          </td> -->
            </ng-container>
            <!-- dynamic data -->
            <ng-container *ngFor="let detail of dt.detail; let i = index">
              <td
                *ngIf="filterPromotion == 'สรุปการแข่งขัน'"
                class="position-center mat-cell body-result tr-border"
              >
                {{ detail }}
              </td>
              <td
                *ngIf="filterPromotion == 'คาดการณ์การแข่งขัน'"
                class="position-center mat-cell body-potential td-border"
              >
                {{ detail }}
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- EMPTY LIST -->
    <div *ngIf="data.length < 1" class="text-center my-2">
      <span>ไม่พบข้อมูล</span>
    </div>
  </div>
</div>
