@import "../../../../../variable.scss";

table th, table td {
    font-size: 13px;
}

.td-border {
    border: 0.8px solid #f1bf5c66 !important;
}

table.table td, table.table th {
    padding: 5px 10px 5px 10px !important;
}

.table-color{
    background-color: #024EA1 ;
}

.modal-content {
    border-bottom: 0 none;
    border-right: 0 none;
    border-left: 0 none;
    border-top: 0 none;
}
.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

// .table {
//     width: 100%;
//     max-width: 100%;
//     padding: 0px 0px;
//     overflow-x: auto !important;
//     position: relative;
//     border-left: 1px solid #dee2e6;
//     border-right: 1px solid #dee2e6;
// }
.wrapper {
  width: 100%;
  height: 60vh;
//   border: 1px solid #333;
  overflow-y: auto;
}


// .position-center{
//     display: table-cell;
//     text-align: center;
//     vertical-align: middle;
// }
.modal{
    display: block !important;
}
.modal-dialog{
      overflow-y: initial !important
}
.modal-body{
  height: 70vh;
  overflow-y: auto;
}
.mat-cell {
    // border-style: solid;
    // border-width: 1px 1px !important;
    // border-color: #807f7f33;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.container {
    max-width: 100% !important;
}

.position-center{
    text-align: center;
    vertical-align: middle;
}

.header-potential{
    background-color: #d18b00 !important;
}

.body-potential{
    background-color: rgba(209, 140, 0, 0.2);
}

.header-result{
    background-color: #6b6b6b;
}

.body-result{
    background-color: #f7f7f7;
}
