@import "../../../../../variable.scss";

.col-6 {
  padding: 5px 15px 5px 15px;
}

.btn-custom-width {
  width: 100% !important; 
}

i.fa.fa-filter { color: $primary-color; }
.bt-custom { border-color:$primary-color ; color: $primary-color; }
.bt-custom:hover {background-color: $primary-color;color: white;}

.font-color-primary-tsli{
    color: #0e89d0;
}

.card {
  border: 0!important;
}

.btn-primary {
  background-color: #024EA1;
  color: white;
}
.btn-outline-primary {
  border-color: #024EA1;
  color: #024EA1;
}
.btn-outline-primary:hover {
  background-color: #024EA1;
  color: white;
}