<div class="row">
  <div class="col-6 col-md align-items-center" *ngFor="let item of listFilterCompensation">
    <button class="btn btn-custom-width btn-primary"
      (click)="onChangeFilterCompensation(item)"
      [class.btn-outline-primary]="filterCompensation != item"
      [class.btn-primary]="filterCompensation == item"
    >
      {{item}}
    </button>
  </div>  
</div>  
<hr>