.col-md-12{
  padding:0px;
}

.non-data {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  
}

.next-position {
  background-color: #1A745E !important;
  color: white;
}

.btn-custom-width {
  width: 100% !important; 
}

.btn-primary {
  background-color: #024EA1;
  color: white;
}
.btn-outline-primary {
  border-color: #024EA1;
  color: #024EA1;
}
.btn-outline-primary:hover {
  background-color: #024EA1;
  color: white;
}

table th, table td {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 3px 10px 2px;
  vertical-align: middle;
}

.table {
  width: 100%;
  max-width: 100%;
  margin: 0px 0px;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #D9D9D9;
}

.collect {
  background-color: #CBF3E9 !important
}

.non-data {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}

.table thead .tr-primary{
  background-color: #0072C2;
  color: white;
  vertical-align: top;
}

.table tbody tr .td-first {
  width: 30%;
  background-color: #E4EBF4;
}

.fa-check{
  font-size: 20px;
}

.remark{ 
  padding: 10px 5px 100px 5px;
}

.remark p{ 
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0px;
}

.period{ 
  padding: 10px 5px 15px 5px;
}

.period p{ 
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0px;
}


table th {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 3px 10px 2px;
  vertical-align: middle;
  border: 1px solid #D9D9D9;
}

.th-first {
  background-color: #E4EBF4;
}

@media only screen and (max-width: 768px) {
  .fa-check{
    font-size: 13px;
  }
  .table thead .tr-primary{
    padding: 5px 3px 5px 2px;
  }

  .remark p{ 
    font-size: 8px;
    font-weight: 400;
    margin-bottom: 0px;
  }
  
  .period p{ 
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0px;
  }
}