<div *ngIf="listFilterPeriodType.length > 1">
  <div class="row">
    <div class="col align-items-center pb-3" *ngFor="let item of listFilterPeriodType let i=index">
      <button class="btn btn-custom-width btn-primary"
        (click)="onChangeFilterPeriodType(item)"
        [class.btn-outline-primary]="filterPeriodType != item"
        [class.btn-primary]="filterPeriodType == item"
      >
        {{listFilterPeriodTypeName[i]}}
      </button>
    </div>  
  </div>  
 </div> 


<div class="row" *ngIf="blockName && blockData">
  <div class="col-md-6 mb-3" *ngFor="let blockName of blockName; let i=index">
    <table class="table">
      <thead>
        <tr>
          <th [ngClass]="blockName == 'Next Position' ? 'next-position' : '' " style="width: 50%;" class="th-first" scope="col">{{blockName}}</th>
          <th style="width: 50%;" scope="col">{{blockData[i]}}</th>
        </tr>
      </thead>
    </table>
  </div>
</div>  


<div class="col-md-12">
  <div *ngIf="period" class="period">
    <p>{{period}}</p>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr class="tr-primary">
        <ng-container  *ngFor="let tableHeader of tableHeader index as i;">
          <th *ngIf="i == 0" colspan="2" scope="col">{{ tableHeader }}</th>
          <th *ngIf="i != 0" scope="col">{{ tableHeader }}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="compensationConfig">
        <tr *ngIf="compensationConfig.validate1">
          <td style="width: 25%;" class="td-first">{{compensationConfig.validate1}}</td>
          <td style="width: 25%;" >{{compensationConfig.validateKpi1}}</td>
          <td style="width: 25%;" ></td>
          <td style="width: 25%;" ><i class="fas fa-check"></i></td>
        </tr>
        <tr *ngIf="compensationConfig.validate2">
          <td class="td-first">{{compensationConfig.validate2}}</td>
          <td>{{compensationConfig.validateKpi2}}</td>
          <td></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr *ngIf="compensationConfig.validate3">
          <td class="td-first">{{compensationConfig.validate3}}</td>
          <td>{{compensationConfig.validateKpi3}}</td>
          <td></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr *ngIf="compensationConfig.validate4">
          <td class="td-first">{{compensationConfig.validate4}}</td>
          <td>{{compensationConfig.validateKpi4}}</td>
          <td></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr *ngIf="compensationConfig.validate5">
          <td class="td-first">{{compensationConfig.validate5}}</td>
          <td>{{compensationConfig.validateKpi5}}</td>
          <td></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr *ngIf="compensationConfig.validate6">
          <td class="td-first">{{compensationConfig.validate6}}</td>
          <td>{{compensationConfig.validateKpi6}}</td>
          <td></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr *ngIf="compensationConfig.validate7">
          <td class="td-first">{{compensationConfig.validate7}}</td>
          <td>{{compensationConfig.validateKpi7}}</td>
          <td></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr *ngIf="compensationConfig.validate8">
          <td class="td-first">{{compensationConfig.validate8}}</td>
          <td>{{compensationConfig.validateKpi8}}</td>
          <td></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr *ngIf="compensationConfig.validate9">
          <td class="td-first">{{compensationConfig.validate9}}</td>
          <td>{{compensationConfig.validateKpi9}}</td>
          <td></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr *ngIf="compensationConfig.validate10">
          <td class="td-first">{{compensationConfig.validate10}}</td>
          <td>{{compensationConfig.validateKpi10}}</td>
          <td></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div *ngIf="compensationConfig && compensationConfig.length <= 1" class="text-center non-data">N/A</div>
  <div *ngIf="remark" class="remark">
    <p>หมายเหตุ</p>
    <ng-container *ngFor="let remark of remark">
      <p><li>{{ remark }}</li></p>
    </ng-container>
  </div>
</div>
