<app-m-flipped></app-m-flipped>
<div class="my-2 table-responsive m-table">
  <table class="table" *ngIf="agentLevel === 'ZONE'">
    <tr class="tr-primary">
      <td hdr="main" rowspan="2" group="zone">Zone</td>
      <th hdr="main" colspan="4" scope="colgroup" group="PC">PC MTD</th>
      <th hdr="main" colspan="3" scope="colgroup" group="Active">Active MTD</th>
      <th hdr="main" colspan="3" scope="colgroup" group="NC">NC MTD</th>
      <th hdr="main" colspan="2" scope="colgroup" group="Retention">Retention MTD</th>
      <th hdr="main" colspan="2" scope="colgroup" group="RYP">RYP MTD</th>
    </tr>
    <tr class="tr-secoundary">
      <th group="PC" scope="col">Target</th>
      <th group="PC" scope="col">Submit</th>
      <th group="PC" scope="col">Actual</th>
      <th group="PC" scope="col">%Target</th>

      <th group="Active" scope="col">Target</th>
      <th group="Active" scope="col">Actual</th>
      <th group="Active" scope="col">%Target</th>

      <th group="NC" scope="col">Target</th>
      <th group="NC" scope="col">Actual</th>
      <th group="NC" scope="col">%Target</th>

      <th group="Retention" scope="col">Target</th>
      <th group="Retention" scope="col">Actual</th>

      <th group="RYP" scope="col">Target</th>
      <th group="RYP" scope="col">Actual</th>
    </tr>  
    <tr class="tr-data" [attr.level]="item.staffLevel" *ngFor="let item of data">
      <th group="zone" scope="row" *ngIf="item.staffLevel === 'COMPANY'">{{totalLabel}}</th>
      <th group="channel" scope="row" *ngIf="item.staffLevel === 'CHANNEL'">{{item.code}}</th>
      <th group="zone" scope="row" *ngIf="item.staffLevel === 'ZONE'">{{item.zoneName}}</th>
      
      <ng-container *ngIf="item.staffLevel !== 'CHANNEL'">
        <td class="text-right" group="PC" >
          {{item.targetPc/1000 | number : '1.0-0'}}<span *ngIf="item.targetPc > 0">K</span>
        </td>
        <td class="text-right" group="PC" >
          {{item.pcSubmit/1000 | number : '1.0-0'}}<span *ngIf="item.pcSubmit > 0">K</span>
        </td>
        <td class="text-right" group="PC" >
          {{item.pcApprove/1000 | number : '1.0-0'}}<span *ngIf="item.pcApprove > 0">K</span>
        </td>
        <td class="text-right" group="PC" >{{item.pcPercent | number : '1.2-2'}}%</td>  
        <td class="text-right" group="Active">{{item.targetAct | number : '1.0-0'}}</td>

        <td class="text-right" group="Active">{{item.active | number : '1.0-0'}}</td>
        <td class="text-right" group="Active">{{item.activePercent | number : '1.2-2'}}%</td>

        <td class="text-right" group="NC">{{item.targetNc | number : '1.0-0'}}</td>
        <td class="text-right" group="NC">{{item.nc | number : '1.0-0'}}</td>
        <td class="text-right" group="NC">{{item.ncPercent | number : '1.2-2'}}%</td>

        <td class="text-right" group="Retention">{{item.targetRt | number : '1.2-2'}}%</td>
        <td class="text-right" group="Retention">{{item.retention | number : '1.2-2'}}%</td>

        <td class="text-right" group="RYP">
          {{item.targetRyp/1000 | number : '1.0-0'}}<span *ngIf="item.targetRyp > 0">K</span>
        </td>
        <td class="text-right" group="RYP">
          {{item.ryp/1000 | number : '1.0-0'}}<span *ngIf="item.ryp > 0">K</span>
        </td>
      </ng-container>

      <ng-container *ngIf="item.staffLevel === 'CHANNEL'">
        <td class="text-right" group="PcChannel" >
          {{item.targetPc/1000 | number : '1.0-0'}}<span *ngIf="item.targetPc > 0">K</span>
        </td>
        <td class="text-right" group="PcChannel" >
          {{item.pcSubmit/1000 | number : '1.0-0'}}<span *ngIf="item.pcSubmit > 0">K</span>
        </td>
        <td class="text-right" group="PcChannel" >
          {{item.pcApprove/1000 | number : '1.0-0'}}<span *ngIf="item.pcApprove > 0">K</span>
        </td>
        <td class="text-right" group="PcChannel" >{{item.pcPercent | number : '1.2-2'}}%</td>
  
        <td class="text-right" group="ActiveChannel">{{item.targetAct | number : '1.0-0'}}</td>
        <td class="text-right" group="ActiveChannel">{{item.active | number : '1.0-0'}}</td>
        <td class="text-right" group="ActiveChannel">{{item.activePercent | number : '1.2-2'}}%</td>
  
        <td class="text-right" group="NcChannel">{{item.targetNc | number : '1.0-0'}}</td>
        <td class="text-right" group="NcChannel">{{item.nc | number : '1.0-0'}}</td>
        <td class="text-right" group="NcChannel">{{item.ncPercent | number : '1.2-2'}}%</td>
  
        <td class="text-right" group="RetentionChannel">{{item.targetRt | number : '1.2-2'}}%</td>
        <td class="text-right" group="RetentionChannel">{{item.retention | number : '1.2-2'}}%</td>
  
        <td class="text-right" group="RypChannel">
          {{item.targetRyp/1000 | number : '1.0-0'}}<span *ngIf="item.targetRyp > 0">K</span>
        </td>
        <td class="text-right" group="RypChannel">
          {{item.ryp/1000 | number : '1.0-0'}}<span *ngIf="item.ryp > 0">K</span>
        </td>
      </ng-container>
    </tr>
  </table>

  <!-- REMOVE or Not... -->
  <table class="table" *ngIf="agentLevel !== 'ZONE'">
    <tr class="tr-primary">
      <td rowspan="2" group="zone">{{data[0].levelName}}</td>
      <th colspan="4" scope="colgroup" group="PC">PC MTD</th>
      <th colspan="3" scope="colgroup" group="Active">Active MTD</th>
      <th colspan="3" scope="colgroup" group="NC" [hidden]="agentLevel === 'AGENT'">NC MTD</th>
      <th colspan="2" scope="colgroup" group="RYP">RYP MTD</th>
    </tr>
    <tr class="tr-secoundary">
      <th group="PC" scope="col">Target</th>
      <th group="PC" scope="col">Submit</th>
      <th group="PC" scope="col">Actual</th>
      <th group="PC" scope="col">%Target</th>

      <th group="Active" scope="col">Target</th>
      <th group="Active" scope="col">Actual</th>
      <th group="Active" scope="col">%Target</th>

      <th group="NC" scope="col" [hidden]="agentLevel === 'AGENT'">Target</th>
      <th group="NC" scope="col" [hidden]="agentLevel === 'AGENT'">Actual</th>
      <th group="NC" scope="col" [hidden]="agentLevel === 'AGENT'">%Target</th>

      <th group="RYP" scope="col">Target</th>
      <th group="RYP" scope="col">Actual</th>
    </tr>  
    <tr class="tr-data" *ngFor="let item of data">
      <th group="zone" scope="row">{{item.agentCode}}</th>
      <td class="text-right" group="PC" >{{item.targetPc | number : '1.0-0'}}</td>
      <td class="text-right" group="PC" >{{item.pcSubmit | number : '1.0-0'}}</td>
      <td class="text-right" group="PC" >{{item.pcApprove | number : '1.0-0'}}</td>
      <td class="text-right" group="PC" >{{item.pcPercent | number : '1.2-2'}}%</td>

      <td class="text-right" group="Active">{{item.targetAct | number : '1.0-0'}}</td>
      <td class="text-right" group="Active">{{item.active | number : '1.0-0'}}</td>
      <td class="text-right" group="Active">{{item.activePercent | number : '1.2-2'}}%</td>

      <td class="text-right" group="NC" [hidden]="agentLevel === 'AGENT'">{{item.targetNc | number : '1.0-0'}}</td>
      <td class="text-right" group="NC" [hidden]="agentLevel === 'AGENT'">{{item.nc | number : '1.0-0'}}</td>
      <td class="text-right" group="NC" [hidden]="agentLevel === 'AGENT'">{{item.ncPercent | number : '1.2-2'}}%</td>

      <td class="text-right" group="RYP">{{item.targetRyp | number : '1.0-0'}}</td>
      <td class="text-right" group="RYP">{{item.ryp | number : '1.0-0'}}</td>
    </tr>
  </table>


</div>

<!-- Mobile -->
<div class="mobile d-none">
  <div class="row">
    <!-- Staff Mobile -->
    <div class="card col-12" *ngIf="agentLevel === 'ZONE'">
      <div *ngFor="let item of data; let i = index" [attr.data-index]="i">

        <h4 class="card-header accordion-toggle px-lg-0"(click)="handleClickCollapsed(i)"
          [attr.aria-expanded]="!isCollapsed_arr[i]['isCollapsed']" aria-controls="collapseBasic" *ngIf="item.staffLevel === 'COMPANY'">
          {{totalLabel}} <i class="fa fa-chevron-down"></i>
        </h4>

        <h4 class="card-header accordion-toggle px-lg-0"(click)="handleClickCollapsed(i)"
          [attr.aria-expanded]="!isCollapsed_arr[i]['isCollapsed']" aria-controls="collapseBasic" *ngIf="item.staffLevel === 'CHANNEL'">
          {{item.code}} <i class="fa fa-chevron-down"></i>
        </h4>

        <h4 class="card-header accordion-toggle px-lg-0"(click)="handleClickCollapsed(i)"
          [attr.aria-expanded]="!isCollapsed_arr[i]['isCollapsed']" aria-controls="collapseBasic" *ngIf="item.staffLevel === 'ZONE'">
          {{item.zoneName}} <i class="fa fa-chevron-down"></i>
        </h4>
    
        <div class="py-3 px-0 mb-0 card-body" id="collapseBasic" [collapse]="isCollapsed_arr[i]['isCollapsed']" [isAnimated]="false">
        
          <!-- PC -->
          <table group="PC-block" class="table mobile-table mb-2">
            <tr>
              <td rowspan="2" group="PC-Mobile">PC</td>
              <th group="PC" class="py-1 border-0">Target</th>
              <th group="PC" class="py-1 border-0">Submit</th>
              <th group="PC" class="py-1 border-0">Actual</th>
              <th group="PC" class="py-1 border-0">%Target</th>
            </tr>
            <tr>
              <td group="PC" class="border-0">{{item.targetPc/1000 | number : '1.0-0'}}K</td>
              <td group="PC" class="border-0">{{item.pcSubmit/1000 | number : '1.0-0'}}K</td>
              <td group="PC" class="border-0">{{item.pcApprove/1000 | number : '1.0-0'}}K</td>
              <td group="PC" class="border-0">{{item.pcPercent | number : '1.2-2'}}%</td>
            </tr>
          </table>

          <!-- ACTIVE -->
          <table group="Active-block" class="table mobile-table mb-2">
            <tr>
              <td rowspan="2" group="Active-Mobile">Active</td>
              <th group="Active" class="py-1 border-0">Target</th>
              <th group="Active" class="py-1 border-0">Actual</th>
              <th group="Active" class="py-1 border-0">%Target</th>
            </tr>
            <tr>
              <td group="Active" class="border-0">{{item.targetAct/1000 | number : '1.0-0'}}K</td>
              <td group="Active" class="border-0">{{item.active/1000 | number : '1.0-0'}}K</td>
              <td group="Active" class="border-0">{{item.activePercent | number : '1.2-2'}}%</td>
            </tr>
          </table>

          <!-- NC -->
          <table group="NC-block" class="table mobile-table mb-2">
            <tr>
              <td rowspan="2" group="NC-Mobile">NC</td>
              <th group="NC" class="py-1 border-0">Target</th>
              <th group="NC" class="py-1 border-0">Actual</th>
              <th group="NC" class="py-1 border-0">%Target</th>
            </tr>
            <tr>
              <td group="NC" class="border-0">{{item.targetNc/1000 | number : '1.0-0'}}K</td>
              <td group="NC" class="border-0">{{item.nc/1000 | number : '1.0-0'}}K</td>
              <td group="NC" class="border-0">{{item.ncPercent | number : '1.2-2'}}%</td>
            </tr>
          </table>

          <!-- Retention -->
          <table group="Retention-block" class="table mobile-table mb-2">
            <tr>
              <td rowspan="2" group="Retention-Mobile">RETENTION</td>
              <th group="Retention" class="py-1 border-0">Target</th>
              <th group="Retention" class="py-1 border-0">Actual</th>
            </tr>
            <tr>
              <td group="Retention" class="border-0">{{item.targetRt | number : '1.2-2'}}%</td>
              <td group="Retention" class="border-0">{{item.retention | number : '1.2-2'}}%</td>
            </tr>
          </table>

          <!-- RYP -->
          <table group="RYP-block" class="table mobile-table mb-2">
            <tr>
              <td rowspan="2" group="RYP-Mobile">RYP</td>
              <th group="RYP" class="py-1 border-0">Target</th>
              <th group="RYP" class="py-1 border-0">Actual</th>
            </tr>
            <tr>
              <td group="RYP" class="border-0">{{item.targetRyp/1000 | number : '1.0-0'}}K</td>
              <td group="RYP" class="border-0">{{item.ryp/1000 | number : '1.0-0'}}K</td>
            </tr>
          </table>

        </div>  
      </div>
    </div>

    <!-- AGENT Mobile -->
    <div class="card col-12" *ngIf="agentLevel !== 'ZONE'">
      <div *ngFor="let item of data">
        <h4 class="card-header accordion-toggle px-lg-0"(click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
          {{item.agentCode}} <i class="fa fa-chevron-down"></i>
        </h4>
    
        <div class="py-3 px-0 mb-0 card-body" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="false">
        
          <!-- PC -->
          <table group="PC-block" class="table mobile-table mb-2">
            <tr>
              <td rowspan="2" group="PC-Mobile">PC</td>
              <th group="PC" class="py-1 border-0">Target</th>
              <th group="PC" class="py-1 border-0">Submit</th>
              <th group="PC" class="py-1 border-0">Actual</th>
              <th group="PC" class="py-1 border-0">%Target</th>
            </tr>
            <tr>
              <td group="PC" class="border-0">{{item.targetPc | number : '1.0-0'}}</td>
              <td group="PC" class="border-0">{{item.pcSubmit | number : '1.0-0'}}</td>
              <td group="PC" class="border-0">{{item.pcApprove | number : '1.0-0'}}</td>
              <td group="PC" class="border-0">{{item.pcPercent | number : '1.2-2'}}%</td>
            </tr>
          </table>

          <!-- ACTIVE -->
          <table group="Active-block" class="table mobile-table mb-2">
            <tr>
              <td rowspan="2" group="Active-Mobile">Active</td>
              <th group="Active" class="py-1 border-0">Target</th>
              <th group="Active" class="py-1 border-0">Actual</th>
              <th group="Active" class="py-1 border-0">%Target</th>
            </tr>
            <tr>
              <td group="Active" class="border-0">{{item.targetAct | number : '1.0-0'}}</td>
              <td group="Active" class="border-0">{{item.active | number : '1.0-0'}}</td>
              <td group="Active" class="border-0">{{item.activePercent | number : '1.2-2'}}%</td>
            </tr>
          </table>

          <!-- NC -->
          <table group="NC-block" class="table mobile-table mb-2" [hidden]="agentLevel === 'AGENT'">
            <tr>
              <td rowspan="2" group="NC-Mobile">NC</td>
              <th group="NC" class="py-1 border-0">Target</th>
              <th group="NC" class="py-1 border-0">Actual</th>
              <th group="NC" class="py-1 border-0">%Target</th>
            </tr>
            <tr>
              <td group="NC" class="border-0">{{item.targetNc | number : '1.0-0'}}</td>
              <td group="NC" class="border-0">{{item.nc | number : '1.0-0'}}</td>
              <td group="NC" class="border-0">{{item.ncPercent | number : '1.2-2'}}%</td>
            </tr>
          </table>

          <!-- RYP -->
          <table group="RYP-block" class="table mobile-table mb-2">
            <tr>
              <td rowspan="2" group="RYP-Mobile">RYP</td>
              <th group="RYP" class="py-1 border-0">Target</th>
              <th group="RYP" class="py-1 border-0">Actual</th>
            </tr>
            <tr>
              <td group="RYP" class="border-0">{{item.targetRyp | number : '1.0-0'}}</td>
              <td group="RYP" class="border-0">{{item.ryp | number : '1.0-0'}}</td>
            </tr>
          </table>

        </div>  
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <span style="font-size: 14px; font-weight: bold;">{{remark}}</span>
</div>