.tr-primary , .tr-secoundary {font-size: 14px; text-align: center; color: #fff;}
.tr-primary {font-weight: bolder!important;}
.tr-data ,.tr-secoundary {font-weight: 300;}
.tr-primary >th {border-bottom: 0!important; padding:3px 0;}
.tr-secoundary >th {border-top: 0!important; padding:3px 0;}

*[group='zone'], tr[level='COMPANY']> *[group='zone'] {background-color: rgb(4,136,208); text-align: center; width: 70px; min-width: 70px;max-width: 70px;}
*[group='PC'],tr[level='COMPANY']> *[group='PC'], .mobile-table [group='PC-Mobile']{background-color: rgb(27,94,32); text-align: center;}
*[group='Active'],tr[level='COMPANY'] > *[group='Active'],.mobile-table [group='Active-Mobile']{background-color: rgb(183,28,28); text-align: center;}
*[group='NC'],tr[level='COMPANY']> *[group='NC'] ,.mobile-table [group='NC-Mobile']{background-color:rgb(209,140,0); text-align: center;}
*[group='Retention'],tr[level='COMPANY']> *[group='Retention'] ,.mobile-table [group='Retention-Mobile']{background-color: rgb(18,54,109); text-align: center;}
*[group='RYP'],tr[level='COMPANY']> *[group='RYP'], .mobile-table [group='RYP-Mobile']{background-color: rgb(106,27,154); text-align: center;}

.tr-data>[group='channel']{ background-color: rgb(4,136,208,0.4); text-align: center; width: 70px; min-width: 70px;max-width: 70px;}
.tr-data>[group='PcChannel'], .mobile-table [group='PcChannel']{ background-color: rgb(27,94,32,0.4);}
.tr-data>[group='ActiveChannel'], .mobile-table [group='ActiveChannel']{ background-color: rgb(183,28,28,0.4);}
.tr-data>[group='NcChannel'], .mobile-table [group='NcChannel'] { background-color: rgb(209,140,0,0.4);}
.tr-data>[group='RetentionChannel'], .mobile-table [group='RetentionChannel'] { background-color: rgb(18,54,109,0.4);}
.tr-data>[group='RypChannel'], .mobile-table [group='RypChannel'] { background-color: rgb(106,27,154,0.4);}

.tr-data>[group='zone']{ background-color:#fff;}
.tr-data>[group='PC'], .mobile-table [group='PC']{ background-color: #e8f5e9;}
.tr-data>[group='Active'], .mobile-table [group='Active']{ background-color: rgb(183,28,28,0.2);}
.tr-data>[group='NC'], .mobile-table [group='NC'] { background-color: rgb(209,140,0,0.2);}
.tr-data>[group='Retention'], .mobile-table [group='Retention'] { background-color: rgb(18,54,109,0.2);}
.tr-data>[group='RYP'], .mobile-table [group='RYP'] { background-color: rgb(106,27,154,0.2);}

.mobile-table [group='PC'],.mobile-table [group='Active'],.mobile-table [group='NC'],.mobile-table [group='Retention'],.mobile-table [group='RYP'] 
.mobile-table [group='PcChannel'],.mobile-table [group='ActiveChannel'],.mobile-table [group='NcChannel'],.mobile-table [group='RetentionChannel'],.mobile-table [group='RypChannel'] 
{ padding: 0.25rem 0; }

tr[level='COMPANY'] {color: #FFF;}
td, th {
    padding: 5px 4px 2px 2px!important;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bolder;
    border-color: #fff!important;
    border-width: 0.55px!important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media only screen 
and (min-device-width: 355px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .table  , .tr-primary, .tr-secoundary , .table ,tr ,td , th  {
        font-size: 8px!important;
    }
} 
@media (max-width: 768px) {  
    .table  , .tr-primary, .tr-secoundary , .table ,tr ,td , th  {
        font-size: 8px!important;
    }
}

//collapse
.accordion-toggle[aria-expanded="true"] i:before {
    content: "\f077";
    //font: normal normal normal 14px/1 FontAwesome;
}

.accordion-toggle[aria-expanded="false"] i:before {
    content: "\f078";
   // font: normal normal normal 14px/1 FontAwesome;
}
.mobile .card {border: 0;}
.card-header.accordion-toggle {
    background: transparent;
    position: relative;
    border-bottom:1px solid;
}
#collapseBasic {
    border-bottom: 1px solid;
    font-size: 11.5px;
}
i.fa.fa-chevron-down {
    position: absolute;
    right: 9px;
    top: 23px;
    font-size: 18px;
}
.mobile [rowspan='2'] {
    color: white;
    max-width: 80px;
    color: white;
    width: 85px;
    min-width: 80px;
}
