@import "../../../../variable.scss";


.bg-base {
    background-color:$base-color ;
}



.head-area {
    height: auto;
}
.scroll-row {
     overflow-x: scroll;
     width: 100%;
     display: inline-flex;
}
.card-header-cs {
    padding: 1.25rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,.500);
}
.kpi-box-color {
  background-color: #024b9f;
}
.bg-legend-cur-year {
  background-color: rgba(2,77,161,1);
}
.bg-legend-last-year {
  background-color: rgba(255,87,34,1);
}
.table-header-kpi-text{
  text-align:center;
  font-weight: 500;
  color: #FFFFFF;
}
.table-subheader-kpi-text{
  text-align:center;
  font-weight: 400;
  color: #FFFFFF;
}
.table-content-text{
  text-align:center;
  font-weight: 500;
  color: #424242;
}
.table-border {
  border-right-style: solid;
  border-right-width: medium;
  border-right-color: white;
}
.table-bg-header-level{
  background-color:#0e89d0;
}
.table-bg-content-level{
  background-color:white
}
.table-bg-header-pc{
  background-color:#1d5e22;
}
.table-bg-content-pc{
  background-color:#f2faf3;
}
.table-bg-header-act{
  background-color:#b71e20;
}
.table-bg-content-act{
  background-color:#fef4f6;
}

.table-bg-header-nc{
  background-color:#d18b00;
}
.table-bg-content-nc{
  background-color:#fffbef;
}

.table-bg-header-ryp{
  background-color:#691f9b;
}
.table-bg-content-ryp{
  background-color:#fcf7fb;
}
.table-bg-subheader-pc{
  background-color:#1d5e22;
  border-top-color: #1d5e22;
}
.table-bg-subheader-act{
  background-color:#b71e20;
  border-top-color:#b71e20;
}
.table-bg-subheader-nc{
  background-color:#d18b00;
  border-top-color:#d18b00;
}
.table-bg-subheader-ryp{
  background-color:#691f9b;
  border-top-color:#691f9b;
}

.kpi-box-radius{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
}
.highlight {
  background-color: #c4e4ff69 !important;
}
