<div class="bg-base">
  <div class="container head-area py-4 px-0">
    <div class="d-flex">
      <div class="p-2">  <p class="h3 font-weight-bold" [translate]="'manage.device.title'"></p></div>
      <div class="ml-auto p-2">
        <button class="btn btn-primary btn-round" (click)="goHome()"><i class="fa fa-chevron-left"></i> HOME</button>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="mt-4">
    <div class="form-group row">
      <label
        for="deviceId"
        class="col-lg-3 col-xl-2 col-sm-12 col-form-label font-weight-bold"
        [translate]="'manage.device.current.device.id'"
        ></label
      >
      <div class="col-lg-9 col-xl-10 col-md-12 col-sm-12">
        <input
          type="text"
          class="form-control-plaintext"
          id="deviceId"
          placeholder=""
          [(ngModel)]="deviceId"
          disabled
        />
      </div>
    </div>
    <div class="form-group row justify-content-end">
      <label
        for="deviceName"
        class="col-lg-3 col-xl-2 col-sm-12 col-form-label font-weight-bold"
        [translate]="'manage.device.current.device.name'"
      ></label>
      <div class="col-lg-9 col-xl-10 col-md-12 col-sm-12">
        <input
          type="text"
          class="form-control"
          id="deviceName"
          [(ngModel)]="deviceName"
        />
      </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-outline-primary float-right"
            (click)="saveDevice()"
          >
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {{ "manage.device.btn.add" | translate }}
          </button>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="text-center" *ngIf="devices === undefined">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div class="table-responsive" *ngIf="devices !== undefined">
        <table class="table-hover table table-bordered table-striped">
          <thead>
            <tr class="table-info text-center">
              <th scope="col" [translate]="'manage.device.table.col1'"></th>
              <th scope="col" [translate]="'manage.device.table.col2'"></th>
              <th scope="col" [translate]="'manage.device.table.col3'"></th>
              <th scope="col" [translate]="'manage.device.table.col4'"></th>
              <th scope="col" [translate]="'manage.device.table.col5'"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let device of devices; let i = index"
              [ngClass]="{ highlight: isHighLight(device.deviceId) }"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td class="text-justify">{{ device.deviceId }}</td>
              <td>{{ device.deviceName }}</td>
              <td class="text-center">{{ device.deviceType }}</td>
              <td class="text-center">
                <button
                  class="btn btn-outline-danger"
                  (click)="deleteDevice(device.id)"
                >
                  <mdb-icon far icon="trash-alt"></mdb-icon>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf="devices === undefined || devices.length == 0">
            <tr>
              <td colspan="5" class="text-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <br />
      <br />
      <br />
    </div>
  </div>

  <div class="py-4">

  </div>

</div>
