<app-m-flipped></app-m-flipped>


<div class="table-responsive m-table">
  <table class="table table-hover kpi-yrs">
    <thead class="">
      <tr>
        <th scope="col" rowspan="1" group="dkr-blue"></th>
        <th scope="col">JAN</th>
        <th scope="col">FEB</th>    
        <th scope="col">MAR</th>
        <th scope="col">APR</th>
        <th scope="col">MAY</th>
        <th scope="col">JUN</th>
        <th scope="col">JUL</th>
        <th scope="col">AUG</th>
        <th scope="col">SEP</th>
        <th scope="col">OCT</th>
        <th scope="col">NOV</th>
        <th scope="col">DEC</th>
        <th scope="col" group="dkr-blue" *ngIf="tableType !== 'retention'">YTD</th>
      </tr>
    </thead>

    <!-- normal table -->
    <tbody *ngIf="tableType === 'normal'">
      <!-- TARGET -->
      <tr *ngIf="groupType == 'INDIVIDUAL'">
        <th scope="row">Target</th>
        <td class="text-right" *ngFor="let item of targetSerie">{{item | number : '1.0-0'}}</td>
        <td class="text-right">{{dataYTD['target'] | number : '1.0-0'}}</td>
      </tr>
      <!-- SUBMIT -->
      <tr *ngIf="showSubmit">
        <th scope="row">Submit</th>
        <td class="text-right" *ngFor="let item of submitSerie">{{item | number : '1.0-0'}}</td>
        <td class="text-right">{{dataYTD['submit'] | number : '1.0-0'}}</td>
      </tr>
      <!-- APPROVE CURRENT YEAR -->
      <tr>
        <th scope="row">Actual {{currentYear}}</th>
        <td class="text-right" *ngFor="let item of approveCurrentSerie">{{item | number : '1.0-0'}}</td>
        <td class="text-right">{{dataYTD['approveCur'] | number : '1.0-0'}}</td>
      </tr>
      <!-- APPROVE LAST YEAR -->
      <tr group="last-yrs" *ngIf="!hideLastYear">
        <th scope="row">Actual {{currentYear-1}}</th>
        <td class="text-right" *ngFor="let item of approveLastSerie">{{item | number : '1.0-0'}}</td>
        <td class="text-right">{{dataYTD['approveLast'] | number : '1.0-0'}}</td>
      </tr>
      <!-- PERCENTAGE APPROVE -->
      <tr *ngIf="groupType == 'INDIVIDUAL'">
        <th scope="row">%Target</th>
        <td class="text-right" *ngFor="let item of approvePercentSerie">{{item | number : '1.2-2'}}%</td>
        <td class="text-right">{{dataYTD['percent'] | number : '1.2-2'}}%</td>
      </tr>
      <!-- GROWTH -->
      <tr *ngIf="groupType == 'GROUP' && !hideLastYear ">
        <th scope="row">%Growth</th>
        <td class="text-right" *ngFor="let item of approvePercentSerie">{{item | number : '1.2-2'}}%</td>
        <td class="text-right">{{dataYTD['percent'] | number : '1.2-2'}}%</td>
      </tr>
    </tbody>

    <!-- divide K unit -->
    <tbody *ngIf="tableType === 'k_unit'">
      <!-- TARGET -->
      <tr>
        <th scope="row">Target</th>
        <td class="text-right" *ngFor="let item of targetSerie"> 
          {{item | number : '1.0-0'}}<span *ngIf="item > 0" >K</span> 
        </td>
        <td class="text-right">
          {{dataYTD['target']/1000 | number : '1.0-0'}}<span *ngIf="dataYTD['target']/1000 > 0" >K</span>
        </td>
      </tr>
      <!-- SUBMIT -->
      <tr *ngIf="showSubmit">
        <th scope="row">Submit</th>
        <td class="text-right" *ngFor="let item of submitSerie">
          {{item | number : '1.0-0'}}<span *ngIf="item > 0" >K</span>
        </td>
        <td class="text-right">
          {{dataYTD['submit']/1000 | number : '1.0-0'}}<span *ngIf="dataYTD['submit']/1000 > 0" >K</span>
        </td>
      </tr>
      <!-- APPROVE CURRENT YEAR -->
      <tr>
        <th scope="row">Actual {{currentYear}}</th>
        <td class="text-right" *ngFor="let item of approveCurrentSerie">
          {{item | number : '1.0-0'}}<span *ngIf="item > 0" >K</span>
        </td>
        <td class="text-right">
          {{dataYTD['approveCur']/1000 | number : '1.0-0'}}<span *ngIf="dataYTD['approveCur']/1000 > 0" >K</span>
        </td>
      </tr>
      <!-- APPROVE LAST YEAR -->
      <tr group="last-yrs" *ngIf="!hideLastYear">
        <th scope="row">Actual {{currentYear-1}}</th>
        <td class="text-right" *ngFor="let item of approveLastSerie">
          {{item | number : '1.0-0'}} <span *ngIf="item > 0" >K</span>
        </td>
        <td class="text-right">
          {{dataYTD['approveLast']/1000 | number : '1.0-0'}} <span *ngIf="dataYTD['approveLast']/1000 > 0" >K</span>
        </td>
      </tr>
      <!-- PERCENTAGE APPROVE -->
      <tr>
        <th scope="row">%Target</th>
        <td class="text-right" *ngFor="let item of approvePercentSerie">{{item | number : '1.2-2'}}%</td>
        <td class="text-right">{{dataYTD['percent'] | number : '1.2-2'}}%</td>
      </tr>
    </tbody>

    <!-- retention only -->
    <tbody *ngIf="tableType === 'retention'">
      <!-- TARGET -->
      <tr>
        <th scope="row">Target</th>
        <td class="text-right" *ngFor="let item of targetSerie">{{item | number : '1.2-2'}}%</td>
      </tr>
      <!-- APPROVE CURRENT YEAR -->
      <tr>
        <th scope="row">Actual {{currentYear}}</th>
        <td class="text-right" *ngFor="let item of approveCurrentSerie">
          {{item | number : '1.2-2'}} <span *ngIf="item > 0" >%</span>
        </td>
      </tr>
      <!-- APPROVE LAST YEAR -->
      <tr group="last-yrs" *ngIf="!hideLastYear">
        <th scope="row">Actual {{currentYear-1}}</th>
        <td class="text-right" *ngFor="let item of approveLastSerie">
          {{item | number : '1.2-2'}} <span *ngIf="item > 0" >%</span>
        </td>
      </tr>
    </tbody>

    <!-- active with Symbol -->
    <tbody *ngIf="tableType === 'activeSymbol'">
      <!-- APPROVE CURRENT YEAR -->
      <tr>
        <th scope="row">Active {{currentYear}}</th>
        <td *ngFor="let item of approveCurrentSerie">
          <i class="fa fa-minus" aria-hidden="true" *ngIf="item === null" style="color: black;"></i>
          <i class="fa fa-times" aria-hidden="true" *ngIf="item <= 0 && item !== null" style="color: red;"></i>
          <i class="fa fa-check" aria-hidden="true" *ngIf="item >= 1" style="color: green;"></i>
        </td>
        <td>{{dataYTD['approveCur'] | number }}</td>
      </tr>
      <!-- APPROVE LAST YEAR -->
      <tr group="last-yrs" *ngIf="!hideLastYear">
        <th scope="row">Active {{currentYear-1}}</th>
        <td *ngFor="let item of approveLastSerie">
          <i class="fa fa-minus" aria-hidden="true" *ngIf="item === null" style="color: black;"></i>
          <i class="fa fa-times" aria-hidden="true" *ngIf="item <= 0 && item !== null" style="color: red;"></i>
          <i class="fa fa-check" aria-hidden="true" *ngIf="item >= 1" style="color: green;"></i>
        </td>
        <td>{{dataYTD['approveLast'] | number }}</td>
      </tr>
    </tbody>
  </table>
</div>
