
.kpi-yrs {
    border: 1px solid #CFD8DD;
    text-align: center;
    font-size: 11px;
    // table-layout: fixed;
    // word-wrap: break-word;
    // overflow: scroll;

}
.kpi-yrs thead th{
    background-color: #0072C2;
    border: 1px solid #CFD8DD;
    color: white;
    padding: 5px 3px 5px 2px;

}
.kpi-yrs td {    
    border: 0.5px solid #CFD8DD;
    max-width: 75px;
    padding: 5px 3px 5px 2px;
    vertical-align: middle;
    // width: 100%;
}
.kpi-yrs thead th:first-child , .kpi-yrs thead th:last-child {
    background-color: #024A9F;
    color: white; 
    max-width: 55px;
} 
.kpi-yrs tbody tr th:first-child, .kpi-yrs tbody tr td:last-child{
    background-color:#E4EBF4;
    padding: 5px 3px 5px 2px;
    max-width: 55px;
}

tr[group='last-yrs'],tr[scope='row']{
    background-color: #efefef!important;
    z-index: 999;
}
tr {
    vertical-align: middle;
}