table th, table td {
    font-size: 13px;
}

.table {
    width: 100%;
    max-width: 100%;
    padding: 0px 0px;
}

.sub-detail-sortable{
    cursor: pointer;
 }

.sub-detail-table {
    text-align: center;
    font-size: 13px;
}

.sub-detail-table thead .tr-primary .first{
    background-color: #0072C2;
    color: white;
    padding: 5px 3px 5px 2px;
    vertical-align: top;
}

.sub-detail-table thead .tr-primary .agentInfo{
    background-color: #FFF;
    color: white;
    padding: 5px 3px 5px 2px;
}

.sub-detail-table thead .tr-primary .second-PC-0{
    background-color: #1b5e20;
    color: white;
    padding: 5px 3px 5px 2px;
    vertical-align: top;
}  

.sub-detail-table thead .tr-primary .second-PC-1{
    background-color: #D18b00;
    color: white;
    padding: 5px 3px 5px 2px;
    vertical-align: top;
}

.sub-detail-table thead .tr-primary .second-ACTIVE-0{
    background-color: #1b5e20;
    color: white;
    padding: 5px 3px 5px 2px;
}

.sub-detail-table thead .tr-primary .second-ACTIVE-1{
    background-color: #D18b00;
    color: white;
    padding: 5px 3px 5px 2px;
}

.sub-detail-table thead .tr-primary .second-NC-0{
    background-color: #1b5e20;
    color: white;
    padding: 5px 3px 5px 2px;
}

.sub-detail-table thead .tr-primary .second-NC-1{
    background-color: #D18b00;
    color: white;
    padding: 5px 3px 5px 2px;
}

.sub-detail-table thead .tr-primary .second-NC-2{
    background-color: #FBC02D;
    color: white;
    padding: 5px 3px 5px 2px;
}

.sub-detail-table thead .tr-primary .second-NC-3{
    background-color: #6b6b6b;
    color: white;
    padding: 5px 3px 5px 2px;
}

.sub-detail-table thead .tr-primary .second-RYP-0{
    background-color: #1b5e20;
    color: white;
    padding: 5px 3px 5px 2px;
    vertical-align: top;
}

.sub-detail-table thead .tr-primary .second-RYP-1{
    background-color: #D18b00;
    color: white;
    padding: 5px 3px 5px 2px;
    vertical-align: top;
}

.sub-detail-table thead .tr-primary .second-RYP-2{
    background-color: #6b6b6b;
    color: white;
    padding: 5px 3px 5px 2px;
    vertical-align: top;
}

.sub-detail-table thead .tr-primary .second-RETENTION-0{
    background-color: #1b5e20;
    color: white;
    padding: 5px 3px 5px 2px;
    vertical-align: top;
}

.sub-detail-table thead .tr-primary .second-RETENTION-1{
    background-color: #D18b00;
    color: white;
    padding: 5px 3px 5px 2px;
    vertical-align: top;
}

.sub-detail-table tbody .second-PC-0{
    background-color:#e8f5e9;
    vertical-align: top;
}

.sub-detail-table tbody .second-PC-1{
    background-color:#D18C0033;
    vertical-align: top;
}

.sub-detail-table tbody .second-ACTIVE-0{
    background-color: #e8f5e9;
    vertical-align: top;
}

.sub-detail-table tbody .second-ACTIVE-1{
    background-color: #D18C0033;
    vertical-align: top;
}

.sub-detail-table tbody .second-NC-0{
    background-color:#e8f5e9;
    vertical-align: top;
}

.sub-detail-table tbody .second-NC-1{
    background-color:#D18C0033;
    vertical-align: top;
}

.sub-detail-table tbody .second-NC-2{
    background-color:#FFFDE7;
    vertical-align: top;
}

.sub-detail-table tbody .second-NC-3{
    background-color:#f7f7f7;
    vertical-align: top;
}

.sub-detail-table tbody .second-RYP-0{
    background-color:#e8f5e9;
    vertical-align: top;
}

.sub-detail-table tbody .second-RYP-1{
    background-color:#D18C0033;
    vertical-align: top;
}

.sub-detail-table tbody .second-RYP-2{
    background-color:#f7f7f7;
    vertical-align: top;
}

.sub-detail-table tbody .second-RETENTION-0{
    background-color:#e8f5e9;
    vertical-align: top;
}

.sub-detail-table tbody .second-RETENTION-1{
    background-color:#D18C0033;
    vertical-align: top;
}

.text-value {
    font-weight: 500 !important;
}

.btn-blue {
    color: #2196F3 !important;
}


@media only screen and (max-width: 768px){
    .m-table th, .m-table td, .m-table tr {
        padding: 5px 5px 5px 5px !important ;
        font-size: 3px !important;
        vertical-align: top !important;
    }
}

@media only screen and (max-width: 1024px){
    .m-table th, .m-table td, .m-table tr {
        padding: 5px 5px 5px 5px !important ;
        font-size: 6px !important;
        vertical-align: top !important;
    }
}

@media only screen and (min-width: 1024px){
    .m-table th, .m-table td, .m-table tr {
        padding: 5px 5px 5px 5px !important ;
        vertical-align: top !important;
    }
}