<app-m-flipped></app-m-flipped>

<!-- AGENT -->
<div class="table-responsive m-table">
  <table *ngIf='data' id="subdetailtable" class="table table-hover sub-detail-table" mdbTable>
    <thead>
      
      <tr class="tr-primary">
        <th *ngIf="kpiType=='NC'" class="first text-center sub-detail-sortable">#</th>
        <ng-container *ngFor="let first_header of first_headers; let i = index">
          <th *ngIf="!(checkKpiColumn(kpiType) && first_header=='AG/FC')"
            class="first text-center sub-detail-sortable"
            [mdbTableSort]="data"
            [sortBy]="first_fieldNames[i]"
            aria-controls="subdetailtable"
          >
            {{first_header}} <mdb-icon fas icon="sort"></mdb-icon>
          </th>
        </ng-container>
        <ng-container *ngFor="let second_header of second_headers; let i = index">

          <ng-container *ngIf="kpiType=='NC' && i==0">
            <th class="first text-center sub-detail-sortable" 
              [mdbTableSort]="data"
              [sortBy]="second_header.fieldName"
              aria-controls="subdetailtable"
            >
              {{second_header.label}} <mdb-icon fas icon="sort"></mdb-icon>
            </th>
          </ng-container>
          <ng-container *ngIf="kpiType=='NC' && i!=0">
            <th class="second text-center sub-detail-sortable" 
              [ngClass]="['second-'+kpiType+'-'+filterKpiType]"
              [mdbTableSort]="data"
              [sortBy]="second_header.fieldName"
              aria-controls="subdetailtable"
            >
              {{second_header.label}} <mdb-icon fas icon="sort"></mdb-icon>
            </th>
          </ng-container>

          <ng-container *ngIf="kpiType=='RETENTION'">
            <th class="second text-center sub-detail-sortable" 
              [ngClass]="['second-'+kpiType+'-'+filterKpiType]"
              [mdbTableSort]="data"
              [sortBy]="second_header.fieldName"
              aria-controls="subdetailtable"
            >
              {{second_header.label}} 
              <mdb-icon fas icon="sort"></mdb-icon>
            </th>
          </ng-container>

          <ng-container *ngIf="!isCompOrChannel() && (kpiType=='PC' || kpiType=='RYP')">
            <th class="second text-center sub-detail-sortable" 
              [ngClass]="['second-'+kpiType+'-'+filterKpiType]"
              [mdbTableSort]="data"
              [sortBy]="second_header.fieldName"
              aria-controls="subdetailtable"
            >
            {{second_header.label}}
            <span *ngIf="(kpiType=='PC' || kpiType=='RYP') && i==0"><br> 
              {{second_header.secLabel}} 
            </span>
            <mdb-icon fas icon="sort"></mdb-icon>
            </th>
          </ng-container>

          <ng-container *ngIf="isCompOrChannel() && (kpiType=='PC' || kpiType=='RYP')">
            <th class="second text-center sub-detail-sortable" 
              [ngClass]="['second-'+kpiType+'-'+filterKpiType]"
              aria-controls="subdetailtable"
              (click)="handleSorting(second_header.fieldName)"
            >
              {{second_header.label}}
              <span *ngIf="(kpiType=='PC' || kpiType=='RYP') && i==0"><br> 
                {{second_header.secLabel}} 
              </span>
              <mdb-icon fas icon="sort"></mdb-icon>
            </th>
          </ng-container>

        </ng-container>
        
      </tr>
    </thead>
  
    <tbody *ngFor="let data of data; let i=index"> 
      <tr>
        <td *ngIf="kpiType=='NC'" class="agentInfo text-center" style="font-weight: bold;">{{i+1}}</td>
        <td *ngIf="checkShowColumn('ZONE')" class="agentInfo text-center">
          <span style="font-weight: bold;">{{data.gmCode}}</span> <br> {{data.gmName}}
        </td>
        <td *ngIf="checkShowColumn('GM')" class="agentInfo text-center">
          <span style="font-weight: bold;">{{data.avpCode}}</span> <br> {{data.avpName}}
        </td>
        <td *ngIf="checkShowColumn('AVP')" class="agentInfo text-center">
          <span style="font-weight: bold;">{{data.alCode}}</span> <br> {{data.alName}}
        </td>

        <!-- Show Only PC and RYP -->
        <ng-container *ngIf="!checkKpiColumn(kpiType)">
          <td *ngIf="checkShowColumn('AL') " class="agentInfo text-center">
            <span style="font-weight: bold;">{{data.agentCode}}</span> <br> {{data.agentName}}
          </td>
        </ng-container>
       
        <!-- PC -->
        <ng-container *ngIf="kpiType=='PC'">
          <td class="second text-center" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            <span style="font-weight: bold;">{{data.policyCode}}</span> <br> {{data.customerName}}
          </td>
          <td class="second text-center text-value" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            {{data.prodName}}
          </td>
          <td class="second text-right text-value" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            {{data.pc | number: '1.0-0'}}
          </td>
          <td class="second text-center text-value" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            {{convertStringToDate(data.submitDate) | date:'dd/MM/yyyy'}}
          </td>
          <td *ngIf="filterKpiType == 0" class="second text-center text-value" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            {{convertStringToDate(data.approveDate) | date:'dd/MM/yyyy'}}
          </td>
          <td *ngIf="filterKpiType == 1" class="second text-center" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            <a *ngIf="data.memo && data.memo.length > 10" href={{data.memo}} target="_blank" rel="noopener noreferrer"><i class="fas fa-link"></i></a>
          </td>
          <td *ngIf="filterKpiType == 1" class="second text-center" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            <a *ngIf="data.counter && data.counter.length > 10" href={{data.counter}} target="_blank" rel="noopener noreferrer"><i class="fas fa-link"></i></a>
          </td>
        </ng-container>

        <!-- NC -->
        <ng-container *ngIf="kpiType=='NC'">
          
          <!-- <td class="second text-center text-value" [ngClass]="['second-'+kpiType+'-'+filterKpiType]"> -->
          <td class="second text-center text-value">
            <span style="font-weight: bold;">{{data.recruiter}}</span> <br>{{data.recruiterName}}
          </td>
          <td class="second text-center text-value" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            <span *ngIf="filterKpiType != 3">{{data.agentCode}}<br> </span> {{data.name}}
          </td>
          <td class="second text-center text-value" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            <button
              *ngIf="data.memoOic && data.memoOic === 'YES'"
              class="btn btn-default" 
              type="submit"
              (click)="handleMemo(data.agentCode, data.name, 'MEMO_OIC')"
              >
              <i class="fas fa-link btn-blue"></i>
            </button>
          </td>
          <td class="second text-center text-value" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            <button
              *ngIf="data.memo && data.memo === 'YES'"
              class="btn btn-default text-primary"
              type="submit"
              (click)="handleMemo(data.agentCode, data.name, 'MEMO_AGENT')"
              >
              <i class="fas fa-link btn-blue"></i>
            </button>
          </td>
        </ng-container>

        <!-- RETENTION -->
        <ng-container *ngIf="kpiType=='RETENTION'">
          <td class="second text-center" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            <span style="font-weight: bold;">{{data.agentCode}}</span> <br> {{data.agentName}}
          </td>
          <td class="second text-center text-value" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            {{toCrosYm(data.newCodeYm)}}
          </td>
          <td class="second text-center text-value" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            {{data.retentionMonth}}<sup>{{toMonthFormat(data.retentionMonth)}}</sup> Month
          </td>
        </ng-container>

        <!-- RYP -->
        <ng-container *ngIf="kpiType=='RYP'">
          <td class="second text-center" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            <span style="font-weight: bold;">{{data.policyCode}}</span> <br> {{data.customerName}}
          </td>
          <td class="second text-right text-value" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            {{data.premium | number: '1.0-0'}}
          </td>
          <td class="second text-center text-value" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            {{convertStringToDate(data.dueDate) | date:'dd/MM/yyyy'}}
          </td>
          <td class="second text-center text-value" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            {{data.yearTerm}}
          </td>
          <td *ngIf="filterKpiType == 1" class="second text-center text-value" [ngClass]="['second-'+kpiType+'-'+filterKpiType]">
            <a *ngIf="data.memo && loginedName == data.agentCode" href={{data.memo}} target="_blank" rel="noopener noreferrer"><i class="fas fa-link"></i> </a>
          </td>
        </ng-container>
      </tr>
    </tbody>
    <tfoot *ngIf="(kpiType=='RYP' || kpiType=='PC') && isShowPaging"
      class="grey lighten-5">
      <tr class="text-center">
        <td colspan="12">
          <nav aria-label="Page Navigate">
            <ul class="pagination pagination-circle pg-blue">
              <li class="page-item disabled">
                <a class="page-link" mdbWavesEffect>
                  {{itemInfo()}}
                </a>
              </li>
              <li class="page-item" (click)="paginationAction('firstPage')">
                <a mdbwaveseffect="" aria-label="First" class="page-link"><span aria-hidden="true">«</span></a>
              </li>
              <li class="page-item" (click)="paginationAction('previous')">
                <a mdbwaveseffect="" aria-label="Previous" class="page-link"><span aria-hidden="true">‹</span></a>
              </li>
              <li class="page-item" (click)="paginationAction('next')">
                <a mdbwaveseffect="" aria-label="Next" class="page-link"><span aria-hidden="true">›</span></a>
              </li>
              <li class="page-item"  (click)="paginationAction('endPage')">
                <a mdbwaveseffect="" aria-label="End" class="page-link"><span aria-hidden="true">»</span></a>
              </li>
            </ul>
          </nav>
        </td>
      </tr>
    </tfoot>
  </table>
  <div *ngIf="data && data.length < 1" class="text-center">ไม่พบข้อมูล</div>
</div>
