.img-flipped {
    width: 45px;
    margin: 0;
}
span.text-muted {
    font-size: 16px!important;
    font-weight: bolder;
    color: #656565!important;
}
.text-danger {
    font-size: 0.85rem;
    font-weight: bold;
    color: #c51136!important
}