<div *ngIf="!isVisible()" class="d-lg-none d-block text-center mx-auto"> 
  <img class="img-flipped" src="/assets/images/home/m-flip2.gif" alt="">
  <span 
    class="text-muted text-bold text-cener">
    สามารถหมุนหน้าจอเพื่อแสดงผลในแนวนอน
  </span>
</div>