<!-- MODAL RESULT NOTI -->
<ng-template #contentResult let-modal style="align-items: center;">
  <div id="modal-status" class="mx-5 my-5">
    <app-modal-edit-status [status]="modalStatus" [msgSuccess]="msgSuccess" [msgFail]="msgFail">
    </app-modal-edit-status>
  </div>
</ng-template>

<!-- LOWER ZONE -->
<div class="container-fluid pt-4 pb-5">
  <!-- TAB LIST -->
  <div class="container nav nav-tabs">
    <button class="nav-link" [ngClass]="tabSelectedId == 0 ? 'active' : ''" type="button" (click)="onChangeTab(0)">Upload</button>
    <button class="nav-link" [ngClass]="tabSelectedId == 1 ? 'active' : ''" type="button" (click)="onChangeTab(1)">History</button>
  </div>

  <!-- CONTENT -->
  <div class="container tab-content pt-4 pb-5 px-lg-0" id="nav-tabContent">
    <!-- UPLOAD -->
    <div class="tab-pane fade" [ngClass]="tabSelectedId == 0 ? 'show active' : ''">

      <!-- TITLE -->
      <div class="row">
        <div class="col">
          <p>กรุณาเลือกไฟล์ (รองรับไฟล์สกุล XLSX หรือ XLS เท่านั้น)</p>
        </div>
      </div>

      <!-- HANDLE FILE -->
      <div class="row">
        <div class="col col-lg-6">
          <form>
            <div class="custom-file">
              <input #customFile id="customFile" ref="inputFile" class="custom-file-input" type="file" multiple="false" accept=".xlsx, .xls"
                (change)="onFileChange($event)">
              <label class="custom-file-label" for="customFile">
                <span>{{fileName || 'เลือกไฟล์'}}</span>
              </label>
            </div>
          </form>
        </div>
        <div class="col-auto text-center">
          <button class="btn btn-primary" type="submit" (click)="onSubmitFile(contentResult)">Upload</button>
        </div>
      </div>

      <div class="row py-4" *ngIf="fileSelected">
        <div class="col-auto">
          <span class="sub-header">ชื่อไฟล์:</span>
          <span class="mx-2">{{fileSelected.name}}</span>
          <span class="sub-header">ขนาด:</span>
          <span class="mx-2">{{fileSelected.size/1024}}</span>
          <span class="sub-header">KB.</span>
          <br>
          <span class="sub-header">สถานะการอัปโหลด:</span>
          <span class="{{'mx-2 upload-status-' + uploadStatus}}">{{msgUploadStatus}}</span>
        </div>
      </div>
    </div>
 
    <div class="tab-pane fade" [ngClass]="tabSelectedId == 1 ? 'show active' : ''">
      <section id="promotionConfigTable">
        <div>
          <table mdbTable id="validate-insurance-table" class="table table-hover promotion-table">
            <!-- TABLE HEADER -->
            <tr class="tr-secoundary table-secondary-header-color">
              <ng-container *ngFor="let header of tableHeader; let i = index">
                <th class="text-center" scope="col">{{ header }}</th>
              </ng-container>
            </tr>
      
            <!-- TABLE CONTENT -->
            <tr class="tr-data" [ngClass]="item.isDelete == 'T' ? 'table-del-row' : ''" *ngFor="let item of tableData">
              <td class="text-center">{{ item.id }}</td>
              <td>{{ item.fileName }}</td>
              <td class="text-center">{{ item.createDate | date:'M/d/yy, H:mm' }}</td>
              <td class="text-center">{{ item.createBy }}</td>
              <td class="text-center">{{ item.updateDate | date:'M/d/yy, H:mm' }}</td>
              <td class="text-center">{{ item.updateBy }}</td>
              <!-- <td class="text-center">{{ item.type }}</td> -->
              <!-- <td class="text-center">{{ translateFileStatus(item.isDelete) }}</td>
              <td class="text-center">
                <button class="btn btn-default text-danger">
                  <i class="fas fa-trash btn-blue"
                    (click)="onClickDeleteConfig(item.id)"
                  ></i>
                </button>
              </td> -->
            </tr>
      
          </table>
          <!-- EMPTY CONTENT -->
          <div *ngIf="tableData && tableData.length < 1" class="text-center my-2">
            <span>ไม่พบข้อมูล</span>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>