<section id="insurance-filter-doc">
  <div class="container">
    <!-- Title -->
    <div class="row justify-content-start">
      <div class="col-auto justify-content-start">
        <p class="h3 font-weight-bold" [translate]="'navbar.webAgent.validateDoc'">
        </p>
      </div>
    </div>

    <!-- Filter Box -->
    <div class="card secondary-shadow">
      <div class="card-body row">
        <div class="col col-md-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.insuranceCode'"></label>
          <input id="insCode" type="text" class="form-control form-control-lg" 
            [(ngModel)]="filterInsuranceDocForm.policyCode" />
        </div>
        <div class="col col-md-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.organizationDoc'"></label>
          <select id="organizationSeleted" class="form-control form-control-lg" 
            [(ngModel)]="filterInsuranceDocForm.docCategory"
          >
            <ng-container *ngFor="let item of organizationList">
              <option [value]="item.categoryId">{{item.categoryNameTh}}</option>
            </ng-container>
          </select>
        </div>
        <div class="col col-md-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.customerFirstName'"></label>
          <input id="insFirstName" type="text" class="form-control form-control-lg"
            [(ngModel)]="filterInsuranceDocForm.fName" />
        </div>
        <div class="col col-md-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.customerLastName'"></label>
          <input id="insLastName" type="text" class="form-control form-control-lg"
            [(ngModel)]="filterInsuranceDocForm.lName" />
        </div>


        <!-- <div class="col col-md-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.personalId'"></label>
          <input 
            id="insPersonalId" 
            type="text" 
            class="form-control form-control-lg" 
            [(ngModel)]="filterInsuranceDocForm.insPersonalId" 
          />
        </div> -->

        <div class="col col-md-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.agentCode'"></label>
          <select 
            id="childAgent " 
            type="text" 
            class="form-control form-control-lg" 
            [(ngModel)]="filterInsuranceDocForm.agentFilter" 
          >
            <option *ngFor="let item of childAgent" [value]="item.code">{{item.desc}}</option>
          </select>
        </div>

        <div class="col col-12 mt-2 text-center">
          <button type="button" class="btn btn-lg btn-primary btn-block" [translate]="'web.agent.btn-search'"
            (click)="onSearchValidateInsurance()"></button>
        </div>

      </div>
    </div>

  </div>
</section>
