
<!--Navbar-->
<mdb-navbar
  id="navbarMenu"
  SideClass="navbar navbar-light navbar-1 white navbar-expand-lg"
  [containerInside]="false"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand (click)="myHome()">
    <div class="navbar-brand a-link">
      <img
        class="tsli-brand"
        width="150"
        src="assets/tsli-logo.png"
        alt="Logo"
      />
    </div>
  </mdb-navbar-brand>
  
  <!-- Collapsible content -->
  <!-- [ngClass]="isCollapsed == false ? 'always-shown' : ''"  -->
  <links *ngIf="isWebAgent()">
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <!-- Dropdown -->

     <li class="nav-item dropdown " dropdown [hidden]="isHidden">
        <a
          [href]="cmsUrl"
          mdbWavesEffect
          type="button"
          class="nav-link  waves-light text-black"
          id="navbarDropdown"
        >
          <mdb-icon fas icon="fa-solid fa-compass fa-lg"></mdb-icon
          ><span class="caret" [translate]="'navbar.webAgent.cms'"></span
        ></a>
       
      </li>


      <li class="nav-item dropdown " dropdown >
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light text-black"
          id="navbarDropdown"
        >
          <mdb-icon fas icon="tasks fa-lg"></mdb-icon
          ><span class="caret" [translate]="'navbar.webAgent.main'"></span
        ></a>
        <div aria-labelledby="navbarDropdown"
          *dropdownMenu
          class="dropdown-menu dropdown-menu-right dropdown dropdown-primary"
          role="menu"
        >
          <!-- Web Agent Portal  -->
          <!-- (mouseover)="onCollapsed()" -->
          <!-- (click)="onCollapsed()" -->
         

          <a
            class="dropdown-item waves-light text-black"
            mdbWavesEffect
            (click)="webAgentInsurance()"
            [translate]="'navbar.webAgent.insurance'"
          ></a>
          <a
            class="dropdown-item waves-light text-black"
            mdbWavesEffect
            (click)="webAgentDocument()"
            [translate]="'navbar.webAgent.document'"
          ></a>
          <a
            class="dropdown-item waves-light text-black"
            mdbWavesEffect
            (click)="webAgentReport()"
            [translate]="'navbar.webAgent.report'"
          ></a>
          <!-- <a
            class="dropdown-item waves-light text-black"
            mdbWavesEffect
            (click)="webAgentEDocument()"
            [translate]="'navbar.webAgent.eDocument'"
          ></a> -->
          <a
            class="dropdown-item waves-light text-black"
            mdbWavesEffect
            (click)="webAgentERegister()"
            [translate]="'navbar.webAgent.eRegister'"
            ></a>
          <a
            *ngIf="isLICExamAccess()"
            class="dropdown-item waves-light text-black"
            mdbWavesEffect
            (click)="webAgentERegisterLICExam()"
            [translate]="'navbar.webAgent.eRegisterLICExam'"
          ></a>
          <!-- <a
            class="dropdown-item waves-light text-black"
            mdbWavesEffect
            (click)="webAgentERegisterAgent()"
            [translate]="'navbar.webAgent.eRegisterAgent'"
          ></a> -->

          <!-- End Web Agent Portal  -->

          <a
          class="dropdown-item waves-light text-black"
          mdbWavesEffect
          (click)="dashboardMainPage()"
          [translate]="'navbar.webAgent.dashboard'"
         ></a>

        </div>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light text-black"
          mdbWavesEffect
        >
          <mdb-icon fas icon="user-circle fa-lg"></mdb-icon
          ><span class="caret">{{ fullname }}</span></a
        >
        <div
          *dropdownMenu
          class="dropdown-menu dropdown-menu-right dropdown dropdown-primary"
          role="menu"
        >
          <!-- <a
            class="dropdown-item waves-light text-black"
            mdbWavesEffect
            (click)="goToHome()"
            [translate]="'navbar.account.myhome'"
          ></a> -->

          <a
            class="dropdown-item waves-light text-black"
            mdbWavesEffect
            (click)="targetYear()"
            [translate]="'navbar.targetYear'"
          ></a>

          <a
            *ngIf="isSuperUser()"
            class="dropdown-item waves-light text-black"
            mdbWavesEffect
            (click)="uploadPromotion()"
            [translate]="'navbar.uploadPromotion'"
          ></a>
          <a
            *ngIf="isSuperUser()"
            class="dropdown-item waves-light text-black"
            mdbWavesEffect
            (click)="accountList()"
            [translate]="'navbar.memmber'"
          ></a>
          <!-- <a
            *ngIf="isSuperUser()"
            class="dropdown-item waves-light text-black"
            mdbWavesEffect
            (click)="logAccess()"
            [translate]="'navbar.access.log'"
          ></a> -->
          <!-- <a
            class="dropdown-item waves-light text-black"
            mdbWavesEffect
            (click)="myDevice()"
            [translate]="'navbar.account.profile'"
          ></a> -->
          <a
            class="dropdown-item waves-light text-black"
            mdbWavesEffect
            href="#"
            (click)="logout()"
            [translate]="'navbar.account.logout'"
          ></a>
        </div>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
