.text-black  {color: black !important;}

.a-link{
    cursor: pointer;
}

.navbar {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    font-weight: 300;
}

.fas{
    color: #024EA1 !important;
}
