<div class="container-fuild">
  <ngx-spinner bdColor = 'rgba(0, 0, 0, 0.8)' size = "medium" color = "#024ea1" type = "cube-transition" [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
  
  <!-- Modal: Show summary table as fullscreen -->
  <ng-template #content let-modal style="align-items: center;">
    <div style="align-items: flex-end;" class="mt-4 mr-4">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="mx-4 mb-4">
      <app-modal-memo
        [memoOwner]="memoOwner"
        [memoDetail]="memoDetail"
      ></app-modal-memo>
    </div>
  </ng-template>

  <div class="bg-base">
    <div class="container head-area py-5">
      <!-- Agent's Detail -->
      <div class="row justify-content-between pb-2">
        <!-- Agent Title -->
        <div class="col-auto">
          <p *ngIf="!checkIsStaff()" class=" h2 font-weight-bold">{{modelUser.levelName}} {{modelUser.agentCode}}
            <small class="content-desktop h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{modelUser.agentName}} {{prstRte}}
            </small>
            <small class="content-mobile h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{modelUser.agentName}} <br> {{prstRte}}
            </small>
          </p>
          <p *ngIf="checkIsStaff()" class=" h2 font-weight-bold">{{titleForStaff}}
            <small class="h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{modelUser.agentName}}
            </small>
          </p>
        </div>

        <!-- Home Button -->
        <div class="col-auto justify-content-end align-items-center">
          <button class="btn btn-primary btn-round" (click)="goToHome()"> <i class="fa fa-chevron-left"></i> HOME</button>
        </div>
      </div>

      <!-- KPI filter box -->
      <app-sub-detail-filter
        [kpiType]="filterKpiType"
        [buttonList]="setDetailList"
        [filterKpiType]="filterSubDetailIndex"
        (clickFilter)="handleFilterSelected($event)"
      ></app-sub-detail-filter>

    </div>
  </div>
</div>

<div class="container pb-5 mb-5">
  <!-- Description and Controller compare chart -->
  <div class="row mt-5 mb-4 justify-content-between">
    <!-- Back to xxx Overview -->
    <div class="col-auto">
      <button class="btn btn-link font-color-primary-tsli pl-0" 
      style="text-decoration: underline;"
      (click)="goToOverview()">
        <i class="fa fa-chevron-left font-color-primary-tsli mr-2" aria-hidden="true"></i> 
        Back to {{modelUser.levelName}} Summary
      </button>
    </div>
  </div>

  <div class="row mt-4 justify-content-between">
    <div class="col-auto">
      <span class="h3 font-weight-bold" *ngIf="setDetailList">
        {{filterKpiType}} : {{setDetailList[filterSubDetailIndex].label}} <span *ngIf="sumKpi" style="color: black; font-weight: 500;">: {{sumKpi | number}}</span> 
      </span>
      <!-- <span class="h3 font-weight-bold"
        *ngIf="isShowRecords()">
        (Top {{topRecords}} Records)
      </span> -->
    </div>

    <!-- Search -->
    <div class="col-auto justify-content-end mb-4">
      <div class="align-items-center">
        <form>
          <div class="input-group searchKeyword-group">
            <input type="text"
              (keyup)="isCompOrChannel() && (filterKpiType === 'PC' || filterKpiType === 'RYP') ? null : filterTable()"
              [(ngModel)]='searchKeyword' 
              name="searchKeyword" 
              class="form-control search-key" 
              placeholder="ค้นหาชื่อหรือรหัสตัวแทน">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" (click)="filterTable_search()">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- sub-detail-table -->
  <div class="my-2">
    <app-sub-detail-table
      [data]="data"
      [first_headers]="first_headers"
      [first_fieldNames]="first_fieldNames"
      [second_headers]="second_headers"
      [masterLevelName]="masterLevelName"
      [agentLevel]="modelUser.agentLevel"
      [filterKpiType]="filterSubDetailIndex"
      [kpiType]="filterKpiType"
      [pagingItem]="pagingItem"
      [pagingCount]="pagingCount"
      [isShowPaging]="isShowPaging()"
      (clickPaging)="handlePagination($event)"
      (clickMemo)="openMemo(content, $event)"
      (clickSorting)="filterTable_search($event)"
    >
    </app-sub-detail-table>
  </div>

  
  <!-- end sub-detail-table -->

</div>
  