<div class="row">
  <div class="col-auto col-md-12 justify-content-start">
    <div class="card card-kpi">
      <div class="card-body align-item-center">

        <div class="row">
          <div class="col-12 col-lg-2 d-flex flex-row align-items-center">
            <i class="fa fa-filter font-color-primary-tsli mx-2" aria-hidden="true" style="font-size: 24px;"></i>
            <div class="h6 mt-2">Filter Status</div>
          </div>
          <div class="col-auto col-lg-10 align-items-center">
            <button *ngFor="let item of buttonList; let i = index"
              class="btn btn-custom-width mx-2 mt-1"
              [ngClass]="[filterKpiType == i ? 
                'btn-' + kpiType + '-' + i : 
                'btn-outline-' + kpiType + '-' + i ]"
              (click)="handleFilterSelect(item.id)">
              {{item.label}}
            </button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
