.btn-outline-PC-0 {
  border-color: #1d5e22;
  color: #1d5e22;
}
.btn-PC-0 {
  background-color: #1d5e22;
  color: white;
}
.btn-outline-PC-0:hover {
  background-color: #1d5e22;
  color: white;
}
.btn-outline-PC-1 {
  border-color: #d18b00;
  color: #d18b00;
}
.btn-PC-1 {
  background-color: #d18b00;
  color: white;
}
.btn-outline-PC-1:hover {
  background-color: #d18b00;
  color: white;
}

.btn-outline-ACTIVE-0 {
  border-color: #1d5e22;
  color: #1d5e22;
}
.btn-ACTIVE-0 {
  background-color: #1d5e22;
  color: white;
}
.btn-outline-ACTIVE-0:hover {
  background-color: #1d5e22;
  color: white;
}
.btn-outline-ACTIVE-1 {
  border-color: #d18b00;
  color: #d18b00;
}
.btn-ACTIVE-1 {
  background-color: #d18b00;
  color: white;
}
.btn-outline-ACTIVE-1:hover {
  background-color: #d18b00;
  color: white;
}

.btn-outline-NC-0 {
  border-color: #1d5e22;
  color: #1d5e22;
}
.btn-NC-0 {
  background-color: #1d5e22;
  color: white;
}
.btn-outline-NC-0:hover {
  background-color: #1d5e22;
  color: white;
}
.btn-outline-NC-1 {
  border-color: #d18b00;
  color: #d18b00;
}
.btn-NC-1 {
  background-color: #d18b00;
  color: white;
}
.btn-outline-NC-1:hover {
  background-color: #d18b00;
  color: white;
}
.btn-outline-NC-2 {
  border-color: #FBC02D;
  color: #FBC02D;
}
.btn-NC-2 {
  background-color: #FBC02D;
  color: white;
}
.btn-outline-NC-2:hover {
  background-color: #FBC02D;
  color: white;
}
.btn-outline-NC-3 {
  border-color: #6b6b6b;
  color: #6b6b6b;
}
.btn-NC-3 {
  background-color: #6b6b6b;
  color: white;
}
.btn-outline-NC-3:hover {
  background-color: #6b6b6b;
  color: white;
}

.btn-outline-RETENTION-0 {
  border-color: #1d5e22;
  color: #1d5e22;
}
.btn-RETENTION-0 {
  background-color: #1d5e22;
  color: white;
}
.btn-outline-RETENTION-0:hover {
  background-color: #1d5e22;
  color: white;
}

.btn-outline-RETENTION-1 {
  border-color: #d18b00;
  color: #d18b00;
}
.btn-RETENTION-1 {
  background-color: #d18b00;
  color: white;
}
.btn-outline-RETENTION-1:hover {
  background-color: #d18b00;
  color: white;
}

.btn-outline-RYP-0 {
  border-color: #1d5e22;
  color: #1d5e22;
}
.btn-RYP-0 {
  background-color: #1d5e22;
  color: white;
}
.btn-outline-RYP-0:hover {
  background-color: #1d5e22;
  color: white;
}
.btn-outline-RYP-1 {
  border-color: #d18b00;
  color: #d18b00;
}
.btn-RYP-1 {
  background-color: #d18b00;
  color: white;
}
.btn-outline-RYP-1:hover {
  background-color: #d18b00;
  color: white;
}
.btn-outline-RYP-2 {
  border-color: #6b6b6b;
  color: #6b6b6b;
}
.btn-RYP-2 {
  background-color: #6b6b6b;
  color: white;
}
.btn-outline-RYP-2:hover {
  background-color: #6b6b6b;
  color: white;
}