@import "../../../../../variable.scss";


/*table th, table td {
    font-size: 13px;
}*/
table th, table td {
    font-size: 13px;
}


.target-tabel-sortable{
    cursor: pointer;
 }

//  Size Icon
.fa-lg {
    font-size: 1em;
    line-height: 0em;
    vertical-align: 0;
}



// .target-table thead .table-color .tr-primary, .target-table tbody {
//     background-color: #FFF;
//     color: white;
//     padding: 5px 3px 5px 2px !important;
// }

table.table td, table.table th {
    padding: 5px 3px 5px 2px !important;
}

.table {
    width: 100%;
    max-width: 100%;
    padding: 0px 0px;
}

.textCenter{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.table-color{
    background-color: #024EA1
}
.mat-cell {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: white;
}
.iconP{
    position:relative;
    text-align: center;
    vertical-align: middle;
}
.table-color-edit{
    background-color: #9a9ae630
}

.target-table-font {
    //text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/*@media only screen and (max-width: 768px){
    .m-table th, .m-table td, .m-table tr {
        padding: 5px 5px 5px 5px !important ;
        font-size: 3px !important;
        vertical-align: top !important;
    }
}

@media only screen and (max-width: 1024px){
    .m-table th, .m-table td, .m-table tr {
        padding: 7px 7px 7px 7px !important ;
        font-size: 14px !important;
        vertical-align: top !important;
    }
}

@media only screen and (min-width: 1024px){
    .m-table th, .m-table td, .m-table tr {
        padding: 5px 5px 5px 5px !important ;
        vertical-align: top !important;
    }
// }*/

// @media only screen and (max-width: 575px ){
//     .row-pd {
//         padding-left: 10px;
//         padding-right: 10px;
//     }
// }
