<div class="table-responsive m-table">
  <table mdbTable id="taget-table" class="table table-hover taget-table">
    <thead class="table-color">
      <tr class="tr-primary">
        <ng-container *ngFor="let header of headers; let i = index">
          <th 
            class="first text-center target-tabel-sortable mat-cell target-table-font"
            style="color: white; width: 14%;"
            aria-controls="subdetailtable"
            (click)="handleSorting(first_fieldNames[i])"
          >
            {{header}} <mdb-icon fas icon="sort"></mdb-icon>
          </th>
        </ng-container>

        <th class="text-center mat-cell target-table-font target-tabel-sortable" 
          [mdbTableSort]="data" 
          sortBy="handle"
          style="color: white; width: 14%;"
        >
          ผลงานส่วนตัว <mdb-icon fas icon="sort"></mdb-icon>
        </th>

        <th class="text-center target-table-font target-tabel-sortable" 
            [mdbTableSort]="data"
            [sortBy]="'agentLevel'"
            sortBy="handle"
            style="color: white; width: 14%;"
        >
          ผลงานสายงาน <mdb-icon fas icon="sort"></mdb-icon>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let el of data; let i = index">
        <ng-container *ngIf="isZONE(_agentLevel)" >
          <td class="text-center">{{el.zone}}</td>
        </ng-container>
        <ng-container *ngIf="isGM(_agentLevel)">
          <td class="text-center">{{el.gmCode}} <br> {{el.gmName}} </td>
        </ng-container>
        <ng-container *ngIf="isAVP(_agentLevel)">
          <td class="text-center"> {{el.avpCode}} <br> {{el.avpName}} </td>
        </ng-container>
        <ng-container *ngIf="isAL(_agentLevel)">
          <td class="text-center">{{el.alCode}} <br> {{el.alName}} </td>
        </ng-container>
        <ng-container *ngIf="isAG(_agentLevel)">
          <td class="text-center mat-cell">{{el.agentCode}} <br> {{el.agentName}} </td>
        </ng-container>
        <th class="iconP table-color-edit mat-cell">
          <!--table in modal แก้ไขส่วนตัว-->
          <button
            class="btn"
            type="submit"
            (click)="handleModal(el.agentCode, el.thaiFullname, 'AGENT')" 
          >
            <i class="fas fa-edit fa-lg"></i>
          </button>
        </th>
        <th class="iconP table-color-edit">
          <!--table in modal แก้ไขทีม-->
          <ng-container *ngIf="el.agentLevel != 'AGENT'">
            <button
              class="btn"
              type="submit"
              (click)="handleModal(el.agentCode, el.thaiFullname, el.agentLevel)" 
            >
              <i class="fas fa-edit fa-lg"></i>
            </button>
          </ng-container>
        </th>
      </tr>
    </tbody>
    
    <tfoot class="grey lighten-5">
      <tr class="text-center">
        <td colspan="12">
          <nav aria-label="Page Navigate">
            <ul class="pagination pagination-circle pg-blue">
              <li class="page-item disabled">
                <a class="page-link" mdbWavesEffect>
                  {{itemInfo()}}
                </a>
                </li>
                <li class="page-item" (click)="paginationAction('firstPage')">
                  <a mdbwaveseffect="" aria-label="First" class="page-link"><span aria-hidden="true">«</span></a>
                </li>
                <li class="page-item" (click)="paginationAction('previous')">
                  <a mdbwaveseffect="" aria-label="Previous" class="page-link"><span aria-hidden="true">‹</span></a>
                </li>
                <li class="page-item" (click)="paginationAction('next')">
                  <a mdbwaveseffect="" aria-label="Next" class="page-link"><span aria-hidden="true">›</span></a>
                </li>
                <li class="page-item"  (click)="paginationAction('endPage')">
                  <a mdbwaveseffect="" aria-label="End" class="page-link"><span aria-hidden="true">»</span></a>
                </li>
              </ul>
            </nav>
          </td>
        </tr>
    </tfoot>
  </table>
</div>