
<div class="Card-filter secondary-shadow mt-3 p-3">
  <div class="row">
    <div class="col-* col-md-12 justify-content-start">
      <div class="card">
        <div class="card-body align-item-center">

          <div>
            <!-- Filter Group -->
            <div class="row">
              <div class="col-12 col-lg-2 d-flex flex-row align-items-center">
                <i class="fa fa-filter font-color-primary-tsli mx-2" aria-hidden="true" style="font-size: 24px;"></i>
                <div class="h6 mt-2">ส่วนตัว / หน่วย</div>
              </div>

              <!-- Button Group -->
              <div class="col-* col-lg-10 btn-position">
                <button class="btn btn-custom-width mx-2 mt-1 btn-primary" 
                  *ngFor="let item of listFilterGroup"
                  (click)="onChangeFilterGroup(item)"
                  [class.btn-outline-primary]="filterGroup != item"
                  [class.btn-primary]="filterGroup == item"
                >
                    {{item}}
                </button>
              </div>
            </div>
            <hr style="border-top: 1.5px dotted lightgray;">

            <!-- Filter Persistency -->
            <div class="row">
              <div class="col-12 col-lg-2 d-flex flex-row align-items-center">
                <i class="fa fa-filter font-color-primary-tsli mx-2" aria-hidden="true" style="font-size: 24px;"></i>
                <div class="h6 mt-2">Per 13 / Per 25</div>
              </div>

              <!-- Button Group -->
              <div class="col-* col-lg-10 btn-position">
                <button class="btn btn-custom-width mx-2 mt-1" 
                  *ngFor="let item of listFilterPersistency"
                  (click)="onChangeFilterPersistency(item)"
                  [class]="filterPersistency == item ? 'btn-per-'+item : 'btn-outline-per-'+item"
                >
                    Per {{item}}
                </button>
              </div>
            </div>
            <hr style="border-top: 1.5px dotted lightgray;">

            <!-- Filter Type -->
            <div class="row">
              <div class="col-12 col-lg-2 d-flex flex-row align-items-center">
                <i class="fa fa-filter font-color-primary-tsli mx-2" aria-hidden="true" style="font-size: 24px;"></i>
                <div class="h6 mt-2">ประเภท</div>
              </div>

              <!-- Button Group -->
              <div class="col-* col-lg-10 btn-position">
                <button class="btn btn-custom-width mx-2 mt-1" 
                  *ngFor="let item of listFilterType"
                  (click)="onChangeFilterType(item)"
                  [class.btn-outline-primary]="filterType != item"
                  [class.btn-primary]="filterType == item"
                >
                  {{item}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
