@import "../../../../../variable.scss";


@media only screen and (max-width:375px){
  .btn-custom-width {
    min-width: 120px;
  }
}

@media only screen and (max-width:991px){
  .btn-position {
    text-align: center;
  }
}

i.fa.fa-filter { color: $primary-color; }
.bt-custom { border-color:$primary-color ; color: $primary-color; }
.bt-custom:hover {background-color: $primary-color;color: white;}

.font-color-primary-tsli{
    color: #0e89d0;
}

.card {
  border: 0!important;
}

.btn-primary {
  background-color: #024EA1;
  color: white;
}
.btn-outline-primary {
  border-color: #024EA1;
  color: #024EA1;
}
.btn-outline-primary:hover {
  background-color: #024EA1;
  color: white;
}

.btn-per-13 {
  background-color: #0072C2;
  color: white;
}
.btn-outline-per-13 {
  border-color: #0072C2;
  color: #0072C2;
}
.btn-outline-per-13:hover {
  background-color: #0072C2;
  color: white;
}

.btn-per-25 {
  background-color: #D18b00;
  color: white;
}
.btn-outline-per-25 {
  border-color: #D18b00;
  color: #D18b00;
}
.btn-outline-per-25:hover {
  background-color: #D18b00;
  color: white;
}