@import "../../../../variable.scss";

.bg-base {
    background-color:$base-color ;
}
.head-area {
    height: auto;
}
.scroll-row {
     overflow-x: scroll;
     width: 100%;
     display: inline-flex;
}
.card-header-cs {
    padding: 1.25rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    z-index: 2;
    background-color: #fff;
  }

  .content-desktop {
    display: block;
  }
  .content-mobile {
    display: none;
  }
  
  @media only screen and (max-width: 767px) {
    .content-desktop {
      display: none;
    }
    .content-mobile {
      display: block;
    }
  }