<div class="container-fuild">

  <ngx-spinner bdColor = 'rgba(0, 0, 0, 0.8)' size = "medium" color = "#024ea1" type = "cube-transition" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

  <div class="bg-base">
    <div class="container head-area py-5 px-lg-0">

      <!-- Agent's Detail -->
      <div class="row justify-content-between">
        <div class="col-auto">
          <p class=" h2 font-weight-bold">{{displayLvName}} {{titleCode}}
            <small class="content-desktop h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{agentName}} {{prstRte}}
            </small>
            <small class="content-mobile h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{agentName}} <br> {{prstRte}}
            </small>
          </p>
        </div>

        <div class="col-auto d-flex justify-content-end align-items-center">
          <button class="btn btn-primary btn-round" (click)="goToHome()"> <i class="fa fa-chevron-left"></i> HOME</button>
        </div>
      </div>

      <app-persistency-filter
        [listFilterGroup]="listFilterGroup" 
        [listFilterPersistency]="listFilterPersistency"
        [listFilterType]="listFilterType"
        [filterGroup]="filterGroup"
        [filterPersistency]="filterPersistency"
        [filterType]="filterType"
        (changeFilterGroup)="handleFilterGroup($event)"
        (changeFilterPersistency)="handleFilterPersistency($event)"
        (changeFilterType)="handleFilterType($event)"
      ></app-persistency-filter>
    </div>
  </div>
</div>

<div class="container-fluid pb-5">
  <div class="container">
    <div>
      <div class="mt-5 pb-3">
        <!-- <button class="btn btn-primary" (click)="goToHome()"> <i class="fa fa-chevron-left"></i> HOME</button> -->
        <button class="btn btn-link font-color-primary-tsli" 
          style="text-decoration: underline; padding-left: 0px;"
          (click)="goToOverview()">
            <i class="fa fa-chevron-left font-color-primary-tsli mx-2" 
            style="margin-left: 0px !important;"
            aria-hidden="true"></i> 
            Back
        </button>
      </div>
    </div>
  
    <div class="row" 
      [ngClass]="{'sticky': filterType !== 'Pers ปัจจุบัน'}"
      style="padding-left: 15px; padding-right: 15px;">
        <app-persistency-summary 
        style="width: 100%;"
        [prstRte]="showPrstRte"
        [data]="summaryData"
        [filterPersistency]="filterPersistency"
        [filterType]="filterType"
        [countCheckCal]="countCheckCal"
        [closYm]="masterClosYm"
      ></app-persistency-summary>
    </div>

    <div class="row mt-4 justify-content-between">
      <div class="col-auto">
    
      </div>
  
      <!-- Search -->
      <div *ngIf="filterType == 'ที่ต้องเก็บ'" class="col-auto justify-content-end mb-4">
        <div class="row">
          <div class="align-items-center pl-3 pt-1">
            <form>
              <div class="input-group searchKeyword-group">
                <input type="text"
                  [(ngModel)]='searchKeyword' 
                  name="searchKeyword" 
                  class="form-control search-key" 
                  placeholder="ค้นหาชื่อหรือรหัสตัวแทน">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit" (click)="apiService_searchPerDetail()">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
                
                <!-- <input type="text"
                  (keyup)="isCompOrChannel() && (filterKpiType === 'PC' || filterKpiType === 'RYP') ? null : filterTable()"
                </div> -->
              </div>
            </form>
            
          </div>
          <div class="px-3 pt-1">
            <button class="btn btn-primary btn-round" type="submit" (click)="clearAll()">
              Clear All
            </button>
          </div> 
        </div>
        
      </div>
    </div>
  
    <div class="row pb-5 mb-5">
      <!-- Table Summary -->
      <div *ngIf="filterType == 'Pers ปัจจุบัน'" style="width: 100%;">
        <div class="cols-* col-md-12 justify-content-center p-0">
          <div class="cols-* col-md-12 justify-content-center">
            <app-summary-table
              [data]="summaryTableData"
            ></app-summary-table>
          </div>
        </div>
      </div>
      
      <!-- Table To Collect -->
      <div *ngIf="filterType == 'ที่ต้องเก็บ'" style="width: 100%;">
        <div class="cols-* col-md-12 justify-content-center p-0">
          <div class="cols-* col-md-12 justify-content-center">
            <app-collect-table
              [data]="toCollectTableData"
              [countCheckCal]="countCheckCal"
              [filterGroup]="filterGroup"
              [filterPersistency]="filterPersistency"
              [agentCode]="agentCode"
              [agentLevel]="agentLevel"
              [pagingCount]="pagingCount"
              [totalPage]="totalPage"
              [checkBlockStatus]="checkBlockStatus"
              (changeValue)="handleSumPC($event)"
              (loadMoreData)="handlerLoadMoreData($event)"
              (sumCheckCal)="handlerCheckCal($event)"
              (clickSorting)="apiService_persistencyDetail($event)"
            ></app-collect-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>