<div class="container-fuild">
  <!-- LOADING SPINNER -->
  <ngx-spinner bdColor='rgba(0, 0, 0, 0.8)' size="medium" color="#024ea1" type="cube-transition" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

  <div class="bg-base">
    <!-- TITLE AND DESCRIPTION -->
    <div class="container head-area py-5 px-lg-0">
      <div class="row justify-content-between">
        <!-- CONTENT -->
        <div class="col-auto">
          <p class=" h2 font-weight-bold">อัปโหลดผลการเข้าร่วมกิจกรรม</p>
          <small class="h5 font-weight-normal text-primary w-100 float-left mt-2">
            ผลการเข้าร่วมกิจกรรม: LIC-Exam
          </small>
        </div>

        <!-- GO HOME Controller -->
        <div class="col-auto d-flex justify-content-end align-items-center">
          <button class="btn btn-primary btn-round" (click)="goBack()">
            <i class="fa fa-chevron-left"></i> Back
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid pt-4 pb-5">
  <app-upload-file 
    [uploadType]="'LIC-Exam'" 
    [tableData]="history"
    (onUpdateHistory)="updateHistory()"
    (onClickUploadFile)="handlerActivateSpinner($event)"
  >
  </app-upload-file>
</div>