<div class="container-fuild pb-5">
  <ngx-spinner bdColor='rgba(0, 0, 0, 0.8)' size="medium" color="#024ea1" type="cube-transition" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

  <!-- Agent's Detail and Filter Box -->
  <div class="bg-base pt-5 pb-5" *ngIf="!isStandalone">
    <!-- <app-agent-header></app-agent-header> -->
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-auto justify-content-start">
          <p class="h3 font-weight-bold" [translate]="'navbar.webAgent.eRegisterAdmin'">
          </p>
        </div>
      </div>
    </div>
    <app-e-register-filter (onSearchEvent)="handlerSearchEvent($event)"></app-e-register-filter>
  </div>

  <!-- Result: Event List -->
  <div class="container pt-4 pb-5">
    <div class="row justify-content-start" *ngIf="searchStatus">
      <div class="col-md-8 col-12 mb-2 justify-content-start">
        <p class="h3 font-weight-bold" [translate]="'web.agent.search-res-event'"></p>
      </div>
      <div class="col-md-4 col-12 mb-2 justify-content-end">
        <form>
          <div class="input-group searchKeyword-group">
            <input type="text" class="form-control search-key" name="searchKeyword"
              placeholder="ค้นหากิจกรรม" [(ngModel)]='searchKeyword'>
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" (click)="apiGetActivityList()">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12">
        <app-e-register-table 
          [activityType]="activityType"
          [agentType]="agentLevel"
          [headers]="modelRegisAgent.tableHeader" 
          [data]="tableData"
          [pagingCount]="curPage"
          [pagingItem]="pagingItem"
          (clickPaging)="handlerPaging($event)"
          (clickSorting)="hanlderSorting($event)"
          ></app-e-register-table>
      </div>
    </div>
  </div>
</div>