@import "../../../variable.scss";

@media (max-width: 768px){
  ::ng-deep .xxl .modal-dialog { 
    max-width: 95%;
  }
} 

@media (min-width: 769px) and (max-width: 1199px){
  ::ng-deep .xxl .modal-dialog { 
    max-width: 80%;
    width: 80%;
  }
} 

@media (min-width: 1200px) and (max-width: 1600px){
  ::ng-deep .xxl .modal-dialog { 
    max-width: 70%;
    width: 70%;
  }
}

@media (min-width: 1601px) {
  ::ng-deep .xxl .modal-dialog { 
    max-width: 60%;
    width: 60%;
  }
}