@import "../../../../variable.scss";

.bg-base {
    background-color:$base-color ;
}
.head-area {
    height: auto;
}
.scroll-row {
     overflow-x: scroll;
     width: 100%;
     display: inline-flex;
}
.card-header-cs {
    padding: 1.25rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.btn-outline-pc {
  border-color: #1d5e22;
  color: #1d5e22;
}
.btn-pc {
  background-color: #1d5e22;
  color: white;
}
.btn-outline-pc:hover {
  background-color: #1d5e22;
  color: white;
}
.btn-outline-act {
  border-color: #b71e20;
  color: #b71e20;
}
.btn-act {
  background-color: #b71e20;
  color: white;
}
.btn-outline-act:hover {
  background-color: #b71e20;
  color: white;
}
.btn-outline-nc {
  border-color: #d18b00;
  color: #d18b00;
}
.btn-nc {
  background-color: #d18b00;
  color: white;
}
.btn-outline-nc:hover {
  background-color: #d18b00;
  color: white;
}
.btn-outline-ryp {
  border-color: #691f9b;
  color: #691f9b;
}
.btn-ryp {
  background-color: #691f9b;
  color: white;
}
.btn-outline-ryp:hover {
  background-color: #691f9b;
  color: white;
}
.bg-primary-tsli{
  background-color:#0e89d0;
}
.font-color-primary-tsli{
  color: #0e89d0;
}

.btn-custom-width {
  min-width: 128px;
}
.bg-legend-cur-year {
  background-color: rgba(2,77,161,1);
}
.bg-legend-last-year {
  background-color: rgba(254,200,78,1);
}
.dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
}


.btn-year {
  background-color: #024b9f;
  color: white;
}

.btn-group-left {
  margin-right: 4px;
  margin-left: 16px;
}
.btn-group-right {
  margin-left: 4px;
}
.btn-toggle-mtd {
  background-color: #024b9f;
  color: white;
}
.btn-toggle-ytd {
  background-color: #024b9f;
  color: #d18c00;
}
.btn-untoggle {
  border-width: 1px;
  border-color: #024b9f;
  background-color: white;
  color: #024b9f;
}
.btn-group-type {
  min-width: 100px !important;
}

.content-desktop {
  display: block;
}
.content-mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .content-desktop {
    display: none;
  }
  .content-mobile {
    display: block;
  }
}