<div class="container-fuild">
  <ngx-spinner bdColor='rgba(0, 0, 0, 0.8)' size="medium" color="#024ea1" type="cube-transition" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

  <div class="bg-base">
    <div class="container head-area py-5">
      <!-- Agent's Detail -->
      <div class="row justify-content-between pb-2">
        <!-- Agent Title -->
        <div class="col-auto">
          <p class=" h2 font-weight-bold">{{modelUser.levelName}} {{modelUser.agentCode}}
            <small class="content-desktop h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{modelUser.agentName}} {{prstRte}}
            </small>
            <small class="content-mobile h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{modelUser.agentName}} <br> {{prstRte}}
            </small>
          </p>
        </div>

        <!-- Home Button -->
        <div class="col-auto justify-content-end align-items-center">
          <button class="btn btn-primary btn-round" (click)="goToHome()"> <i class="fa fa-chevron-left"></i> HOME</button>
        </div>
      </div>

      <!-- KPI filter box -->
      <div class="row">
        <div class="col-auto col-md-12 justify-content-start">
          <div class="card card-kpi">
            <div class="card-body align-item-center">

              <div class="row">
                <div class="col-12 col-lg-2 d-flex flex-row align-items-center">
                  <i class="fa fa-filter font-color-primary-tsli mx-2" aria-hidden="true" style="font-size: 24px;"></i>
                  <div class="h6 mt-2">Filter Status</div>
                </div>
                <div class="col-auto col-lg-10 align-items-center">
                  <button class="btn btn-custom-width mx-2 mt-1"
                    [class.btn-pc]="filterKpiType == 'PC'"
                    [class.btn-outline-pc]="filterKpiType != 'PC'"
                    (click)="handleFilterSelect('PC')">
                    PC
                  </button>
                  <button class="btn btn-custom-width mx-2 mt-1"
                    [class.btn-act]="filterKpiType == 'ACTIVE'"
                    [class.btn-outline-act]="filterKpiType != 'ACTIVE'"
                    (click)="handleFilterSelect('ACTIVE')">
                    ACTIVE
                  </button>
                  <button *ngIf="modelUser.agentLevel !== 'AGENT'"
                    class="btn btn-custom-width mx-2 mt-1"
                    [class.btn-nc]="filterKpiType == 'NC'"
                    [class.btn-outline-nc]="filterKpiType != 'NC'"
                    (click)="handleFilterSelect('NC')">
                    NC
                  </button>
                  <button class="btn btn-custom-width mx-2 mt-1"
                    [class.btn-ryp]="filterKpiType == 'RYP'"
                    [class.btn-outline-ryp]="filterKpiType != 'RYP'"
                    (click)="handleFilterSelect('RYP')">
                    RYP
                  </button>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container pb-5">
  <!-- Description and Controller compare chart -->
  <div>
    <!-- Back to xxx Overview -->
    <div class="my-4">
      <button class="btn btn-link font-color-primary-tsli pl-0" 
        style="text-decoration: underline;"
        (click)="goToOverview()">
        <i class="fa fa-chevron-left font-color-primary-tsli mr-2" aria-hidden="true"></i> 
        Back to {{modelUser.levelName}} Summary
      </button>
    </div>

    <!-- Year Comparison -->
    <div class="row mt-4 justify-content-between">
      <!-- KPI NAME -->
      <div class="col-auto">
        <span class="h3 font-weight-bold">KPI : {{filterKpiType}}</span>
        <!-- Period Type button -->
        <button class="btn btn-group-type btn-group-left btn-toggle-mtd mb-2"
          [class.btn-toggle-mtd]="isMtdGroup"
          [class.btn-untoggle]="!isMtdGroup"
          (click)="handleGroupType('INDIVIDUAL')"
        >
          สายตรง
        </button>
        <!-- *ngIf="modelUser.levelName != 'AG'" -->
        <button class="btn btn-group-type btn-group-right btn-toggle-mtd mb-2"
          [class.btn-toggle-mtd]="!isMtdGroup"
          [class.btn-untoggle]="isMtdGroup"
          (click)="handleGroupType('GROUP')"
        >
          ทั้งสายงาน
        </button>
      </div>

      <!-- COMPARE YEAR -->
      <div class="col-auto justify-content-end" style="margin-left: 15px; margin-right: 8px;">
        <div class="row align-items-center">
          <div *ngIf="!hideLastYear">
            <span class="dot bg-legend-last-year mr-2"></span>
            <span class="mr-4">{{currentYear - 1}}</span>
          </div>

          <div>
            <span class="dot bg-legend-cur-year mr-2"></span>
            <span class="mr-4">{{currentYear}}</span> 
          </div>

          <div>
            <button class="btn mx-2"
              [class.btn-year]="!hideLastYear"
              [class.btn-outline-year]="hideLastYear"
              (click)="compareYear()">
              <i class="fa fa-exchange-alt"></i> {{currentYear - 1}} - {{currentYear}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Chart and KPI Detail based on KPI filter value -->
  <div class="pt-3 pb-5">
    <ng-container *ngIf="filterKpiType == 'PC'; else kpiDetail_Act">
      <div>
        <app-kpi-pc
          [series_target_pc]="model_PC.series_target"
          [series_cur_pcSubmit]="model_PCsubmit.series_current"
          [series_cur_pc]="model_PC.series_current"
          [series_last_pc]="model_PC.series_last"
          [series_percent_pc]="model_PC.series_percentage"
          [sumYTD]="model_PC.sumYtdValue"
          [hideLastYear]="hideLastYear"
          [activeMonth]="activeMonthNo"
          [groupType]="filterGroupType"
          [noCaseData]="noCaseData"
          [caseSizeData]="caseSizeData"
          [ytdData]="ytdCaseData"
        ></app-kpi-pc>
      </div>
    </ng-container>

    <ng-template #kpiDetail_Act>
      <ng-container *ngIf="filterKpiType == 'ACTIVE'; else kpiDetail_Nc">
        <div>
          <app-kpi-act
            [series_target]="model_Active.series_target"
            [series_cur]="model_Active.series_current"
            [series_last]="model_Active.series_last"
            [series_percent]="model_Active.series_percentage"
            [sumYTD]="model_Active.sumYtdValue"
            [hideLastYear]="hideLastYear"
            [activeMonth]="activeMonthNo"
            [groupType]="filterGroupType">
          </app-kpi-act>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #kpiDetail_Nc>
      <ng-container *ngIf="filterKpiType == 'NC'; else kpiDetail_RYP">
        <div *ngIf="modelUser.agentLevel !== 'AGENT'">
          <app-kpi-nc
            [series_target]="model_NC.series_target"
            [series_cur]="model_NC.series_current"
            [series_last]="model_NC.series_last"
            [series_percent]="model_NC.series_percentage"
            [sumYTD]="model_NC.sumYtdValue"
            [hideLastYear]="hideLastYear"
            [activeMonth]="activeMonthNo"
            [groupType]="filterGroupType">
          </app-kpi-nc>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #kpiDetail_RYP>
      <div>
        <app-kpi-ryp
          [series_target]="model_RYP.series_target"
          [series_cur]="model_RYP.series_current"
          [series_last]="model_RYP.series_last"
          [series_percent]="model_RYP.series_percentage"
          [sumYTD]="model_RYP.sumYtdValue"
          [hideLastYear]="hideLastYear"
          [activeMonth]="activeMonthNo"
          [groupType]="filterGroupType">
        </app-kpi-ryp>
      </div>
    </ng-template>
  </div>
</div>

