<div class="modal-content" >
  <div class="modal-header">
      <ng-container *ngIf="target_Agent_Level =='AGENT'">
        <p class="modal-title h4 w-100 font-weight-bold">กรอกเป้าหมายประจำปี (ผลงานส่วนตัว) <br/>{{agCode.agentLevel  | slice:0:2}} {{agCode.agentCode}}
          <small class="h5 font-weight-normal text-primary w-100 float-left mt-2">{{agCode.agentName}}</small>
        </p>
      </ng-container>
      <ng-container *ngIf="target_Agent_Level !='AGENT'">
        <p class="modal-title h4 w-100 font-weight-bold">กรอกเป้าหมายประจำปี (ผลงานสายงาน) <br/>{{agCode.agentLevel | slice:0:2}} {{agCode.agentCode}}
          <small class="h5 font-weight-normal text-primary w-100 float-left mt-2">{{agCode.agentName}}</small>
        </p>

      </ng-container>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- <div style="align-items: flex-end;" class="mt-4 mr-4">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
  </div>
 
  <div class="modal-body " style="padding: 0rem;">
    <div class="table-responsive m-table wrapper">
        <table mdbTable id="modal-target-table" class="table table-hover modal-target-table">
          <thead>
           
            <!--first header-->
            <tr class="first">
              <th class="first header-month textCenter modal-target-table mat-cell-header" 
                  aria-controls="modal-target-table" rowspan="2" 
                  style="font-weight: bold; width: 10%;"
              >
                  Month
              </th>
              <ng-container *ngFor="let f_header of first_header; let i = index">
                <th class="header-fheader text-center textColor mat-cell-header" 
                    aria-controls="subdetailtable" colspan="2" 
                    [style]=" setMyStyle(f_header)" style="font-weight: bold; width: 8%;"
                > 
                    {{f_header}}
                </th>
              </ng-container>
            </tr>

            <!--second header-->
            <tr>
              <ng-container *ngFor="let s_header of second_header; let i = index">
                <th class="header-sheader text-center  mat-cell-header" 
                    aria-controls="subdetailtable"
                    [ngClass]="['current-'+i]" style="color: white; width: 8%;"
                > 
                    {{s_header}}
                </th>
              </ng-container>
            </tr>
            
          </thead>

          <tbody *ngIf="masterCurPc.length > 0">
            <tr *ngFor="let m of month; let i = index">
              <ng-container *ngIf="target_Agent_Level =='AGENT'">
                <td class="textCenter mat-cell-body" style="background-color: white;">{{month[i]}}</td>
                <td class="textCenter modal-last-0 mat-cell-body" >{{masterLastPc[i] | number : '1.0-0'}}</td>
                <td class="textCenter mat-cell-body">
                  <div class="form_group" style="padding: 0px 10px;">
                      <input type="text"
                          class="text-center form__field is-x"
                          value="{{masterCurPc[i] | number : '1.0-0'}}"
                          [style]="validatePC[i] == false ? 'color: red;' : 'color: green;'"
                          (input)="checkNewTarget($event.target.value, 'PC', i)"
                          oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                          style="border-radius:10px ;"
                          maxlength="10 ;"
                          currencyMask
                      />
                  </div>
                </td>
              </ng-container>
              <ng-container *ngIf="target_Agent_Level !='AGENT'">
                <td class="textCenter mat-cell-body" style="background-color: white;">{{month[i]}}</td>
                <td class="textCenter modal-last-0 mat-cell-body" >{{masterLastPc[i] | number : '1.0-0'}}</td>
                <td class="textCenter textCenter mat-cell-body" >
                <!-- <input type="number" id="form1" 
                class="form-control is-invalid" 
                placeholder="{{tg.PC_CY}}"
                (change)="checkNewTarget($event.target.value, 'PC', i)"
                /> -->
                  <div class="form_group" style="padding: 0px 10px;">
                      <input type="text" 
                          class="text-center form__field is-x"
                          value="{{masterCurPc[i] | number : '1.0-0'}}"
                          [style]="validatePC[i] == false ? 'color: red;' : 'color: green;'"
                          (input)="checkNewTarget($event.target.value, 'PC', i)"
                          oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                          style="border-radius:10px ;"
                          maxlength="10 ;"
                          currencyMask
                      />
                  </div>
                </td>
                <td class="textCenter modal-last-2 mat-cell-body" >{{masterLastActive[i] | number : '1.0-0'}}</td>
                <td class="textCenter mat-cell-body" >
                <!-- <input type="number" id="form1" 
                    class="form-control is-invalid" 
                    placeholder="{{tg.AT_CY}}"
                    (change)="checkNewTarget($event.target.value, 'AT', i)"
                /> -->
                  <div class="form_group" style="padding: 0px 10px;">
                    <input type="text"
                        class="text-center form__field is-x"
                        value="{{masterCurActive[i] | number : '1.0-0'}}"
                        [style]="validateAT[i] == false ? 'color: red;' : 'color: green;'"
                        (input)="checkNewTarget($event.target.value, 'AT', i)"
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                        style="border-radius:10px ;"
                        maxlength="10 ;"
                        currencyMask
                    />
                  </div>
                </td>
                <td class="textCenter modal-last-4 mat-cell-body" >{{masterLastNc[i] | number : '1.0-0'}}</td>
                <td class="textCenter mat-cell-body" >
                <!-- <input type="number" id="form1" 
                    class="form-control is-invalid" 
                    placeholder="{{tg.NC_CY}}"
                    (change)="checkNewTarget($event.target.value, 'NC', i)"
                /> -->
                  <div class="form_group" style="padding: 0px 10px;">
                    <input type="text" 
                        class="text-center form__field is-x"
                        value="{{masterCurNc[i] | number : '1.0-0'}}"
                        [style]="validateNC[i] == false ? 'color: red;' : 'color: green;'"
                        (input)="checkNewTarget($event.target.value, 'NC', i)"
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                        style="border-radius:10px ;"
                        maxlength="10 ;"
                        currencyMask
                    />
                  </div>
                </td>
                <td class="textCenter modal-last-6 mat-cell-body" >{{masterLastRETENTION[i] | number : '1.0-0'}}</td>
                <td class="textCenter mat-cell-body" >
                  <!-- <input type="number" id="form1" 
                      class="form-control is-invalid" 
                      placeholder="{{tg.NC_CY}}"
                      (change)="checkNewTarget($event.target.value, 'NC', i)"
                  /> -->
                  <div class="form_group" style="padding: 0px 10px;">
                    <input type="text" 
                        class="text-center form__field is-x"
                        value="{{masterCurRETENTION[i] | number : '1.0-0'}}"
                        [style]="validateRETENTION[i] == false ? 'color: red;' : 'color: green;'"
                        (input)="checkNewTarget($event.target.value, 'RETENTION', i)"
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                        style="border-radius:10px ;"
                        maxlength="10 ;"
                        currencyMask
                    />
                  </div>
                </td>
                <td class="textCenter modal-last-8 mat-cell-body" >{{masterLastRYP[i] | number : '1.0-0'}}</td>
                <td class="textCenter mat-cell-body" >
                <!-- <input type="number" id="form1" 
                    class="form-control is-invalid" 
                    placeholder="{{tg.NC_CY}}"
                    (change)="checkNewTarget($event.target.value, 'NC', i)"
                /> -->
                  <div class="form_group" style="padding: 0px 10px;">
                    <input type="text" 
                        class="text-center form__field is-x"
                        value="{{masterCurRYP[i] | number : '1.0-0'}}"
                        [style]="validateRYP[i] == false ? 'color: red;' : 'color: green;'"
                        (input)="checkNewTarget($event.target.value, 'RYP', i)"
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                        style="border-radius:10px ;"
                        maxlength="10 ;"
                        currencyMask
                    />
                  </div>
                </td>
                
              </ng-container>
            </tr>
            <tr>
              <td class="text-center mat-cell-body" style="background-color: white;"><h5 class="font-weight-bold">Total</h5></td>
              <td class="text-cnter modal-last-0 mat-cell-body"><h5 class="font-weight-bold"> {{sumLastPC | number : '1.0-0'}}</h5></td>
              <td class="text-center mat-cell-body"><h5 class="font-weight-bold">{{sumCurPC | number : '1.0-0'}}</h5></td>
              <ng-container *ngIf="target_Agent_Level !='AGENT'">
                <td class="text-center modal-last-2 mat-cell-body" >
                  <h5 class="font-weight-bold">{{sumLastActive | number : '1.0-0'}}</h5>
                </td>
                <td class="textCenter mat-cell-body">
                  <h5 class="font-weight-bold">{{sumCurActive | number : '1.0-0'}}</h5>
                </td>
                <td class="textCenter modal-last-4 mat-cell-body" >
                  <h5 class="font-weight-bold">{{sumLastNc | number : '1.0-0'}}</h5>
                </td>
                <td class="textCenter mat-cell-body">
                  <h5 class="font-weight-bold">{{sumCurNc | number : '1.0-0'}}</h5>
                </td>
                <td class="textCenter modal-last-6 mat-cell-body">
                  <h5 class="font-weight-bold">{{sumLastRETENTION | number : '1.0-0'}}</h5>
                </td>
                <td class="textCenter mat-cell-body">
                  <h5 class="font-weight-bold">{{sumCurRETENTION | number : '1.0-0'}}</h5>
                </td>
                <td class="textCenter modal-last-8 mat-cell-body">
                  <h5 class="font-weight-bold">{{sumLastRYP | number : '1.0-0'}}</h5>
                </td>
                <td class="textCenter mat-cell-body">
                  <h5 class="font-weight-bold">{{sumCurRYP | number : '1.0-0'}}</h5>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
        </div>
    <div *ngIf="masterCurPc.length == 0 && target_Agent_Level =='AGENT'" class="text-center mat-cell-body table-responsive m-table header-na" style="font-size: 13px;">N/A</div>
    <div *ngIf="masterCurPc.length == 0 && target_Agent_Level !='AGENT'"  class="text-center mat-cell-body table-responsive m-table header-na-team" style="font-size: 13px;">N/A</div>
  </div>

  <ng-container *ngIf="masterCurPc.length > 0">
    <div class="container" style="padding-top: 1rem; padding-right: 0px">
      <div class="row">  
            <div class="col-sm-6" style="text-align: start;">
              <p class="h5" style="font-size: 13px;">แก้ไขครั้งล่าสุดโดย {{updateBy.agentName}} เมื่อวันที่ {{updateBy.updateDate |  date:'M/d/yy, H:mm'}}</p>
            </div>
            <div class="col-sm-6" style="text-align: end;">
                <button class="btn btn-primary set-size-button" type="submit"  [disabled]="isDisable" (click)="compareSave()">บันทึก</button>
            </div>
      </div>
    </div>
  </ng-container>
   
  <ng-container *ngIf="masterCurPc.length == 0">
    <div class="col-sm-12" style="text-align: end; padding-top: 1rem; padding-right: 0px">
      <button class="btn btn-primary set-size-button" type="submit" [disabled]="isDisable" (click)="compareSave()">บันทึก</button>
    </div>
  </ng-container>
 
   
</div>

