@import "../../../../../variable.scss";

.container {
    max-width: 100% !important;
}

.textCenter{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

table th, table td {
    font-size: 13px;
}

table.table td, table.table th {
    padding: 5px 3px 5px 2px !important;
}

.table {
    width: 100%;
    max-width: 100%;
    padding: 0px 0px;
    overflow-x: auto !important;
//add 
    position: relative;
}

.modal-target-table {
    text-align: center;
    font-size: 13px;
}

#modal-target-table .first{
    background-color: #024EA1;
    color: white;
    //padding: 5px 3px 5px 2px;
    //vertical-align: top;
}

.textColor{
    color: white;
}

.modal-content {
    border-bottom: 0 none;
    border-right: 0 none;
    border-left: 0 none;
    border-top: 0 none;
}
.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.current-0,.current-1{
    background-color:#1b5e20 ;
}

.current-2,.current-3{
    background-color:#b71c1c ;
}

.current-4,.current-5{
    background-color:#d18c00 ;
}

.current-6,.current-7{
    background-color: #12366D ;
}

.current-8,.current-9{
    background-color:#6A1B9A ;
}

.modal-last-0{
    background-color: #e8f5e9
}

.modal-last-2{
    background-color: rgba(183, 28, 28, 0.2)
}

.modal-last-4{
    background-color: rgba(209, 140, 0, 0.2)
}

.modal-last-6{
    background-color: #12366D33
}

.modal-last-8{
    background-color: #6A1B9A33
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mt-4, .my-4 {
    margin-top: 1rem !important;
}


.form__group {
  position: relative;
  padding: 0px 0 0;
  margin-top: 10px;
  margin-left: 36px;
  margin-right: 20px;
  width: 80%;
}
// .form__group-team {
//     position: relative;
//     padding: 0px 0 0;
//     margin-top: 10px;
//     margin-left: 15px;
//     margin-right: 20px;
//     width: 80%;
//   }

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #333333c1;
  border-top: 1px solid #333333c1;
  border-left: 1px solid #333333c1;
  border-right: 1px solid #333333c1;
  outline: 0;
  font-size: 13px;
  font-family: Roboto,sans-serif;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
 //&::placeholder {
    //color: transparent;
}

.mat-cell {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color:#33333333;
}
.mat-cell-header{
    border-style: solid;
    border-width: 1px 1px !important;
    border-color: white;
}

.mat-cell-body{
    border-style: solid;
    border-width: 1px 1px !important;
    border-color: #33333333;
}

.set-size-button{
    padding: 0.3rem 3.0rem;
}

h2, .h2 {
    font-size: 1.9rem;
}

@media only screen and (max-width: 425px ){
    .form__field {
         font-size: 10px;
     }
}

// @media only screen and (min-width: 565px){
//     .col-sm-6 {
//         max-width: 50%;
//         width: 80%;
//     }
// }

// .table-responsive {
//     display: block;
//     width: 100%;
//     overflow-x: scroll;
// }

// @media (max-width: 768){
//    .style{
//        width: 33% !important;
//    } 
   
// }


@media only screen and (max-width: 768px ){
    .header-month, tr td .month{
        background-color: rgb(4,136,208); 
        text-align: center;
        width: 70px !important; 
        min-width: 98px !important;
        max-width: 70px !important;
    }
    .header-fheader, tr td .f{
        background-color: rgb(4,136,208); 
        text-align: center;
        width: 70px !important; 
        min-width: 212px !important;
        max-width: 70px !important;
    }
    .header-sheader, tr td .s{
        //background-color: rgb(4,136,208); 
        text-align: center;
        width: 70px !important; 
        min-width: 70px !important;
        max-width: 70px !important;
    }
    .header-na, tr td .na{
        //background-color: rgb(4,136,208); 
        text-align: center;
        width: auto !important; 
        min-width: 310px !important;
        max-width: 700px !important;
    }
    
    .header-na-team, tr td .na{
        //background-color: rgb(4,136,208); 
        text-align: center;
        width: auto !important; 
        min-width: 734px !important;
        max-width: 1000px !important;
    }
}


@media only screen and (max-width: 576px ){
    .header-month, tr td .month{
        background-color: rgb(4,136,208); 
        text-align: center;
        width: 70px !important; 
        min-width: 98px !important;
        max-width: 70px !important;
    }
    .header-fheader, tr td .f{
        background-color: rgb(4,136,208); 
        text-align: center;
        width: 70px !important; 
        min-width: 212px !important;
        max-width: 70px !important;
    }
    .header-sheader, tr td .s{
        //background-color: rgb(4,136,208); 
        text-align: center;
        width: 70px !important; 
        min-width: 70px !important;
        max-width: 70px !important;
    }
    // .header-na, tr td .na{
    //     //background-color: rgb(4,136,208); 
    //     text-align: center;
    //     width: 70px !important; 
    //     min-width: 310px !important;
    //     max-width: 70px !important;
    // }
    
    // .header-na-team, tr td .na{
    //     //background-color: rgb(4,136,208); 
    //     text-align: center;
    //     width: 70px !important; 
    //     min-width: 735px !important;
    //     max-width: 70px !important;
    // }
}
// .wrapper {
//     overflow: auto;
//     height: 100px;
//     width: 200px;
// }
table th{
  position: sticky;
  top: 0;
  z-index: 2;
}

table .first th:nth-child(1) {
    left: 0;
    z-index: 3;
}
  
table td {
    text-align: center;
    white-space: pre;
}
  
table tbody tr td:nth-child(1) {
    position: sticky;
    left: 0;
    z-index: 1;
}

