.tb-header-kpi-text{
  text-align:center;
  font-weight: 500;
  color: #FFFFFF;
}
.tb-header-td{
  text-align:left;
  font-weight: 500;
  color: #FFFFFF;
}
.tb-header-td-value{
  text-align:right;
  font-size: large;
  font-weight: 700;
  color: #FFFFFF;
}
.tb-content-td{
  text-align:left;
  font-weight: 500;
  color: #424242;
}
.tb-content-text{
  text-align:right;
  font-weight: 500;
  color: #424242;
}
.table td {
  text-align:right;
  font-weight: 500;
  color: #424242;
}
.tb-border {
  border-right-style: solid;
  border-right-width: thin;
  border-right-color: white;
}
.tb-bg-header-primary{
  background-color:#024b9f;
}
.tb-bg-header{
  background-color:#0071c2;
}
.tb-bg-content{
  background-color:#e4ebf4
}
.tb-bg-content-p-highlight{
  background-color:#e6b3af;
}
.tb-bg-content-highlight{
  background-color:#f5cfbe
}