<section id="content-web-agent-header">
  <div class="container head-area pt-5 pb-4">
    <div class="row align-items-center">
      <div class="col-8 justify-content-end">
        <p class=" h2 font-weight-bold">
          {{modelAgent.agentDetail.levelName}} {{modelAgent.agentDetail.code}}
          <small class="h5 font-weight-normal text-primary w-100 float-left mt-2">
            {{modelAgent.agentDetail.fullName}}
          </small>
        </p>
      </div>
      <div class="col-4 self-align-middle justify-content-end" *ngIf="showBackBtn">
          <div class="float-right">
            <button
              class="btn btn-primary btn-round" 
              (click)="directBackward()"
            > 
              <i class="fa fa-chevron-left"></i> BACK
            </button>
          </div>
        </div>
    </div>
  </div>
</section>