<section id="eventTable">
  <div>
    <table mdbTable id="event-table" class="table table-hover">
      <!-- TABLE HEADER -->
      <tr class="tr-secoundary table-secondary-header-color">
        <ng-container *ngFor="let header of headers; let i = index">
            <th *ngIf="i == 0" class="text-center kpi-sortable" scope="col" (click)="onClickSortingActId()"> 
                {{ header }}
                <mdb-icon fas icon="sort"></mdb-icon>
            </th>
            <th *ngIf="i == 3" class="text-center kpi-sortable" scope="col" (click)="onClickSortingActDate()"> 
              {{ header }}
              <mdb-icon fas icon="sort"></mdb-icon>
          </th>
            <th *ngIf="i !== 0 && i !== 3" class="text-center" scope="col">{{ header }}</th>
        </ng-container>
      </tr>

      <!-- TABLE CONTENT -->
      <tr class="tr-data" *ngFor="let item of data" [ngClass]="{'table-danger': item.delIndi == 'Y'}">
        <td class="text-center">{{ item.activityId }}</td>
        <td>{{ item.activityName }}</td>
        <td>{{ item.location }}</td>
        <td class="text-center">{{ item.activityDate  }}</td>
        <td class="text-center">{{ item.time }}</td>
        <td class="text-center">{{ item.currentCapa }} / {{ item.maxCapa }}</td>
        <td class="text-center">{{ item.maxCapa }}</td>
        <td class="text-center">
          <span class="direct-code" (click)="onShowDetail('info', item.activityId, item.activityType)">รายละเอียด</span>
          <!-- btn ลงทะเบียน -->
    
          <ng-container *ngIf="isAdmin()" >
            <!-- <ng-container> -->
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span 
                class="direct-code" 
                (click)="onAdminRegister('register', item.activityId, item.activityType)"
                [translate]="'web.agent.btn-adminRegister'"
            ></span>
          </ng-container>
          <!-- btn สมัคร -->
          <ng-container *ngIf="item.currentCapa < item.maxCapa && isCanRegister(item.isSignup) ">
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span 
                class="direct-code" 
                (click)="onUserRegister('register', item.activityId, item.activityType)"
                [translate]="'web.agent.btn-agentRegister'"
            ></span>
          </ng-container>
          <!-- <ng-container *ngIf="isAdmin()">
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span class="direct-code" >ใช้งาน</span>
          </ng-container> -->
        </td>
      </tr>

      <!-- TABLE FOOTER -->
      <tfoot class="grey lighten-5">
        <tr class="text-center">
          <td colspan="12">
            <nav aria-label="Page Navigate">
              <ul class="pagination pagination-circle pg-blue mb-0">
                <li class="page-item disabled">
                  <a class="page-link" style="font-weight: 500;" mdbWavesEffect>
                    {{itemInfo()}}
                  </a>
                </li>
                <li class="page-item" (click)="paginationAction('firstPage')">
                  <a mdbwaveseffect="" aria-label="First" class="page-link"><span aria-hidden="true">«</span></a>
                </li>
                <li class="page-item" (click)="paginationAction('previous')">
                  <a mdbwaveseffect="" aria-label="Previous" class="page-link"><span aria-hidden="true">‹</span></a>
                </li>
                <li class="page-item" (click)="paginationAction('next')">
                  <a mdbwaveseffect="" aria-label="Next" class="page-link"><span aria-hidden="true">›</span></a>
                </li>
                <li class="page-item" (click)="paginationAction('endPage')">
                    <a mdbwaveseffect="" aria-label="End" class="page-link"><span aria-hidden="true">»</span></a>
                </li>
              </ul>
            </nav>
          </td>
        </tr>
      </tfoot>

    </table>
    <!-- EMPTY CONTENT -->
    <div *ngIf="data && data.length < 1" class="text-center my-2">
      <span>ไม่พบข้อมูล</span>
    </div>
  </div>
</section>