<div class="container">
  <!-- Chart Render -->
  <div class="col-* col-md-12" *ngIf="series_cur.length > 0">
    <!-- Module declaration problem! -->
    <app-chart-rt
      [dataCurrentYear]="series_cur"
      [dataLastYear]="series_last"
      [dataTarget]="series_target"
      [isShowLastyear]="hideLastYear"
      [chartZoom]="chartZoom">
    </app-chart-rt> 
  </div>

  <!-- Table Render: current year per month -->
  <div class="container my-4">
    <app-minor-table
      [targetSerie]="series_target"
      [approveCurrentSerie]="series_cur"
      [approveLastSerie]="series_last"
      [hideLastYear]="hideLastYear"
      [tableType]="'retention'">
    </app-minor-table>
  </div>

  <!-- Table Render: retention -->
  <div class="container my-4">
    <app-retantion-table
      [dataRetention]="mtd_rt"
      [currentLevel]="currentLevel"
      [closYm]="closYm">
    </app-retantion-table>
  </div>
</div>
