<section id="reportTable">
	<div class="row text-right">  
		<div class="col align-self-end h6">
		  (จำนวน  {{data?.detail?.length }}/ {{data?.totalElements}} รายงาน)
		</div>
	</div>
	<div class="table-responsive">
		<table mdbTable id="report-table" class="table table-hover">
		  <!-- TABLE HEADER -->
		  <!-- <tr class="tr-primary table-color">
			<th class="text-right" colspan="12" scope="colgroup">
			  <span>จำนวนรายงาน x/x</span>
			</th>
		  </tr> -->
		  <tr class="tr-secoundary table-secondary-header-color">
			<ng-container *ngFor="let header of headers; let i = index">
			  <th class="text-center" scope="col">{{ header }}</th>
			</ng-container>
		  </tr>

		  <!-- TABLE CONTENT -->
		  <tr class="tr-data" *ngFor="let item of data?.detail ;let i = index">
			<td class="text-center">{{ i+1 }}</td>
			<td class="text-center">{{ item.date }}</td>
			<td>
			  <span class="direct-code" (click)="generateReportUrl(item)">{{ item.reportName }}</span>
			   <!-- <a class="direct-code" href="{{ generateReportUrl(item.reportPath) }}">{{ item.reportName }}</a> -->
			</td>
			<td class="text-center">{{ item.avpCode }}</td>
			<td class="text-center">{{ item.alCode }}</td>
			<td class="text-center">{{ item.agentCode }}</td>
			<td>{{ item.agentName }}</td>
		  </tr>

		</table>
	</div>
	<div class="row text-right  pt-2">  
		<div class="col align-self-end h6">
		  (จำนวน  {{data?.detail?.length }}/ {{data?.totalElements}} รายงาน) 
		</div>
	</div>
	<div class="container" *ngIf="data?.detail?.length < data?.totalElements">
		<div class="row">
		  <div class="col text-center">
			<button class="btn btn-primary" (click)="retriveReport()">โหลดข้อมูลเพิ่มเติม</button>
		  </div>
		</div>
	</div>


    <!-- EMPTY CONTENT -->
    <div *ngIf="data && data?.detail?.length < 1" class="text-center my-2">
      <span>ไม่พบข้อมูล</span>
    </div>

</section>