<div class="container">
  <!-- Chart Render -->
  <div class="col-* col-md-12" *ngIf="series_cur.length > 0">
    <!-- Module declaration problem! -->
    <app-chart-act
      [dataCurrentYear]="series_cur"
      [dataLastYear]="series_last"
      [dataTarget]="series_target"
      [isShowLastyear]="hideLastYear"
      [chartZoom]="chartZoom">
    </app-chart-act> 
  </div>

  <!-- Table Render: current year per month -->
  <div class="container my-4">
    <app-minor-table
      [targetSerie]="series_target"
      [showSubmit]=false
      [approveCurrentSerie]="series_cur"
      [approveLastSerie]="series_last"
      [approvePercentSerie]="series_percent"
      [dataYTD]="sumYTD"
      [hideLastYear]="hideLastYear">
    </app-minor-table>
  </div>

  <!-- Table Render: MTD -->
  <div class="container my-4">
    <app-mtd-ytd-table
      [kpiType]="'ACTIVE'"
      [periodType]="'MTD'"
      [dataTarget]="series_target"
      [dataCurrentApprove]="series_cur"
      [dataLastApprove]="series_last"
      [dataPercent]="series_percent"
      [activeMonth]="activeMonth">
    </app-mtd-ytd-table>
  </div>

  <!-- Table Render: YTD -->
  <div class="container my-4">
    <app-mtd-ytd-table
      [kpiType]="'ACTIVE'"
      [periodType]="'YTD'"
      [dataYTD]="sumYTD">
    </app-mtd-ytd-table>
  </div>

</div>
