.table {
    width: 100%;
    max-width: 100%;
    padding: 0px 0px;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #fff;
}

.daily-table {
    border: 1px solid #CFD8DD;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
}

.daily-table thead .tr-primary .date{
    background-color: #0488D0;
    // border: 1px solid #CFD8DD;
    color: white;
    padding: 5px 3px 5px 2px;
}

.daily-table thead .tr-primary .pc-submit{
    background-color:rgb(27,94,32);
    // border: 1px solid #CFD8DD;
    color: white;
    padding: 5px 3px 5px 2px;
}

.daily-table thead .tr-primary .pc-actual{
    background-color:rgb(27,94,32);
    // border: 1px solid #CFD8DD;
    color: white;
    padding: 5px 3px 5px 2px;
}

.daily-table thead .tr-primary .active{
    background-color:rgb(183,28,28);
    // border: 1px solid #CFD8DD;
    color: white;
    padding: 5px 3px 5px 2px;
}

.daily-table thead .tr-primary .nc{
    background-color:rgb(209,140,0);
    // border: 1px solid #CFD8DD;
    color: white;
    padding: 5px 3px 5px 2px;
}

.daily-table .data .date{
    padding: 5px 3px 5px 2px;
}

.daily-table .data .pc-submit{
    background-color:#e8f5e9;
    padding: 5px 3px 5px 2px;
}

.daily-table .data .pc-actual{
    background-color:#e8f5e9;
    padding: 5px 3px 5px 2px;
}

.daily-table .data .active{
    background-color:rgb(183,28,28,0.2);
    padding: 5px 3px 5px 2px;
}

.daily-table .data .nc{
    background-color:rgb(209,140,0,0.2);
    padding: 5px 3px 5px 2px;
}

.daily-table .total .date{
    font-weight: 400;
    background-color:#0488D0;
    color: white;
    padding: 5px 3px 5px 2px;
    max-width: 55px;
}

.daily-table .total .pc-submit{
    font-weight: 400;
    background-color:rgb(27,94,32);
    color: white;
    padding: 5px 3px 5px 2px;
    max-width: 55px;
}

.daily-table .total .pc-actual{
    font-weight: 400;
    background-color:rgb(27,94,32);
    color: white;
    padding: 5px 3px 5px 2px;
    max-width: 55px;
}

.daily-table .total .active{
    font-weight: 400;
    background-color:rgb(183,28,28);
    color: white;
    padding: 5px 3px 5px 2px;
    max-width: 55px;
}

.daily-table .total .nc{
    font-weight: 400;
    background-color:rgb(209,140,0);
    color: white;
    padding: 5px 3px 5px 2px;
    max-width: 55px;
}


.daily-table td {    
    // border: 0.5px solid #555758;
    max-width: 75px;
    padding: 5px 3px 5px 2px;
    vertical-align: middle;
}



// .daily-table thead th:first-child {
//     background-color: #024A9F;
//     color: white; 
//     max-width: 55px;
// } 

// .daily-table tbody tr th:first-child {
//     background-color:#E4EBF4;
//     padding: 5px 3px 5px 2px;
//     max-width: 55px;
// }

tr[group='last-yrs'],tr[scope='row']{
    background-color: #efefef!important;
    z-index: 999;
}

tr {
    vertical-align: middle;
}
