<app-m-flipped></app-m-flipped>

<!-- AGENT -->
<div *ngIf="agentLevel=='AGENT'" class="table-responsive">
  <table class="table table-hover daily-table text-right">
    <thead>
      <tr class="tr-primary">
        <th class="text-center date" scope="col" style="width: 10%;">Date</th>
        <th class="text-center pc-submit" scope="col" style="width: 15%;">PC Submit</th>
        <th class="text-center pc-actual" scope="col" style="width: 15%;">PC Actual</th>
        <th class="text-center active" scope="col" style="width: 15%;">Active</th>
        <!-- <th class="text-center" scope="col" style="width: 15%;">RYP</th> -->
      </tr>
    </thead>  
    <ng-container *ngIf="data.length > 0">
      <tbody class="data">
        <tr *ngFor="let data of data">
          <th class="text-center date" group="Date">{{data.dayOfMonth}}</th>
          <td class="pc-submit">{{data.pcSubmit | number : '1.0-0'}}</td>
          <td class="pc-actual">{{data.pcActual | number : '1.0-0'}}</td>
          <td class="active text-center">{{data.active | number : '1.0-0'}}</td>
          <!-- <td>{{data.ryp | number}}</td> -->
        </tr>
      </tbody>
      <tbody class="total">
        <tr>
          <th class="text-center date" group="Date">Total</th>
          <td class="total pc-submit">{{totalLabel.pcSubmit | number : '1.0-0'}}</td>
          <td class="total pc-actual">{{totalLabel.pcActual | number : '1.0-0'}}</td>
          <td class="total active text-center">{{totalLabel.active | number : '1.0-0'}}</td>
          <!-- <td class="total">{{totalLabel.ryp | number}}</td> -->
        </tr>
      </tbody>
    </ng-container>
  </table>
  <div *ngIf="data && data.length < 1" class="text-center">ไม่พบข้อมูล</div>
</div>

<!-- GM VP AL -->
<div *ngIf="agentLevel=='GM' || agentLevel=='AVP' || agentLevel=='AL'" class="table-responsive m-table">
  <table class="table table-hover daily-table text-right">
    <thead>
      <tr class="tr-primary">
        <th class="text-center date" scope="col" style="width: 10%;">Date</th>
        <th class="text-center pc-submit" scope="col" style="width: 15%;">PC Submit</th>
        <th class="text-center pc-actual" scope="col" style="width: 15%;">PC Actual</th>
        <th class="text-center active" scope="col" style="width: 15%;">Active</th>
        <th class="text-center nc" scope="col" style="width: 15%;">NC</th>
        <!-- <th class="text-center" scope="col" style="width: 15%;">RYP</th> -->
      </tr>
    </thead>  
    <ng-container *ngIf="data.length > 0">
      <tbody class="data">
        <tr *ngFor="let data of data">
          <th group="Date" class="text-center date">{{data.dayOfMonth}}</th>
          <td class="pc-submit">{{data.pcSubmit | number : '1.0-0'}}</td>
          <td class="pc-actual">{{data.pcActual | number : '1.0-0'}}</td>
          <td class="active text-center">{{data.active | number : '1.0-0'}}</td>
          <td class="nc text-center">{{data.nc | number : '1.0-0'}}</td>
          <!-- <td>{{data.ryp | number}}</td> -->
        </tr>
      </tbody>
      <tbody class="total">
        <tr>
          <th class="text-center date" group="Date">Total</th>
          <td class="total pc-submit">{{totalLabel.pcSubmit | number : '1.0-0'}}</td>
          <td class="total pc-actual">{{totalLabel.pcActual | number : '1.0-0'}}</td>
          <td class="total active text-center">{{totalLabel.active | number : '1.0-0'}}</td>
          <td class="total nc text-center">{{totalLabel.nc | number : '1.0-0'}}</td>
          <!-- <td class="total">{{totalLabel.ryp | number}}</td> -->
        </tr>
      </tbody>
    </ng-container>     
  </table>
  <div *ngIf="data && data.length < 1" class="text-center">ไม่พบข้อมูล</div>
</div>

<div *ngIf="agentLevel=='ZONE' " class="table-responsive m-table">
  <table class="table table-hover daily-table text-right">
    <thead>
      <tr class="tr-primary">
        <th class="text-center date" scope="col" style="width: 10%;">Date</th>
        <th class="text-center pc-submit" scope="col" style="width: 15%;">PC Submit</th>
        <th class="text-center pc-actual" scope="col" style="width: 15%;">PC Actual</th>
        <th class="text-center active" scope="col" style="width: 15%;">Active</th>
        <th class="text-center nc" scope="col" style="width: 15%;">NC</th>
        <!-- <th class="text-center" scope="col" style="width: 15%;">Retention</th> -->
        <!-- <th class="text-center" scope="col" style="width: 15%;">RYP</th> -->
      </tr>
    </thead>  
    <ng-container *ngIf="data.length > 0">
      <tbody class="data">
        <tr *ngFor="let data of data">
          <th class="text-center date" group="Date">{{data.dayOfMonth}}</th>
          <td class="pc-submit">{{data.pcSubmit/1000 | number : '1.0-0'}}K</td>
          <td class="pc-actual">{{data.pcActual/1000 | number : '1.0-0'}}K</td>
          <td class="active text-center">{{data.active | number}}</td>
          <td class="nc text-center">{{data.nc | number}}</td>
          <!-- <td>{{data.retention| number}}</td> -->
          <!-- <td>{{data.ryp/1000  | number : '1.0-0'}}K</td> -->
        </tr>
      </tbody>
      <tbody class="total">
        <tr>
          <th class="text-center date" group="Date">Total</th>
          <td class="total pc-submit">{{totalLabel.pcSubmit/1000 | number : '1.0-0'}}K</td>
          <td class="total pc-actual">{{totalLabel.pcActual/1000 | number : '1.0-0'}}K</td>
          <td class="total active text-center">{{totalLabel.active | number}}</td>
          <td class="total nc text-center">{{totalLabel.nc | number}}</td>
          <!-- <td class="total">{{totalLabel.retention | number}}</td> -->
          <!-- <td class="total">{{totalLabel.ryp/1000  | number : '1.0-0'}}K</td> -->
        </tr>
      </tbody>
    </ng-container>
  </table>
  <div *ngIf="data && data.length < 1" class="text-center">ไม่พบข้อมูล</div>
</div>