<!-- UPPER ZONE -->
<div class="container-fuild">
  <!-- LOADING SPINNER -->
  <ngx-spinner bdColor='rgba(0, 0, 0, 0.8)' size="medium" color="#024ea1" type="cube-transition" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

  <div class="bg-base">
    <!-- TITLE AND DESCRIPTION -->
    <div class="container head-area py-5 px-lg-0">
      <div class="row justify-content-between">
        <!-- CONTENT -->
        <div class="col-auto">
          <p class=" h2 font-weight-bold">อัปโหลดการแข่งขัน</p>
          <small class="h5 font-weight-normal text-primary w-100 float-left mt-2">
            ทำการอัปโหลดการแข่งขันเพื่ออัปเดต Promotion Result และ Promotion Potential
          </small>
        </div>

        <!-- GO HOME Controller -->
        <div class="col-auto d-flex justify-content-end align-items-center">
          <button class="btn btn-primary btn-round" (click)="goToHome()">
            <i class="fa fa-chevron-left"></i> HOME
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL RESULT NOTI -->
<ng-template #contentResult let-modal style="align-items: center;">
  <div id="modal-status" class="mx-5 my-5">
    <app-modal-edit-status [status]="modalStatus" [msgSuccess]="msgSuccess" [msgFail]="msgFail">
    </app-modal-edit-status>
  </div>
</ng-template>

<ng-template #contentConfirm let-modal style="align-items: center;">
  <div id="modal-confirm" class="mx-5 my-5">
    <h3 style="text-align: center;">
      <i class="fas fa-trash fa-3x text-danger" style="margin-bottom: 24px"></i>
      <br>
      ยืนยันการยกเลิกใช้งาน Config 
      <br>
      <button type="button" class="btn btn-light set-size-button" 
        (click)="closeModalConfig()"
        style="margin-top: 24px"
      >
        Cancel
      </button>
      <button type="button" class="btn btn-danger set-size-button" 
        (click)="submitDeleteConfig(contentResult)"
        style="margin-top: 24px"
      >
        OK
      </button>
    </h3>
  </div>
</ng-template>

<!-- LOWER ZONE -->
<div class="container-fluid pt-4 pb-5">

  <!-- [ngClass]="data.status == 1 ? data.policyStatus+'-check' : data.policyStatus" -->
  <!-- TAB LIST -->
  <div class="container nav nav-tabs">
    <button class="nav-link" [ngClass]="tabSelectedId == 0 ? 'active' : ''" type="button" (click)="onChangeTab(0)">Upload</button>
    <button class="nav-link" [ngClass]="tabSelectedId == 1 ? 'active' : ''" type="button" (click)="onChangeTab(1)">History</button>
  </div>

  <!-- CONTENT -->
  <div class="container tab-content pt-4 pb-5 px-lg-0" id="nav-tabContent">
    <!-- UPLOAD -->
    <div class="tab-pane fade" [ngClass]="tabSelectedId == 0 ? 'show active' : ''">

      <!-- TITLE -->
      <div class="row">
        <div class="col">
          <p>กรุณาเลือกประเภทและไฟล์การแข่งขัน (รองรับไฟล์สกุล XLSX หรือ XLS เท่านั้น)</p>
        </div>
      </div>

      <!-- SELECT PROMOTION TYPE -->
      <div class="pb-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" [(ngModel)]="filePromotionType" value="RESULT" checked>
          <label class="form-check-label" for="inlineRadio1" >สรุปการแข่งขัน (Contest)</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" [(ngModel)]="filePromotionType" value="POTENTIAL">
          <label class="form-check-label" for="inlineRadio2" >คาดการณ์การแข่งขัน (Contest fcst.)</label>
        </div>
      </div>
      <!-- HANDLE FILE -->
      <div class="row">
        <div class="col col-lg-6">
          <form>
            <div class="custom-file">
              <input id="customFile" class="custom-file-input" type="file" multiple="false" accept=".xlsx, .xls"
                (change)="onFileChange($event)">
              <label class="custom-file-label" for="customFile">
                <span>{{fileName || 'เลือกไฟล์'}}</span>
              </label>
            </div>
          </form>
        </div>
        <div class="col-auto text-center">
          <button class="btn btn-primary" type="submit" (click)="onSubmitFile(contentResult)">Upload</button>
        </div>
      </div>
      
      <!-- PREVIEW DATA-DESCRIPTION -->
      <div class="row py-4" *ngIf="fileSelected">
        <div class="col-auto">
          <span class="sub-header">ชื่อไฟล์:</span>
          <span class="mx-2">{{fileSelected.name}}</span>
          <span class="sub-header">ขนาด:</span>
          <span class="mx-2">{{fileSelected.size/1024}}</span>
          <span class="sub-header">KB.</span>
          <br>
          <span class="sub-header">สถานะการอัปโหลด:</span>
          <span class="{{'mx-2 upload-status-' + uploadStatus}}">{{msgUploadStatus}}</span>
        </div>
      </div>
      
      <!-- PREVIEW DATA-TABLE -->
      <!-- <div class="row justify-content-center py-2">
            <div class="col table-responsive" *ngIf="tableHeader">
              <table id="previewDataTable" class="table mb-0">
                <thead #header class="thead-dark">
                  <tr>
                    <th *ngFor="let header of tableHeader">
                      {{header}}
                    </th>
                  </tr>
                </thead>
                <tbody #container>
                  <tr *ngFor="let row of tableData">
                    <td *ngFor="let val of tableHeader; let i =index">
                      {{row[i] || ''}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr class="mt-0 mb-2">
              <small>*หมายเหตุ แสดงผลตัวอย่างข้อมูลจำนวน 5 Rows แรก</small>
            </div>
          </div> -->
    </div>
    <!-- HISTORY -->
    <div class="tab-pane fade" [ngClass]="tabSelectedId == 1 ? 'show active' : ''">
      <app-promotion-config-table
        [headers]="configTableHeader"
        [data]="configTableData"
        (onDelete)="handlerOnDeleteConfig(contentConfirm, $event)"
      ></app-promotion-config-table>
    </div>
  </div>
</div>