@import "../../../../variable.scss";

.bg-base {
    background-color:$base-color ;
}
.head-area {
    height: auto;
}
table th, table td {
  font-size: 12px;
}
.sub-header {
  font-weight: bold;
}
.upload-status-0 {
  color: #d18b00;
}
.upload-status-1 {
  // color: #b71e20;
  color: red;
}
.upload-status-2 {
  // color: #1d5e22;
  color: green;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #024Ea1;
  border-color: #dee2e6 #dee2e6 #fff;
}


.set-size-button{
  margin-left: 8px;
  margin-right: 8px;
  width: 128px;
}