<div class="container-fuild pb-5">
  <ngx-spinner bdColor='rgba(0, 0, 0, 0.8)' size="medium" color="#024ea1" type="cube-transition" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

  <!-- Agent's Detail and Filter Box -->
  <div class="bg-base pb-5 pt-5">
    <!-- <app-agent-header></app-agent-header> -->
    <app-report-filter
      (searchReport)="handlerSearchReport($event)"
    ></app-report-filter>
  </div>

  <!-- Result: Insurance List -->
  <div class="container pt-4 pb-5">
    <div class="row justify-content-start" *ngIf="searchStatus">
      <div class="col-12 justify-content-start">
        <p class="h3 font-weight-bold" [translate]="'web.agent.search-res-report'"></p>
      </div>
      <div class="col-12">
        <app-report-table
          [headers]="tableHeader" 
          [data]="modelReportTable"
          (searchReport)="handlerPaggingSearch($event)"
        ></app-report-table>
      </div>
    </div>
  </div>
</div>