<div class="container-fuild">
  <ngx-spinner bdColor = 'rgba(0, 0, 0, 0.8)' size = "medium" color = "#024ea1" type = "cube-transition" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  
  <div *ngIf="!loadingStatus">
    <div class="container head-area py-3">
      <!-- Agent's Detail -->
      <div class="row">
        <div class="col-8 justify-content-start">
          <p class=" h2 font-weight-bold">{{modelUser.levelName}} {{modelUser.agentCode}}
            <small class="content-desktop h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{modelUser.agentName}} {{prstRte}}
            </small>
            <small class="content-mobile h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{modelUser.agentName}} <br> {{prstRte}}
            </small>
          </p>
        </div>
        <div class="col-4 self-align-middle justify-content-end">
          <div class="pb-4 float-right" *ngIf="showBtnHome">
            <button class="btn btn-primary btn-round" (click)="goToHome()"> <i class="fa fa-chevron-left"></i> HOME</button>
          </div>
        </div>
      </div>

      <!-- Agent's Table Summary -->
      <app-master-table *ngIf="modelUser.tableOverview"
        [agentLevel]="modelUser.agentLevel"
        [data]="modelUser.tableOverview">
      </app-master-table>

      <div class="container pt-2 mb-4">
        <div class="row justify-content-center">
          <button
            class="btn btn-outline-year btn-block text-center"
            (click)="handleViewTeam()"
          >
            <i class="fa fa-users mx-2"></i>ข้อมูลทีมงาน (Team)
          </button>
        </div>
        
        <!-- Phase 3 Navigate Route -->
        <ng-container *ngIf="channelFilterSelected != 'ALT'">
          <div class="row justify-content-center">
            <div class="col-md-6 menu-left">
              <button
                class="btn btn-outline-year btn-block text-center"
                (click)="onClickPromotion('สรุปการแข่งขัน')"
              >
                สรุปการแข่งขัน (Contest)
              </button>
            </div>
            <div class="col-md-6 menu-right">
              <button
                class="btn btn-outline-year btn-block text-center"
                (click)="onClickPromotion('คาดการณ์การแข่งขัน')"
              >
                คาดการณ์การแข่งขัน (Contest fcst.)
              </button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6 menu-left">
              <button
                class="btn btn-outline-year btn-block text-center"
                (click)="onClickCompensation()"
              >
                ผลประโยชน์ รักษา/เลื่อนตำแหน่ง (Benefits&Promote)
              </button>
            </div>
            <div class="col-md-6 menu-right">
              <button
                class="btn btn-outline-year btn-block text-center"
                (click)="onClickPersistency()"
              >
                อัตราความยั่งยืน (Pers)
              </button>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col-md-6 menu-left">
              <button
                class="btn btn-outline-year btn-block text-center"
                (click)="scrollTo('dailyTable')"
                [attr.aria-expanded]="!isDailyCollapsed"
                aria-controls="dailyCollaped"
              >
                ผลงานรายวัน (Daily)
              </button>
            </div>
            <div class="col-md-6"></div>
          </div>
        </ng-container>
        <!-- End Phase 3 Navigate Route -->

        <!-- Channel ALT -->
        <ng-container *ngIf="channelFilterSelected == 'ALT'">
          <div class="row justify-content-center">
            <div class="col-md-6 menu-left">
              <button
                class="btn btn-outline-year btn-block text-center"
                (click)="onClickPromotion('สรุปการแข่งขัน')"
              >
                สรุปการแข่งขัน (Contest)
              </button>
            </div>
            <div class="col-md-6 menu-right">
              <button
                class="btn btn-outline-year btn-block text-center"
                (click)="onClickPromotion('คาดการณ์การแข่งขัน')"
              >
                คาดการณ์การแข่งขัน (Contest fcst.)
              </button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6 menu-left">
              <button
                class="btn btn-outline-year btn-block text-center"
                (click)="onClickPersistency()"
              >
                อัตราความยั่งยืน (Pers)
              </button>
            </div>
            <div class="col-md-6 menu-right">
              <button
                class="btn btn-outline-year btn-block text-center"
                (click)="scrollTo('dailyTable')"
                [attr.aria-expanded]="!isDailyCollapsed"
                aria-controls="dailyCollaped"
              >
                ผลงานรายวัน (Daily)
              </button>
            </div>
          </div>
        </ng-container>
      </div>
      <!-- KPI Daily Table -->
      <div id="dailyTable" class="container-fuild"></div>

      <div class="container pb-5"
        id="dailyCollaped"
        [collapse]="isDailyCollapsed"
        [isAnimated]="true"
      >
        <div class="row justify-content-between">
          <div class="col-auto justify-content-start px-0">
            <p class="h3 font-weight-bold">
              KPI Daily
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4 offset-md-8 col-lg-3 offset-lg-9">
            <!-- <div class="row align-items-center" style="margin-right: 0px;"> -->
              
              <div class="input-group mb-3">
                <div class="input-group-prepend" >
                  <label class="input-group-text" for="inputGroupSelect01">
                    Month
                  </label>
                </div>
                <select [(ngModel)]="selectCalendar" 
                  (change)="handleSelectCalendar()" 
                  class="custom-select" 
                  id="inputGroupSelect01"
                >
                  <option *ngFor="let option of calendarList" [value]="option.value">
                    {{option.viewValue}}
                  </option>
                </select>
              </div>
            <!-- </div> -->
          </div>
        </div>

        <!-- Overview KPI Table-->
        <div class="row pt-4">
          <div class="col-* col-md-12 justify-content-center px-0">
            <!-- Component Daily Table -->
              <app-daily-table
                [agentLevel]="modelUser.agentLevel"
                [data]="selectPerformanceDaily"
                [totalLabel]="modelUser.performanceDailyTotal">
              </app-daily-table>
          </div>
        </div>
      </div>
     
      <!-- End KPI Daily Table -->

      <!-- Overview Header and Button Year Comparison -->
      <div class="container-fuild">
        <div class="container head-area py-2 px-0">
          
          <!-- KPI Compare between year -->
          <div class="row justify-content-between">
            <div class="col-auto justify-content-start">
              <p class="h3 font-weight-bold">KPI Summary</p>
            </div>
            <div class="col-auto justify-content-end" style="margin-left: 15px; margin-right: 8px;">
              <div class="row align-items-center">
                <div *ngIf="!hideLastYear">
                  <span class="dot bg-legend-last-year mr-2"></span>
                  <span class="mr-4">{{currentYear - 1}}</span>
                </div>

                <div>
                  <span class="dot bg-legend-cur-year mr-2"></span>
                  <span class="mr-4">{{currentYear}}</span> 
                </div>

                <div>
                  <button class="btn mx-2"
                    [class.btn-year]="!hideLastYear"
                    [class.btn-outline-year]="hideLastYear"
                    (click)="compareYear()">
                    <i class="fa fa-exchange-alt"></i> {{currentYear - 1}} - {{currentYear}}
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- KPI period MTD/YTD -->
          <div class="row justify-content-end mt-2">
            <div class="col-md-auto col-sm-12 justify-content-end">
              <button class="btn btn-period-type btn-period-left" [class.btn-toggle-mtd]="kpiPeriodMode_status"
                [class.btn-untoggle]="!kpiPeriodMode_status" (click)="handlerKpiPeriodMode('MTD')">
                MTD
              </button>
              <button class="btn btn-period-type btn-period-right btn-bg-ytd" [class.btn-toggle-ytd]="!kpiPeriodMode_status"
                [class.btn-untoggle]="kpiPeriodMode_status" (click)="handlerKpiPeriodMode('YTD')">
                YTD
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Overview KPI Box and Charts -->
<div class="container pb-5" *ngIf="!loadingStatus">
  <div class="row mb-5">
    <div class="col-* col-md-12">

      <!-- KPI BoxValue: PC -->
      <app-card-chart
        [kpiValueBox]="model_PC.kpiBoxValue"
        [renderChartType]="'PC'"
        [dataCurrentYear]="model_PC.series_current"
        [dataLastYear]="model_PC.series_last"
        [dataTarget]="model_PC.series_target"
        [isShowLastyear]="hideLastYear"
        [periodType]="kpiPeriodMode_name">
      </app-card-chart>

      <!-- KPI BoxValue: Active -->
      <app-card-chart
        [kpiValueBox]="model_Active.kpiBoxValue"
        [renderChartType]="'ACTIVE'"
        [dataCurrentYear]="model_Active.series_current"
        [dataLastYear]="model_Active.series_last"
        [dataTarget]="model_Active.series_target"
        [isShowLastyear]="hideLastYear"
        [periodType]="kpiPeriodMode_name">
      </app-card-chart>

      <!-- KPI BoxValue: RYP -->
      <app-card-chart
        [kpiValueBox]="model_RYP.kpiBoxValue"
        [renderChartType]="'RYP'"
        [dataCurrentYear]="model_RYP.series_current"
        [dataLastYear]="model_RYP.series_last"
        [dataTarget]="model_RYP.series_target"
        [isShowLastyear]="hideLastYear"
        [periodType]="kpiPeriodMode_name">
      </app-card-chart>

    </div>
  </div>
</div>
<div id="back-to-top">
  <a class="top" id="top" href="javascript:void(0)" (click)="scrollTop()"> <i class="fa fa-arrow-up" aria-hidden="true"></i> </a>
</div>