<app-m-flipped></app-m-flipped>

<!-- AGENT -->
<div class="table-responsive">
  <table class="table table-hover collect-table" mdbTable>
    <thead>
      <tr class="tr-primary">
        <ng-container *ngFor="let header of headers; let i=index">
          <th
            class="text-center sortable"
            (click)="handleSorting(normalizeIndexOfFieldNames(i))"
            
          >
          <!-- [mdbTableSort]="data"
          [sortBy]="fieldNames[i]" -->
            {{header}}
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
        </ng-container>
      </tr>
    </thead>
  
    <tbody> 

      <tr *ngFor="let data of data; let i=index">
          <td *ngIf="isShowGmCol()"
           [ngClass]="data.status == 1 ? data.policyStatus+'-check' : data.policyStatus"
          >
            {{data.gmCode}} <br> {{data.gmName}}
          </td>
          <td *ngIf="isShowAvpCol()"
            [ngClass]="data.status == 1 ? data.policyStatus+'-check' : data.policyStatus"
          >
            {{data.avpCode}} <br> {{data.avpName}}
          </td>
          <td *ngIf="isShowAlCol()"
            [ngClass]="data.status == 1 ? data.policyStatus+'-check' : data.policyStatus"
          >
            {{data.alCode}} <br> {{data.alName}}
          </td>
          <td [ngClass]="data.status == 1 ? data.policyStatus+'-check' : data.policyStatus">
            {{data.agentCode}} <br> {{data.agentName}}
          </td>
          <td [ngClass]="data.status == 1 ? data.policyStatus+'-check' : data.policyStatus">
            {{data.policyCode}} <br> {{data.customerName}}
          </td>
          <td [ngClass]="data.status == 1 ? data.policyStatus+'-check' : data.policyStatus">
            {{data.targetPc | number: '1.0-0' }}
          </td>
          <td [ngClass]="data.status == 1 ? data.policyStatus+'-check' : data.policyStatus">
            {{convertStringToDate(data.contYmd) | date:'dd/MM/yyyy'}}
          </td>
          <!-- <td [ngClass]="data.status == 1 ? data.policyStatus+'-check' : data.policyStatus">
            {{data.yearTerm}}
          </td> -->
          <td [ngClass]="data.status == 1 ? data.policyStatus+'-check' : data.policyStatus">
            <input type="checkbox" class="form-control" id="checkboxNoLabel" [checked]="data.status == true" (click)="onClick(i)">
          </td>
          <!-- <td *ngIf="flagClosym" [ngClass]="data.status == 1 ? data.policyStatus+'-check' : data.policyStatus">
            {{data.contYmd}}
          </td> -->
      </tr>
    </tbody>
    <tfoot
      class="grey lighten-5">
      <tr class="text-center">
      </tr>
    </tfoot>
  </table>
  <div *ngIf="data && data.length < 1" class="text-center non-data">N/A</div> 
</div>
<div *ngIf="data && (pagingCount <= totalPage - 1)" class="text-center pt-3">
  <button class="btn btn-primary btn-round" (click)="onLoadData()">
    <i class="fas fa-redo"></i>
    โหลดข้อมูลเพิ่มเติม
  </button> 
</div>