table th, table td {
  font-size: 13px;
}

.sortable{
  cursor: pointer;
}

.table {
  width: 100%;
  max-width: 100%;
  margin: 0px 0px;
}

.non-data {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
}

.sub-detail-sortable{
  cursor: pointer;
}

.collect-table {
  text-align: center;
  font-size: 13px;
}

.collect-table thead .tr-primary{
  background-color: #0072C2;
  color: white;
  padding: 5px 3px 5px 2px;
  vertical-align: top;
}

.text-value {
  font-weight: 500 !important;
}

.btn-blue {
  color: #2196F3 !important;
}

.Pending {
  background-color:#D18C0033;
  vertical-align: top;
}

.Pending-check {
  background-color:#D18C0066;
  vertical-align: top;
}

.Lapsed {
  background-color:#f7f7f7;
  vertical-align: top;
}

.Lapsed-check {
  background-color:#A7A7A7;
  vertical-align: top;
}

// @media only screen and (max-width: 768px){
//   .m-table th, .m-table td, .m-table tr {
//       padding: 5px 5px 5px 5px !important ;
//       font-size: 3px !important;
//       vertical-align: top !important;
//   }
// }

// @media only screen and (max-width: 1024px){
//   .m-table th, .m-table td, .m-table tr {
//       padding: 5px 5px 5px 5px !important ;
//       font-size: 6px !important;
//       vertical-align: top !important;
//   }
// }

// @media only screen and (min-width: 1024px){
//   .m-table th, .m-table td, .m-table tr {
//       padding: 5px 5px 5px 5px !important ;
//       vertical-align: top !important;
//   }
// }
tr.bg-hilight td {
  background-color: #ffeecc  !important;
}