<!-- navigation -->
<div class="container mt-3">
  <div class="d-flex justify-content-around mb-12 h-100 lock-page" *ngIf="!clientIsDead">
    <div class="p-3">
      <span class="spinner-border"></span>
    </div>
  </div>
  <div class="d-flex justify-content-around mb-12 h-100 lock-page">
    <div class="p-3">
      <span *ngIf="!clientIsDead">กำลังตรวจสอบอุปกรณ์</span>
      <span *ngIf="clientIsDead">ไม่พบระบบ Lock Engine</span>
    </div>
  </div>

   <!-- <div class="d-flex justify-content-around mb-12">
    <div class="p-3" style="overflow-y: scroll;">
      <p *ngFor="let log of getLog();index as i">{{i}} {{log | json }}</p>
    
    </div>
  </div> -->
</div>