<app-m-flipped></app-m-flipped>
<div class="my-2 table-responsive">
  <table class="weekly-table">
    <thead>
      <tr class="tr-primary">
        <th hdr="main" rowspan="2" group="zone">Zone</th> 
        <th class="week1" hdr="main" colspan="3" scope="colgroup" group="weekly1">Until 7 {{monthName}}</th>
        <th class="week2" hdr="main" colspan="3" scope="colgroup" group="weekly2">Until 14 {{monthName}}</th>
        <th class="week3" hdr="main" colspan="3" scope="colgroup" group="weekly3">Until 21 {{monthName}}</th>
        <th class="week4" hdr="main" colspan="3" scope="colgroup" group="weekly4">End of {{monthName}} {{year}}</th>
      </tr>
      <tr class="tr-secoundary">
        <th style="width: 7.9%;" group="weekly1" class="week1">Target</th>
        <th style="width: 7.9%;" group="weekly1" class="week1">Actual</th>
        <th style="width: 7.9%;" group="weekly1" class="week1">Gap</th>

        <th style="width: 7.9%;" group="weekly2" class="week2">Target</th>
        <th style="width: 7.9%;" group="weekly2" class="week2">Actual</th>
        <th style="width: 7.9%;" group="weekly2" class="week2">Gap</th>

        <th style="width: 7.9%;" group="weekly3" class="week3">Target</th>
        <th style="width: 7.9%;" group="weekly3" class="week3">Actual</th>
        <th style="width: 7.9%;" group="weekly3" class="week3">Gap</th>

        <th style="width: 7.9%;" group="weekly4" class="week4">Target</th>
        <th style="width: 7.9%;" group="weekly4" class="week4">Actual</th>
        <th style="width: 7.9%;" group="weekly4" class="week4">Gap</th>
      </tr>
    </thead>
    <tbody class="tr-data">
      <tr class="text-right" *ngFor="let data of data">
        <div *ngIf="data.agentLevel=='COMPANY'; then companyBlock else channelBlock"></div>
        
        <ng-template #companyBlock>
          <td class="total text-center">Total Comp</td>
          <td class="total-week1">{{displayValue(data.target1)}}</td>
          <td class="total-week1">{{displayValue(data.actual1)}}</td>
          <td class="total-week1">{{displayValue(data.gap1)}}</td>
          <!-- <td [ngStyle]="{'color':data.gap1 >= 0 ? '' : 'red' }" class="total-data">{{displayValue(data.gap1)}}</td> -->
          <td class="total-week2">{{displayValue(data.target2)}}</td>
          <td class="total-week2">{{displayValue(data.actual2)}}</td>
          <td class="total-week2">{{displayValue(data.gap2)}}</td>
          <!-- <td [ngStyle]="{'color':data.gap2 >= 0 ? '' : 'red' }" class="total-data">{{displayValue(data.gap2)}}</td> -->
          <td class="total-week3">{{displayValue(data.target3)}}</td>
          <td class="total-week3">{{displayValue(data.actual3)}}</td>
          <td class="total-week3">{{displayValue(data.gap3)}}</td>
          <!-- <td [ngStyle]="{'color':data.gap3 >= 0 ? '' : 'red' }" class="total-data">{{displayValue(data.gap3)}}</td> -->
          <td class="total-week4">{{displayValue(data.target4)}}</td>
          <td class="total-week4">{{displayValue(data.actual4)}}</td>
          <td class="total-week4">{{displayValue(data.gap4)}}</td>
          <!-- <td [ngStyle]="{'color':data.gap4 >= 0 ? '' : 'red' }" class="total-data">{{displayValue(data.gap4)}}</td> -->
        </ng-template>

        <ng-template #channelBlock>
          <div *ngIf="data.agentLevel=='CHANNEL'; then chBlock else zoneBlock"></div>
            <ng-template #chBlock>
              <td class="text-center weekly-channel-table">{{data.groupChannel}}</td>
              <td class="weekly-channel-table-week1">{{displayValue(data.target1)}}</td>
              <td class="weekly-channel-table-week1">{{displayValue(data.actual1)}}</td>
              <td class="weekly-channel-table-week1" [ngStyle]="{'color':data.gap1 >= 0 ? 'green' : 'red' }">{{displayValue(data.gap1)}}</td>
              <td class="weekly-channel-table-week2">{{displayValue(data.target2)}}</td>
              <td class="weekly-channel-table-week2">{{displayValue(data.actual2)}}</td>
              <td class="weekly-channel-table-week2" [ngStyle]="{'color':data.gap2 >= 0 ? 'green' : 'red' }">{{displayValue(data.gap2)}}</td>
              <td class="weekly-channel-table-week3">{{displayValue(data.target3)}}</td>
              <td class="weekly-channel-table-week3">{{displayValue(data.actual3)}}</td>
              <td class="weekly-channel-table-week3" [ngStyle]="{'color':data.gap3 >= 0 ? 'green' : 'red' }">{{displayValue(data.gap3)}}</td>
              <td class="weekly-channel-table-week4">{{displayValue(data.target4)}}</td>
              <td class="weekly-channel-table-week4">{{displayValue(data.actual4)}}</td>
              <td class="weekly-channel-table-week4" [ngStyle]="{'color':data.gap4 >= 0 ? 'green' : 'red' }">{{displayValue(data.gap4)}}</td>
            </ng-template>
            
            <ng-template #zoneBlock>
              <td class="text-center">{{data.zoneName}}</td>
              <td class="weekly-table-week1">{{displayValue(data.target1)}}</td>
              <td class="weekly-table-week1">{{displayValue(data.actual1)}}</td>
              <td class="weekly-table-week1" [ngStyle]="{'color':data.gap1 >= 0 ? 'green' : 'red' }">{{displayValue(data.gap1)}}</td>
              <td class="weekly-table-week2">{{displayValue(data.target2)}}</td>
              <td class="weekly-table-week2">{{displayValue(data.actual2)}}</td>
              <td class="weekly-table-week2" [ngStyle]="{'color':data.gap2 >= 0 ? 'green' : 'red' }">{{displayValue(data.gap2)}}</td>
              <td class="weekly-table-week3">{{displayValue(data.target3)}}</td>
              <td class="weekly-table-week3">{{displayValue(data.actual3)}}</td>
              <td class="weekly-table-week3" [ngStyle]="{'color':data.gap3 >= 0 ? 'green' : 'red' }">{{displayValue(data.gap3)}}</td>
              <td class="weekly-table-week4">{{displayValue(data.target4)}}</td>
              <td class="weekly-table-week4">{{displayValue(data.actual4)}}</td>
              <td class="weekly-table-week4" [ngStyle]="{'color':data.gap4 >= 0 ? 'green' : 'red' }">{{displayValue(data.gap4)}}</td>
            </ng-template>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
