.table {
  width: 100%;
  max-width: 100%;
  padding: 0px 0px;
}

.table td,
.table th {
  text-align: center;
  font-size: 13px;
  font-weight: bolder;
}

*[group="zone"] {
  background-color: rgb(4, 136, 208);
  text-align: center;
  width: 70px;
  min-width: 70px;
  max-width: 70px;
}

.weekly-table td {
  vertical-align: bottom;
  border-top: 1px solid #fff;
  font-weight: 400;
}

.weekly-table {
  text-align: center;
  font-size: 13px;
  font-weight: bolder;
}

.tr-secoundary th {
  font-weight: 400;
}
// .weekly-table thead .tr-primary,
// .weekly-table thead .tr-secoundary .normal{
//     background-color: #0072C2;
//     color: white;
//     padding: 5px 3px 5px 2px;
//     // border: 1px solid #CFD8DD;
// }

.weekly-table thead .tr-primary .week1,
.weekly-table thead .tr-secoundary .week1 {
  background-color: rgb(18, 54, 109);
  color: white;
  padding: 5px 3px 5px 2px;
  // border-right: 1px solid #dee2e6
}

.weekly-table-week1 {
  background-color: #12366d33;
  // border-right: 1px solid #FFFFFF
}

.total-week1 {
  background-color: rgb(18, 54, 109);
  color: white;
  padding: 5px 3px 5px 2px;
  // border-right: 1px solid #FFFFFF;
  font-weight: 500;
}

.weekly-table thead .tr-primary .week2,
.weekly-table thead .tr-secoundary .week2 {
  background-color: rgb(27, 94, 32);
  color: white;
  padding: 5px 3px 5px 2px;
  // border-right: 1px solid #dee2e6
}

.weekly-table-week2 {
  background-color: #e8f5e9;
  // border-right: 1px solid #FFFFFF
}

.total-week2 {
  background-color: rgb(27, 94, 32);
  color: white;
  padding: 5px 3px 5px 2px;
  // border-right: 1px solid #FFFFFF;
  font-weight: 500;
}

.weekly-table thead .tr-primary .week3,
.weekly-table thead .tr-secoundary .week3 {
  background-color: rgb(209, 140, 0);
  color: white;
  padding: 5px 3px 5px 2px;
  // border-right: 1px solid #FFFFFF
}

.weekly-table-week3 {
  background-color: #d18c0033;
  // border-right: 1px solid #FFFFFF;
}

.total-week3 {
  background-color: rgb(209, 140, 0);
  color: white;
  padding: 5px 3px 5px 2px;
  // border-right: 1px solid #FFFFFF;
  font-weight: 500;
}

.weekly-table thead .tr-primary .week4,
.weekly-table thead .tr-secoundary .week4 {
  background-color: #b71c1c;
  color: white;
  padding: 5px 3px 5px 2px;
  // border-right: 1px solid #FFFFFF
}

.weekly-table-week4 {
  background-color: rgba(183, 28, 28, 0.2);
  // border-right: 1px solid #FFFFFF;
}

.total-week4 {
  background-color: #b71c1c;
  color: white;
  padding: 5px 3px 5px 2px;
  // border-right: 1px solid #FFFFFF;
  font-weight: 500;
}

.weekly-table th,
.weekly-table td {
  max-width: 75px;
  padding: 5px 3px 5px 2px;
  vertical-align: middle;
  // border: 0.5px solid #CFD8DD;
}

.weekly-table thead .tr-primary th:first-child {
  color: #fff;
  background-color: #0488d0;
}

.total {
  background-color: #0488d0;
  color: white;
  font-weight: 500;
  // border: 1px solid #CFD8DD;
}

.total-data {
  background-color: #0488d0;
  color: white;
  padding: 5px 3px 5px 2px;
  font-weight: 500;
  // border: 1px solid #CFD8DD;
  // border: 1px solid black;
}

.total-data-gap {
  // border-right: 1px solid #FFFFFF;
  background-color: rgba(209, 140, 0, 0.2);
  font-weight: 500;
}

.weekly-channel-table {
  background-color: rgba(4, 136, 208, 0.4);
}
.weekly-channel-table-week1 {
    background-color: rgba(18, 54, 109, 0.4); 
}
.weekly-channel-table-week2 {
    background-color: rgba(27, 94, 32, 0.4);
}
.weekly-channel-table-week3 {
    background-color: rgba(209, 140, 0, 0.4);
}
.weekly-channel-table-week4 {
    background-color: rgba(18, 54, 109, 0.4);
}
.weekly-channel-table-week4 {
    background-color: rgba(183, 28, 28, 0.4);
}
