<section id="validateInsuranceDocTable">
  <div>
    <table mdbTable id="validate-doc-table" class="table table-hover">
      <!-- TABLE HEADER -->
      <tr class="tr-primary table-color">
        <th class="text-center" colspan="12" scope="colgroup">
          <span>รายการกรมธรรม์ตามเงื่อนไขที่ค้นหา (Product Listing of Searching by Condition)</span>
        </th>
      </tr>
      <tr class="tr-secoundary table-secondary-header-color">
        <ng-container *ngFor="let header of headers; let i = index">
          <th class="text-center" scope="col">{{ header }}</th>
        </ng-container>
      </tr>

      <!-- TABLE CONTENT -->
      <tr class="tr-data" *ngFor="let item of data; let i = index">
        <td class="text-center">{{ (pagingItem.pageSize * pagingCount )+i+1 }}</td>
        <td class="text-center">{{ item.docDate | date : 'd/MM/yyyy' }}</td>
        <td class="text-center">
          <!-- <span (click)="onDownloadFile(item.exportFilePath) "> -->
            <!-- <a class="direct-code" [href]="onDownloadFile(item.exportFilePath)" download="{{item.exportFileName}}" >{{ item.docNo }}</a> -->
            <span class="direct-code" (click)="onDownloadFile(item.exportFilePath) ">{{ item.docNo }}</span>
          <!-- </a> -->
        </td>
        <td class="text-center">{{ item.docType }}</td>
        <td class="text-center">{{ item.catName }}</td>
        <td class="text-center">
          <span class="direct-code" (click)="onClickInsCode(item.policyCode, item.policyId)">{{ item.policyCode }}</span>
        </td>
        <td class="text-center">{{ item.phFname }}</td>
        <td class="text-center">{{ item.phLname }}</td>
        <td class="text-center">{{ item.agentName }}</td>
      </tr>

      <!-- TABLE FOOTER : PAGINATION -->
      <tfoot class="grey lighten-5">
        <tr class="text-center">
          <td colspan="12">
            <nav aria-label="Page Navigate">
              <ul class="pagination pagination-circle pg-blue mb-0">
                <li class="page-item disabled">
                  <a class="page-link" style="font-weight: 500;" mdbWavesEffect>
                    {{itemInfo()}}
                  </a>
                </li>
                <li class="page-item" (click)="paginationAction('firstPage')">
                  <a mdbwaveseffect="" aria-label="First" class="page-link"><span aria-hidden="true">«</span></a>
                </li>
                <li class="page-item" (click)="paginationAction('previous')">
                  <a mdbwaveseffect="" aria-label="Previous" class="page-link"><span aria-hidden="true">‹</span></a>
                </li>
                <li class="page-item" (click)="paginationAction('next')">
                  <a mdbwaveseffect="" aria-label="Next" class="page-link"><span aria-hidden="true">›</span></a>
                </li>
                <li class="page-item" (click)="paginationAction('endPage')">
                  <a mdbwaveseffect="" aria-label="End" class="page-link"><span aria-hidden="true">»</span></a>
                </li>
              </ul>
            </nav>
          </td>
        </tr>
      </tfoot>

    </table>
    <!-- EMPTY CONTENT -->
    <div *ngIf="data && data.length < 1" class="text-center my-2">
      <span>ไม่พบข้อมูล</span>
    </div>
  </div>

  <div id="downloadFile"  hidden="true"></div>
</section>