<!-- <div id="divChart">
    <canvas id="chart"></canvas>
</div> -->
<div class="chartWrapper">
    <div class="chartContainer"
        [class.chartContainer_zoom]="chartZoom"
        [class.chartContainer]="!chartZoom">
        <canvas id="chartPC"></canvas>
    </div>
</div>