#divChart {
    display: block!important;
    width: 600px;
    height: 185px;
}

// .chart-legend li span{
//     display: inline-block;
//     width: 50px;
//     height: 50px;
//     margin-right: 5px;
// }

.chartjs-size-monitor {
    overflow-x: scroll;
}

div.chartWrapper {
    position: relative;
    overflow: auto;
    width: 100%;
}

div.chartContainer {
    position: relative;
    padding-top: 5px; // default not declare
    height: 270px; // default 200px
}

div.chartContainer_zoom {
    position: relative;
    padding-top: 5px; // default not declare
    height: 325px; // default 200px
}