@import "../../../../../variable.scss";

table th, table td {
    font-size: 13px;
    vertical-align: middle !important;
}

.table {
    width: 100%;
    max-width: 100%;
    padding: 0px 0px;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.table-color{
    background-color: #024EA1
}

table.table td, table.table th {
    padding: 5px 3px 5px 2px !important;
}

.month{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.mat-cell {
    // border-style: solid;
    // border-width: 1px 1px !important;
    // border-color: #807f7f33;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

