<div>
  <!-- Search -->
  <div class="row justify-content-between mb-4">
    <div class="col-auto pb-2" style="align-self: center;">
      <div *ngIf="filterPromotion == 'คาดการณ์การแข่งขัน'" class="align-items-center">
        <span style="font-size: 13px;">*คาดการณ์การแข่งขันเป็นเพียงประมาณการณ์เท่านั้น ยังไม่ใช่การสรุปการแข่งขันจึงใข้อ้างอิงเพื่อรับรางวัลไม่ได้</span>
      </div>
    </div>
    <div class="col-auto pb-2 justify-content-end">
      <div class="align-items-center">
        <div class="input-group searchKeyword-group">
          
          <input class="form-control search-key"
            type="text"
            [(ngModel)]="searchText"
            id="search"
            mdbInput
            placeholder="ค้นหา"
          />
          <div class="input-group-btn">
            <button class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Search -->

  <table mdbTable id="promotion-table" class="table table-hover promotion-table">
    <!-- TABLE HEADER -->
    <thead class="table-color">
      <tr>
        <th class="text-center mat-cell"
          style="color: white; width: 10%"
        >
          #
        </th>
        <ng-container *ngFor="let header of headers; let i = index">
          <th  
            class="text-center mat-cell"
            style="color: white; width: 30%"
          >
            {{header}}
          </th>
        </ng-container>
      </tr>
    </thead>
    <!-- TABLE CONTENT -->
    <tbody >
      <tr *ngFor="let tb of dataList; let i = index ">
        <td class="month mat-cell">{{ i+1 }}</td>
        <td class="month mat-cell">
          <span>{{convertClosYm(tb.closYm)}} {{convertYear(tb.closYm)}}</span>
        </td>
        <td class="text-center mat-cell">
          <span>{{tb.contestDesc}}</span>
        </td>
        <td class="text-center mat-cell">
          <button class="btn btn-default text-primary"
          (click)="handelClickDetail(tb.id)"
          >
            <i class="fas fa-link btn-blue"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- EMPTY CONTENT -->
  <div *ngIf="dataList && dataList.length < 1" class="text-center my-2">
    <span>ไม่พบข้อมูล</span>
  </div>
</div>
