<!-- navigation -->

<div class="container mt-3" *ngIf="clientIsDead">
  <div class="d-flex justify-content-center mb-12">
    <div class="p-3">
      <img class="card-img-top" [src]="imageUrl" alt="Card image" />
    </div>
  </div>
  <div class="d-flex justify-content-center mb-12">
    <div class="p-2" *ngIf="!isStarted"><h3 [translate]="'lock.engine.download.title'"></h3></div>
    <div class="p-2" *ngIf="isStarted"><h3 [translate]="'lock.engine.download.start.title'"></h3></div>
  </div>
  <div class="d-flex justify-content-center mb-12">
    <span *ngIf="isStarted" [translate]="'lock.engine.download.start.body'"></span>
    <span *ngIf="!isStarted" [translate]="'lock.engine.download.body'"></span>
  </div>
  <div class="d-flex justify-content-around mb-12">
    <div class="p-3">
      <span class="spinner-border" *ngIf="isStarted"></span>
      <button type="button" *ngIf="!isStarted"
        class="p-2 btn btn-primary"
        (click)="startDownload()"
        [translate]="'lock.engine.download.btn'"
      ></button>
    </div>
  </div>
</div>

<div class="container mt-3" *ngIf="!clientIsDead">
  <div class="d-flex justify-content-around mb-12">
    <div class="p-3">
      <span class="spinner-border"></span>
    </div>
  </div>
  <div class="d-flex justify-content-around mb-12">
    <div class="p-3">
      <span >กำลังตรวจสอบอุปกรณ์</span>
    </div>
  </div>
</div>