<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <img class="tsli-brand" width="256" src="assets/tsli-logo.png" alt="Logo" />
    </div>
  </div>

  <div class="row justify-content-start mt-4">
    <div class="col col-12">
      <p class="h4 font-weight-bold" [translate]="'web.agent.eDoc.welcome'"></p>
      <hr>
      <p class="h6 text-primary" [translate]="'web.agent.eDoc.filter.desc'"></p>
    </div>
  </div>

  <div class="row my-2">
    <div class="col col-md-12 col-12 input-slot-margin">
      <label [translate]="'web.agent.eDoc.filter.personalId'"></label>
      <input type="number" class="form-control form-control-lg" [(ngModel)]="pid"/>
    </div>
    <div class="col col-md-4 col-12 input-slot-margin">
      <label [translate]="'web.agent.eDoc.filter.dob'"></label>
      <select class="form-control" [(ngModel)]="day" (change)="checkLeapYear()" [ngClass]="dateValidClass(isDateValid)" required>
        <option *ngFor="let d of days" value="{{d.id}}">{{d.name}}</option>    
      </select>
    </div>
    <div class="col col-md-4 col-12 input-slot-margin">
      <label></label>
      <select class="form-control" [(ngModel)]="month" (change)="checkLeapYear()" required>
        <option *ngFor="let m of months" value="{{m.id}}">{{m.name}}</option>    
      </select>
    </div>
    <div class="col col-md-4 col-12 input-slot-margin">
      <label></label>
      <select class="form-control" [(ngModel)]="year" (change)="checkLeapYear()" required>
        <option *ngFor="let y of years" value="{{y.id}}">{{y.name}}</option>    
      </select>
    </div>
    <div class="col col-12 mt-2">
      <button type="button" class="btn btn-lg btn-primary btn-block" 
        [translate]="'web.agent.btn-submit'"
        (click)="onSubmitSearch()"
      ></button>
    </div>
  </div>
</div>