label {
  margin-bottom: 0px;
}
.input-slot-margin {
  margin-bottom: 8px;
}
.text-red {
  color: #DD1144;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}