@import "../../../../../variable.scss";

.card-custom { width: 150px;}
.h-auto {height: auto;}
.bg-primary {
    background-color: #024ea1 !important;
    height: 275px;
}
.card-header-cs.h1 {font-size: 45rem;}

.ul-split-column {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0 6px;
}
.li {
    display: inline-block !important;
    text-align: left;
}
.btn-outline-light {
    background-color: white!important;
    color: #024ea1!important;
}

.btn-outline-light-0:hover {
    background-color: #1d5e22!important;
    color: white!important;
}
.btn-outline-light-1:hover {
    background-color: #d18b00!important;
    color: white!important;
}
.btn-outline-light-2:hover {
    background-color: #FBC02D!important;
    color: white!important;
}
.btn-outline-light-3:hover {
    background-color: #6b6b6b!important;
    color: white!important;
}


.btn-outline-light-lapse-0:hover {
    background-color: #1d5e22!important;
    color: white!important;
}
.btn-outline-light-lapse-1:hover {
    background-color: #d18b00!important;
    color: white!important;
}
.btn-outline-light-lapse-2:hover {
    background-color: #6b6b6b!important;
    color: white!important;
}
.text-MTD {
    color: white;
}
.text-YTD {
    color: $bg-ytd-btn;
}