<div class="secondary-shadow float-left w-100 pt-3">
    <div class="col-* col-lg-3 bg-primary float-left">
        <div class="text-white">
            <div class="card-header-cs pt-3 px-3"> 
                <h5 class="text-bold">
                    <span class="text-success">&#8226;</span> 
                    
                    <span
                        [ngClass]="'text-' + periodType"
                    >
                        {{kpiValueBox['name']}} {{periodType}}
                    </span>
                </h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <ul class="p-0 ul-split-column" style="list-style: none;font-size: 15px;">
                        <li><span> Target: </span></li>
                        <li *ngIf="!isThousand && renderChartType !== 'RETENTION'">{{kpiValueBox['target'] | number : '1.0-0'}}</li>
                        <li *ngIf="!isThousand && renderChartType === 'RETENTION'">{{kpiValueBox['target'] | number : '1.2-2'}}%</li>
                        <li *ngIf="isThousand">
                            {{kpiValueBox['target']/1000 | number : '1.0-0'}}<span *ngIf="kpiValueBox['target'] > 0">K</span>
                        </li>
                        <li><span> Actual: </span></li>
                        <li *ngIf="!isThousand && renderChartType !== 'RETENTION'">{{kpiValueBox['total'] | number : '1.0-0'}}</li>
                        <li *ngIf="!isThousand && renderChartType === 'RETENTION'">{{kpiValueBox['total'] | number : '1.2-2'}}%</li>
                        <li *ngIf="isThousand">
                            {{kpiValueBox['total']/1000 | number : '1.0-0'}}<span *ngIf="kpiValueBox['total'] > 0">K</span>
                        </li>
                        <li *ngIf="renderChartType !== 'RETENTION' && renderChartType !== 'RYP'"><span> %Target: </span></li>
                        <li *ngIf="renderChartType === 'RETENTION' || renderChartType === 'RYP'"><br></li>
                        <li *ngIf="renderChartType !== 'RETENTION' && renderChartType !== 'RYP'">{{kpiValueBox['total_percent'] | number : '1.2-2'}}%</li>
                    </ul>
                </h5>
                <button type="button" class="btn btn-outline-light btn-md w-100 text-left"
                    (click)="redirectToKPI(renderChartType)">
                        KPI Detail
                    <i class="fa fa fa-angle-right float-right"></i>
                </button>
                <div class="row px-3">
                    <div *ngFor="let subDetail of subDetails; let i = index" class="col-6 pt-1 px-0" >
                        <div *ngIf="subDetail!='Lapse'" [ngStyle]="{'padding':i%2 !== 1 ? '0 2px 0 0' : '0 0 0 2px'}" >
                            <button type="button" class="btn btn-outline-light btn-md w-100 text-center"
                                (click)="redirectToSubKPI(renderChartType, i)"
                                [ngClass]="['btn-outline-light-'+i]"
                            >
                               {{subDetail}}
                            </button>
                        </div>
                        <div *ngIf="subDetail=='Lapse'" [ngStyle]="{'padding':i%2 !== 1 ? '0 2px 0 0' : '0 0 0 2px'}" >
                            <button type="button" class="btn btn-outline-light btn-md w-100 text-center"
                                (click)="redirectToSubKPI(renderChartType, i)"
                                [ngClass]="['btn-outline-light-'+'lapse-'+i]"
                            >
                               {{subDetail}}
                            </button>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="col-* col-lg-9 float-left">
        <app-chart *ngIf="renderChartType === 'PC'"
            [dataCurrentYear]="dataCurrentYear"
            [dataLastYear]="dataLastYear"
            [dataTarget]="dataTarget"
            [isShowLastyear]="isShowLastyear"
            [isShowKUnit]="isThousand">
        </app-chart>
        <app-chart-act *ngIf="renderChartType === 'ACTIVE'"
            [dataCurrentYear]="dataCurrentYear"
            [dataLastYear]="dataLastYear"
            [dataTarget]="dataTarget"
            [isShowLastyear]="isShowLastyear"
            [limitCase]="isAgent">
        </app-chart-act>
        <app-chart-nc *ngIf="renderChartType === 'NC'"
            [dataCurrentYear]="dataCurrentYear"
            [dataLastYear]="dataLastYear"
            [dataTarget]="dataTarget"
            [isShowLastyear]="isShowLastyear">
        </app-chart-nc>
        <app-chart-rt *ngIf="renderChartType === 'RETENTION'"
            [dataCurrentYear]="dataCurrentYear"
            [dataLastYear]="dataLastYear"
            [dataTarget]="dataTarget"
            [isShowLastyear]="isShowLastyear">
        </app-chart-rt>
        <app-chart-ryp *ngIf="renderChartType === 'RYP'"
            [dataCurrentYear]="dataCurrentYear"
            [dataLastYear]="dataLastYear"
            [dataTarget]="dataTarget"
            [isShowLastyear]="isShowLastyear"
            [isShowKUnit]="isThousand">
        </app-chart-ryp>
    </div>
</div>