@import "../../../../../variable.scss";


@media only screen and (max-width:375px){
  .btn-custom-width {
    min-width: 120px;
  }
}
@media only screen and (max-width:991px){
  .btn-position {
    text-align: center;
  }
}

i.fa.fa-filter { color: $primary-color; }
.bt-custom { border-color:$primary-color ; color: $primary-color; }
.bt-custom:hover {background-color: $primary-color;color: white;}

.font-color-primary-tsli{
    color: #0e89d0;
}

.card {
  border: 0!important;
}

.btn-primary {
  background-color: #024EA1;
  color: white;
}
.btn-outline-primary {
  border-color: #024EA1;
  color: #024EA1;
}
.btn-outline-primary:hover {
  background-color: #024EA1;
  color: white;
}
.btn-custom-width {
  min-width: 165px !important; 
}

@media (min-width: 375px) {
  .btn-custom-width {
    width: 249px !important; 
  }
}
