
<div class="Card-filter secondary-shadow mt-3 p-3">
  <div class="row">
    <div class="col-* col-md-12 justify-content-start">
      <div class="card">
        <div class="card-body align-item-center">

          <div>
            <!-- Filter Promotion -->
            <div class="row">
              <div class="col-12 col-lg-2 d-flex flex-row align-items-center">
                <i class="fa fa-filter font-color-primary-tsli mx-2" aria-hidden="true" style="font-size: 24px;"></i>
                <div class="h6 mt-2">Filter</div>
              </div>

              <!-- Button Group -->
              <div class="col-* col-lg-10 btn-position">
                <button class="btn btn-custom-width mx-2 mt-1 btn-primary" 
                  *ngFor="let item of listFilterPromotion"
                  (click)="onChangeFilterPromotion(item)"
                  [class.btn-outline-primary]="filterPromotion != item"
                  [class.btn-primary]="filterPromotion == item"
                >
                    {{item}}
                </button>
              </div>
            </div>
            
          </div>
        </div>
      </div>

    </div>
  </div>
</div>