<div class="bg-base">
  <div class="container head-area py-4 px-0">
    <p class="h3 font-weight-bold" [translate]="'memmber.title'"></p>
  </div>
</div>

<div class="container">
  <div class="mt-4">
    <div class="form-row">
      <div class="form-group col-md-6 col-lg-4">
        <label for="memmber.username" [translate]="'memmber.username'"></label>
        <input
          type="text"
          class="form-control"
          id="memmber.username"
          [(ngModel)]="member.username"
        />
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label for="memmber.name" [translate]="'memmber.name'"></label>
        <input
          type="text"
          class="form-control"
          id="memmber.name"
          [(ngModel)]="member.name"
        />
      </div>
      <div class="form-group col-md-6 col-lg-2">
        <label for="memmber.type" [translate]="'memmber.type'"></label>
        <select
          class="form-control"
          id="memmber.type"
          [(ngModel)]="member.type"
        >
          <option value="">{{ "label.all" | translate }}</option>
          <option value="U">{{ "memmber.type.user" | translate }}</option>
          <option value="P">{{ "memmber.type.producer" | translate }}</option>
        </select>
      </div>
      <div class="form-group col-md-6 col-lg-2">
        <label for="memmber.status" [translate]="'memmber.status'"></label>
        <select
          class="form-control"
          id="memmber.status"
          [(ngModel)]="member.status"
        >
          <option value="">{{ "label.all" | translate }}</option>
          <option value="A">{{ "memmber.status.active" | translate }}</option>
          <option value="I">{{ "memmber.status.inactive" | translate }}</option>
        </select>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary btn-block"
      (click)="search()"
      [translate]="'memmber.btn.search'"
    ></button>
  </div>
</div>
<div class="container">
  <div class="mt-2">
    <span class="float-right">
      <b>{{ "User Active: " }}</b
      >{{ license.active }} <b> Of </b> {{ license?.license }}</span
    >
  </div>
  <div class="mt-0">
    <div class="table-responsive">
      <table class="table-hover table table-bordered table-striped">
        <thead>
          <tr class="table-info text-center">
            <th scope="col" [translate]="'memmber.table.col1'"></th>
            <th scope="col" [translate]="'memmber.table.col2'"></th>
            <th scope="col" [translate]="'memmber.table.col3'"></th>
            <th scope="col" [translate]="'memmber.table.col4'"></th>
            <th scope="col" [translate]="'memmber.table.col5'"></th>
            <!-- <th scope="col" [translate]="'memmber.table.col6'"></th> -->
          </tr>
        </thead>
        <tbody *ngIf="paging?.members.length > 0">
          <tr *ngFor="let member of paging.members; let i = index">
            <td class="text-center" scope="row">{{ printSequense(i) }}</td>
            <td class="text-justify">{{ member.username }}</td>
            <td>{{ member.name + " " + member.surname }}</td>
            <td class="text-center">{{ userTypeDesc(member.userType) }}</td>
            <td class="text-center">
              <div class="custom-control custom-switch">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [id]="member.id"
                  [checked]="isActiveStatus(member.status)"
                  disabled
                />
                <label
                  class="custom-control-label"
                  for="{{ member.id }}"
                ></label>
              </div>
            </td>

          </tr>
        </tbody>
        <tfoot class="grey lighten-5">
          <tr class="text-center">
            <td colspan="5" >
              <nav aria-label="Page navigation">
                <ul class="pagination pagination-circle pg-blue">
                 
                  <li class="page-item disabled">
                    <a
                      class="page-link"
                      mdbWavesEffect
                    >{{ itemInfo()}}</a>
                  </li>
                  <li class="page-item" [ngClass]="{'disabled': member?.page === 0}" (click)="firstPage()"><a mdbwaveseffect="" aria-label="First" class="page-link"><span aria-hidden="true">«</span></a></li>
                  <li class="page-item" (click)="previous()"><a mdbwaveseffect="" aria-label="Previous" class="page-link"><span aria-hidden="true">‹</span></a></li>
                  <li class="page-item" (click)="next()"><a mdbwaveseffect="" aria-label="Next" class="page-link"><span aria-hidden="true">›</span></a></li>
                  <li class="page-item" [ngClass]="{'disabled': member?.page === paging?.totalPages-1}" (click)="endPage()"><a mdbwaveseffect="" aria-label="End" class="page-link"><span aria-hidden="true">»</span></a></li>
                 
                  <!-- <li class="page-item disabled">
                    <a class="page-link" mdbWavesEffect
                      >(<b>{{ "User Active: " }}</b
                      >{{ license.active }} <b> Of </b>
                      {{ license?.license }})</a
                    >
                  </li> -->
                </ul>
              </nav>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="mt-3 py-4">
  </div>
</div>