table.ytd-mtd {padding: 0 5rem; font-weight: bold;}
.ytd-mtd thead {background-color:#024EA1; color: white; }
*[dta='MTD'] thead {background-color:#0072C2; color: white; }
.ytd-mtd thead tr {border: 0;}
.ytd-mtd {border: 0.5 solid #CFD8DD;}
.ytd-mtd tbody tr:nth-of-type(odd) {
    background-color: rgba(22, 92, 168, 0.05);
}
.ytd-mtd th {width: 100px;max-width: 100px!important;}