<!-- <app-m-flipped></app-m-flipped> -->
<h2 class="text-bold">{{kpiType}} {{periodType}}</h2>
<div class="m-table">
  <!-- MTD -->
  <table class="table ytd-mtd text-center" dta="MTD" *ngIf="periodType === 'MTD'">
    <thead>
      <tr>
        <th scope="col" *ngIf="groupType == 'INDIVIDUAL'">{{periodType}} Target</th>
        <th scope="col" *ngIf="groupType == 'GROUP'">{{periodType}} Whole Group</th>
        <th scope="col"></th>
        <th scope="col" *ngIf="groupType == 'GROUP'"></th>
        <th scope="col" class="text-right pr-2" *ngIf="!isDyThousand && groupType == 'INDIVIDUAL'">{{dataTarget[activeMonth] | number : '1.0-0'}} {{kpiType}}</th>
        <th scope="col" class="text-right pr-2" *ngIf="isDyThousand && groupType == 'INDIVIDUAL'">{{dataTarget[activeMonth] | number : '1.0-0'}}K {{kpiType}}</th>
      </tr>
    </thead>
    <tbody *ngIf="!isDyThousand">
      <tr *ngIf="kpiType === 'PC'" [hidden]="dataTarget[activeMonth] === 0">
        <th scope="row">{{periodType}} Submit</th>
        <td class="text-right pr-2">{{dataSubmit[activeMonth] | number : '1.0-0'}}</td>
        <td class="text-right pr-2" *ngIf="groupType == 'GROUP'"></td>
        <td class="text-right pr-2" *ngIf="groupType == 'INDIVIDUAL'">{{dataSubmit[activeMonth]/dataTarget[activeMonth]*100 | number : '1.2-2'}}%</td>
      </tr>
      <tr *ngIf="kpiType === 'PC'" [hidden]="dataTarget[activeMonth] !== 0">
        <th scope="row">{{periodType}} Submit</th>
        <td class="text-right pr-2">{{dataSubmit[activeMonth] | number : '1.0-0'}}</td>
        <td class="text-right pr-2">0.00%</td>
      </tr>
      <tr>
        <th scope="row">{{periodType}} Actual</th>
        <td class="text-right pr-2">{{dataCurrentApprove[activeMonth] | number : '1.0-0'}}</td>
        <td class="text-right pr-2">
          {{dataPercent[activeMonth] | number : '1.2-2'}}%
        </td>
      </tr>
      <tr>
        <th scope="row">Last Month</th>
        <td class="text-right pr-2" *ngIf="activeMonth-1 >= 0">{{dataCurrentApprove[activeMonth-1] | number : '1.0-0'}}</td>
        <td class="text-right pr-2" *ngIf="activeMonth-1 < 0">{{dataLastApprove[11] | number : '1.0-0'}}</td>
        <!-- <td class="text-right pr-2">{{dataPercent[activeMonth-1] | number : '1.2-2'}}%</td> -->
        <td class="text-right pr-2"></td>
      </tr>
      <tr *ngIf="kpiType !== 'RYP'">
        <th scope="row">Last Year</th>
        <td class="text-right pr-2">{{dataLastApprove[activeMonth] | number : '1.0-0'}}</td>
        <td></td>
      </tr>
    </tbody>
    <tbody *ngIf="isDyThousand">
      <tr *ngIf="kpiType === 'PC'" [hidden]="dataTarget[activeMonth] === 0">
        <th scope="row">{{periodType}} Submit</th>
        <td class="text-right pr-2">{{dataSubmit[activeMonth] | number : '1.0-0'}}K</td>
        <td class="text-right pr-2">{{dataSubmit[activeMonth]/dataTarget[activeMonth]*100 | number : '1.2-2'}}%</td>
      </tr>
      <tr *ngIf="kpiType === 'PC'" [hidden]="dataTarget[activeMonth] !== 0">
        <th scope="row">{{periodType}} Submit</th>
        <td class="text-right pr-2">{{dataSubmit[activeMonth] | number : '1.0-0'}}K</td>
        <td class="text-right pr-2">0.00%</td>
      </tr>
      <tr>
        <th scope="row">{{periodType}} Actual</th>
        <td class="text-right pr-2">{{dataCurrentApprove[activeMonth] | number : '1.0-0'}}K</td>
        <td class="text-right pr-2">{{dataPercent[activeMonth] | number : '1.2-2'}}%</td>
      </tr>
      <tr>
        <th scope="row">Last Month</th>
        <td class="text-right pr-2" *ngIf="activeMonth-1 >= 0">{{dataCurrentApprove[activeMonth-1] | number : '1.0-0'}}K</td>
        <td class="text-right pr-2" *ngIf="activeMonth-1 < 0">{{dataLastApprove[11] | number : '1.0-0'}}K</td>
        <!-- <td class="text-right pr-2">{{dataPercent[activeMonth-1] | number : '1.2-2'}}%</td> -->
        <td class="text-right pr-2"></td>
      </tr>
      <tr *ngIf="kpiType !== 'RYP'">
        <th scope="row">Last Year</th>
        <td class="text-right pr-2">{{dataLastApprove[activeMonth] | number : '1.0-0'}}K</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <!-- YTD -->
  <table class="table ytd-mtd text-center" *ngIf="periodType === 'YTD'">
    <thead>
      <tr>
        <th scope="col" *ngIf="groupType == 'INDIVIDUAL'">{{periodType}} Target</th>
        <th scope="col" *ngIf="groupType == 'GROUP'">{{periodType}} Whole Group</th>
        <th scope="col"></th>
        <th scope="col" *ngIf="groupType == 'GROUP'"></th>
        <th scope="col" class="text-right pr-2"  *ngIf="!isDyThousand && groupType == 'INDIVIDUAL'">{{dataYTD['target'] | number : '1.0-0'}} {{kpiType}}</th>
        <th scope="col" class="text-right pr-2"  *ngIf="isDyThousand && groupType == 'INDIVIDUAL'">{{dataYTD['target']/1000 | number : '1.0-0'}}K {{kpiType}}</th>
      </tr>
    </thead>

    <tbody *ngIf="!isDyThousand">
      <tr>
        <th scope="row">{{periodType}} Actual</th>
        <td class="text-right pr-2">{{dataYTD['approveCur'] | number : '1.0-0'}}</td>
        <td class="text-right pr-2">
          {{dataYTD['percent'] | number : '1.2-2'}}<span *ngIf="groupType == 'INDIVIDUAL'">%</span>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="isDyThousand">
      <tr>
        <th class="pr-2"scope="row">{{periodType}} Actual</th>
        <td class="text-right pr-2">{{dataYTD['approveCur']/1000 | number : '1.0-0'}}K</td>
        <td class="text-right pr-2">
          {{dataYTD['percent'] | number : '1.2-2'}}<span *ngIf="groupType == 'INDIVIDUAL'">%</span>
        </td>
      </tr>
    </tbody>
    
  </table>
</div>