<!-- navigation -->
<app-nav-bar></app-nav-bar>
  <!-- content -->
  <div id="page-content height-100"> 
    <div class="container-fluid p-0">
      <router-outlet></router-outlet>
    </div>
  </div>

