
<div class="Card-filter secondary-shadow mt-3 p-3">
  <div class="row">
    <div class="col-* col-md-12 justify-content-start">
      <div class="card">
        <div class="card-body align-item-center">

          <!-- Filter Channel -->
          <div *ngIf="mode == 'company'">
            <div class="row" *ngIf="mode == 'company'">
              <!-- Topic -->
              <div class="col-12 col-md-2 d-flex flex-row align-items-center">
                <i class="fa fa-filter font-color-primary-tsli mx-2" aria-hidden="true" style="font-size: 24px;"></i>
                <div class="h6 mt-2">Channel</div>
              </div>
              <!-- Button -->
              <div class="col-12 col-md-10 d-flex flex-row align-items-center zone-filter">
                <div *ngFor="let item of listChannelBtn">
                  <button class="btn btn-custom-width mx-2 main"
                    [class.btn-pc]="ChannelFilterSelected == item.code"
                    [class.btn-outline-pc]="ChannelFilterSelected != item.code"
                    (click)="onChangeChannel(item.code, item.setId)">
                    {{item.name}}
                  </button>
                </div>
              </div>
            </div>
            <hr style="border-top: 1.5px dotted lightgray;">

            <!-- Filter Zone -->
            <div class="row" *ngIf="mode == 'company'">
              <!-- Topic -->
              <div class="col-12 col-md-2 d-flex flex-row align-items-center">
                <i class="fa fa-filter font-color-primary-tsli mx-2" aria-hidden="true" style="font-size: 24px;"></i>
                <div class="h6 mt-2">Filter Zone</div>
              </div>
              <!-- Button -->
              <div class="col-12 col-md-10 d-flex flex-row align-items-center zone-filter">

                <!-- Zone button -->
                <div *ngFor="let item of listZoneBtn[indexChannelSelected]" class="clear-b m-f">
                  <button class="btn mx-2 sub"
                  [class.btn-pc]="ZoneFilterSelected == item.code"
                  [class.btn-outline-pc]="ZoneFilterSelected != item.code"
                  (click)="onChangeZone(item.code)">
                    {{item.zoneName}}
                  </button>
                </div>

              </div>
            </div>
          </div>

          <!-- MODE KPI-DETAIL -->
          <div *ngIf="mode == 'kpi-detail'">
            <!-- Filter Status -->
            <div class="row" *ngIf="mode == 'kpi-detail'">
              <!-- Topic -->
              <div class="col-12 col-md-2 d-flex flex-row align-items-center">
                <i class="fa fa-filter icon-primary-color mx-2" aria-hidden="true" style="font-size: 24px;"></i>
                <div class="h6 mt-2">Filter Status</div>
              </div>
              <!-- Button Status -->
              <div class="col-* col-md-10 align-items-center">
                <button class="btn btn-custom-width mx-2 mt-1" *ngFor="let item of listStatusBtn"
                  [ngClass]="getFilterStatusStyle(item)"
                  (click)="onChangeStatus(item)">
                    {{item}}
                </button>
              </div>
            </div>
            <hr style="border-top: 1.5px dotted lightgray;">
            <!-- directGroup FILTER -->
            <div class="row" *ngIf="!isAgentLevel()">
              <!-- Topic -->
              <div class="col-* col-md-2 d-flex flex-row align-items-center">
                <i class="fa fa-chevron-down icon-primary-color mx-2" aria-hidden="true" style="font-size: 24px;"></i>
                <div class="h6 mt-2">Direct group</div>
              </div>
              <!-- Button Agent Level -->
              <div class="col-* col-md-10 align-items-center">
                <button class="btn btn-custom-width mx-2" *ngFor="let item of listAgentLevelBtn"
                  [class.btn-primary]="filterAgentLevel == item.buttonName"
                  [class.btn-outline-primary]="filterAgentLevel != item.buttonName"
                  (click)="onChangeAgentLevel(item.buttonName, 'directGroup')">
                    {{item.buttonName}}
                </button> 
              </div>
            </div>
            <!-- WHOLE-GROUP FILTER -->
            <div class="row mt-4" *ngIf="!isZoneLevel()">
              <!-- Topic -->
              <div class="col-* col-md-2 d-flex flex-row align-items-center">
                <i class="fa fa-users icon-primary-color mx-2" aria-hidden="true" style="font-size: 16px;"></i>
                <div class="h6 mt-2">Whole group</div>
              </div>
              <!-- Button Agent Level -->
              <div class="col-* col-md-10 align-items-center">
                
                <button class="btn btn-custom-width mx-2" *ngFor="let item of listWholeGroupBtn"
                  [class.btn-primary]="filterAgentLevel == item.buttonName"
                  [class.btn-outline-primary]="filterAgentLevel != item.buttonName"
                  (click)="onChangeAgentLevel(item.buttonName, 'wholeGroup')"
                >
                  {{item.buttonName}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>