@import "../../../../../variable.scss";
i.fa.fa-filter { color: $primary-color; }
.bt-custom { border-color:$primary-color ; color: $primary-color; }
.bt-custom:hover {background-color: $primary-color;color: white;}

.font-color-primary-tsli{
    color: #0e89d0;
}
.icon-primary-color {
  color: #024EA1;
}

// Button preset
.btn-custom-width {
  width: 128px;
}
.btn-pc {
  background-color: #0e89d0;
  color: white;
}
.btn-outline-pc {
  border-color: #0e89d0;
  color: #0e89d0;
}
.btn-outline-pc:hover {
  background-color: #0e89d0;
  color: white;
}
.btn-outline-pcs {
  border-color: #1d5e22;
  color: #1d5e22;
}
.btn-pcs {
  background-color: #1d5e22;
  color: white;
}
.btn-outline-pcs:hover {
  background-color: #1d5e22;
  color: white;
}
.btn-outline-act {
  border-color: #b71e20;
  color: #b71e20;
}
.btn-act {
  background-color: #b71e20;
  color: white;
}
.btn-outline-act:hover {
  background-color: #b71e20;
  color: white;
}
.btn-outline-nc {
  border-color: #d18b00;
  color: #d18b00;
}
.btn-nc {
  background-color: #d18b00;
  color: white;
}
.btn-outline-nc:hover {
  background-color: #d18b00;
  color: white;
}
.btn-outline-ryp {
  border-color: #691f9b;
  color: #691f9b;
}
.btn-ryp {
  background-color: #691f9b;
  color: white;
}
.btn-outline-ryp:hover {
  background-color: #691f9b;
  color: white;
}
.btn-outline-primary {
  border-color: #0e89d0;
  color: #0e89d0;
}
.btn-primary {
  background-color: #0e89d0;
  color: white;
}
.btn-outline-primary:hover {
  background-color: #0e89d0;
  color: white;
}

.bg-primary-tsli{
  background-color:#0e89d0;
}
.card {border: 0!important;}
.clear-b {float: left; /*clear: both;*/}

@media only screen and (max-width: 767.98px){
  .zone-filter {
    display:block!important
  }
  button.sub {
    // float: left;
    // margin: 2px 0;
    margin-top: 5px;
  }
  .btn-custom-width.main {
    width: 100px!important;
  }
  .btn-custom-width {
    width: 111px;
    margin-top: 5px;
  }
  // .m-f {width: 50%;clear: both;float: left;flex: initial;}
}