<div class="container-fuild">
  <div class="bg-base">
    <div class="container head-area py-3">
      <h2>Company Target</h2>
      <!-- card-filter -->
      <div class="Card-filter secondary-shadow mt-3 p-3">
        <!-- Channel -->
        <div class="row">
          <div class="col-* col-md-2">
            <p>Channel</p>
          </div>
          <div class="col-* col-md-10">
            <!-- group-channel -->
            <div class="button-row">
              <button class="btn-itm m-1 mat-button" mat-stroked-button>GA</button>
              <button class="btn-itm m-1" mat-stroked-button>SFC</button>
              </div>
             <!-- group-channel -->
          </div>
        </div>
         <!-- /End Channel -->
        <!-- Zone -->
        <div class="row my-2">
          <div class="col-* col-md-2">
            <p>Zone Level</p>
          </div>
          <div class="col-* col-md-10">
            <!-- group-zone -->
            <div class="button-row scroll-row">
              <button class="btn-itm m-1 p-0" mat-stroked-button>Zone 1</button>
              <button class="btn-itm m-1 p-0" mat-stroked-button>Zone 2</button>
              <button class="btn-itm m-1 p-0" mat-stroked-button>Zone 3</button>
              <button class="btn-itm m-1 p-0" mat-stroked-button>Zone 4</button>
              <button class="btn-itm m-1 p-0" mat-stroked-button>Zone 5</button>
              <button class="btn-itm m-1 p-0" mat-stroked-button>Zone 6</button>
              <button class="btn-itm m-1 p-0" mat-stroked-button>Zone 7</button>
              <button class="btn-itm m-1 p-0" mat-stroked-button>Zone 8</button>
              <button class="btn-itm m-1 p-0" mat-stroked-button>Zone 9</button>
              <button class="btn-itm m-1 p-0" mat-stroked-button>Zone 10</button>
            </div>            
            <!-- group-zone -->
          </div>
        </div>
         <!-- /End Zone -->
      </div>
      <!-- /End card-filter -->
    </div>
  </div>
</div>

<div class="container pt-3">

  <div class="row secondary-shadow">

    <div class="col-12 col-md-3 bg-primary">

      <div class="text-white">
        <div class="card-header-cs">PC</div>
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
        </div>
      </div>

    </div>
    
    <div class="col-12 col-md-9">
      <app-chart></app-chart>
    </div>
  
  </div>

</div>
