<div class="row" *ngIf="blockName && blockData">
  <div class="col-md-6 mb-1" *ngFor="let blockName of blockName let i=index">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 50%;" class="block th-first" scope="col">{{blockName}}</th>
          <th style="width: 50%;" class="block" scope="col">{{blockData[i] | number: "1.0-0"}}</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<div class="col-12">
  <div class="remark pb-2"><p>**ข้อมูลที่แสดงนี้เป็นเพียงข้อมูลคาดการณ์เท่านั้น</p></div>
</div>

<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <tr class="tr-primary">
        <ng-container *ngFor="let tableHeader of tableHeader"; let i=index>
          <th scope="col">{{ tableHeader }}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody *ngIf="filterCompensation != 'OV'">
      <ng-container *ngFor="let data of compensationConfig"; let i=index>
        <tr>
          <td *ngIf="filterCompensation != 'โบนัสรายเดือน'" [ngClass]="((data.pc - blockData) >= 0) ? '' : 'collect' " 
            class="td-first"
          >
            {{data.rate | number: "1.1-2"}}%
          </td>
          <td *ngIf="filterCompensation == 'โบนัสรายเดือน'" [ngClass]="((data.pc - blockData) >= 0) ? '' : 'collect' " 
            class="td-first"
          >
            {{data.rate | number: "1.0-0"}}
          </td>
          <td [ngClass]="((data.pc - blockData) >= 0) ? '' : 'collect'">
            {{data.pc | number }}
          </td>
          <td [ngClass]="((data.pc - blockData) >= 0) ? '' : 'collect'" 
            *ngIf="!((data.pc - blockData) >= 0)"
          >
            <i class="fas fa-check"></i>
          </td>
          <td [ngClass]="((data.pc - blockData) >= 0) ? '' : 'collect'" 
            *ngIf="(data.pc - blockData) >= 0"
          >
            {{data.pc - blockData | number: "1.0-0"}}
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tbody *ngIf="filterCompensation == 'OV'">
      <ng-container *ngFor="let data of compensationConfig; let i=index">
        <tr>
          <td [ngClass]="((i != ovHighlightIndex)) ? '' : 'collect' " 
            class="td-first"
          >
            {{data.rate | number: "1.1-2"}}%
          </td>
          <td [ngClass]="((i != ovHighlightIndex)) ? '' : 'collect' " 
            
          >
            {{data.activeProducer | number: "1.0-0"}} คน
          </td>
          <td [ngClass]="((i != ovHighlightIndex)) ? '' : 'collect' " 
      
          >
            {{blockData[0] * data.rate / 100 | number: "1.0-0" }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div *ngIf="compensationConfig && compensationConfig.length < 1" class="text-center non-data">N/A</div> 

  <div *ngIf="remark" class="remark">
    <p>หมายเหตุ</p>
    <ng-container *ngFor="let remark of remark">
      <p><li>{{ remark }}</li></p>
    </ng-container>
  </div>
</div>
