<div class="container-fuild pb-5">
  <ngx-spinner bdColor='rgba(0, 0, 0, 0.8)' size="medium" color="#024ea1" type="cube-transition" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

  <!-- Agent's Detail and Filter Box -->
  <!-- <div class="bg-base pb-5">
    <app-agent-header [showBackBtn]="true"></app-agent-header>
  </div> -->


  <!-- Activity Detail -->
  <div class="container pt-5 pb-5" >
    <div class="row justify-content-start" *ngIf="isDataAvailable">
      <div class="col col-lg-10 col-12 justify-content-start">
        <p class="h3 font-weight-bold" [translate]="'web.agent.activity.detail.title'"></p>
      </div>
      <div class="col col-lg-2 col-12 text-right">
        <button class=" btn btn-primary btn-round" (click)="goBack()"><i class="fa fa-chevron-left"></i> Back</button>
      </div>
    </div>
    <div class="row justify-content-start" *ngIf="isDataAvailable">
      <div class="col-12 my-2">
        <app-e-register-detail 
          [typeId]="activityItem" 
          [data]="activityDetail"
          (rollback)="getActivityDetail()"
          (delete)="deleteActivityDetail()"
        ></app-e-register-detail>
      </div>

      <div class="col-md-8"></div>
      <div class="col-md-4 col-12 mt-4 justify-content-end" [hidden]="isShowDetailTable != true">
        <form>
          <div class="input-group searchKeyword-group">
            <input type="text" class="form-control search-key" name="searchKeyword" placeholder="ค้นหาผู้เข้าร่วม" [(ngModel)]='searchKeyword'>
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" (click)="getActivityDetailList()">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-12 my-2" [hidden]="isShowDetailTable != true" >
        <app-activity-detail-list
          [data]="activityDetailList"
          [activityId]="activityItem"
          [activityType]="activityType"
          [pagingCount]="curPage"
          [pagingItem]="pagingItem"
          (clickPaging)="handlerPaging($event)"
        ></app-activity-detail-list>
      </div>
    </div>
  </div>

</div>