@import "../../../variable.scss";
#sticky-footer {
    background-color: $primary-color;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 50px;
    margin-top: -50px;
    flex-shrink: none;
    z-index: 5;
}

