<footer id="sticky-footer" class="py-2  text-white-50">
  <div class="container text-center">
    <!-- <small>Copyright &copy;{{ year }} TSLI-DD</small> -->
    <small>&copy;SLI </small>
    <small>({{closYm}} : {{ schedule }})</small>
  </div>
</footer>
