<div class="container-fuild pb-5">
  <ngx-spinner bdColor='rgba(0, 0, 0, 0.8)' size="medium" color="#024ea1" type="cube-transition" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

  <!-- Agent's Detail and Filter Box -->
  <!-- <div class="bg-base pb-5">
    <app-agent-header
      [showBackBtn]="true"
    ></app-agent-header>
  </div> -->

  <!-- Insurance Detail -->
  <div class="container pt-5 pb-5" *ngIf="isDataAvaliable">
    <div class="row justify-content-start mb-2">
      <div class="col col-lg-10 col-12 justify-content-start">
        <p class="h3 font-weight-bold" [translate]="'web.agent.insuranceDetail.description'"></p>
      </div>
      <div class="col col-lg-2 col-12 text-right">
        <button class=" btn btn-primary btn-round" (click)="goBack()"><i class="fa fa-chevron-left"></i> Back</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-insurance-detail-table
          [insuranceInfo]="insuranceInfo"
        ></app-insurance-detail-table>
      </div>
      <div class="col-12 mt-2">
        <app-insurance-sub-detail-table
          [title]="'ข้อมูลผู้เอาประกัน'"
          [type]="'type-customer'"
          [headers]="modelInsurance.headers_customerDetail"
          [data]="customerDetail"
        ></app-insurance-sub-detail-table>
      </div>
      <div class="col-12 mt-2">
        <app-insurance-sub-detail-table
          [title]="'ข้อมูลแบบประกัน'"
          [type]="'type-desc'"
          [headers]="modelInsurance.headers_insDescDetail"
          [data]="productDetail"
          [totalPremium]="totalPremium"
        ></app-insurance-sub-detail-table>
      </div>
      
      <div class="col-12 mt-2">
        <app-insurance-sub-detail-table
          [title]="'ข้อมูลการจ่ายเงินผลประโยชน์ตามกรมธรรม์'"
          [type]="'type-benefit'"
          [headers]="modelInsurance.headers_benefitDetail"
          [data]="benefit"
        ></app-insurance-sub-detail-table>
      </div>
      
      <div class="col-12 mt-2">
        <app-insurance-sub-detail-table
          [title]="'รายละเอียดการชำระเบี้ย'"
          [type]="'type-profit'"
          [headers]="modelInsurance.headers_profitDetail"
          [data]="paidDetail"
        ></app-insurance-sub-detail-table>
      </div>

      <div class="col-12 mt-2">
        <app-insurance-sub-detail-table
          [title]="'ข้อมูลการเคลม'"
          [type]="'type-claim'"
          [headers]="modelInsurance.headers_claimDetail"
          [data]="claimDetail"
        ></app-insurance-sub-detail-table>
      </div>

      <div class="col-12 mt-2" >
        <app-insurance-barcode
          [title]="'ช่องทางการชำระเงิน'"
          [data]="barcode"
        ></app-insurance-barcode>
      </div>
 
    </div>
  </div>

</div>