<section id="insurance-filter-detail">
  <div class="container">
    <!-- Title -->
    <div class="row justify-content-start">
      <div class="col-auto justify-content-start">
        <p 
          class="h3 font-weight-bold"
          [translate]="'navbar.webAgent.insurance'"
        >
        </p>
      </div>
    </div>
    <!-- Filter Box -->
    <!-- <div class="row form-border mt-2 mx-lg-0 mx-2"> -->
    <div class="card secondary-shadow">
      <div class="card-body row">
        <div class="col col-md-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.insuranceCode'"></label>
          <input
            id="insCode"
            type="text" 
            class="form-control form-control-lg"
            [(ngModel)]="filterInsuranceForm.insCode"
          />
        </div>
        <div class="col col-md-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.requestInsuranceCode'"></label>
          <input
            id="insRequestCode"
            type="text" 
            class="form-control form-control-lg"
            [(ngModel)]="filterInsuranceForm.insRequestCode"
          />
        </div>
        <div class="col col-md-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.customerFirstName'"></label>
          <input
            id="insFirstName"
            type="text" 
            class="form-control form-control-lg"
            [(ngModel)]="filterInsuranceForm.insFirstName"
          />
        </div>
        <div class="col col-md-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.customerLastName'"></label>
          <input
            id="insLastName"
            type="text" 
            class="form-control form-control-lg"
            [(ngModel)]="filterInsuranceForm.insLastName"
          />
        </div>
        <div class="col col-md-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.personalId'"></label>
          <input 
            id="insPersonalId" 
            type="text" 
            class="form-control form-control-lg" 
            [(ngModel)]="filterInsuranceForm.insPersonalId" 
          />
        </div>
        <div class="col col-md-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.agentCode'"></label>
          <select 
            id="childAgent " 
            type="text" 
            class="form-control form-control-lg" 
            [(ngModel)]="filterInsuranceForm.agentFilter" 
          >
            <option *ngFor="let item of childAgent" [value]="item.code">{{item.desc}}</option>
          </select>
        </div>

        <div class="col col-12 mt-2 text-center">
          <button 
            type="button"
            class="btn btn-lg btn-primary btn-block"
            [translate]="'web.agent.btn-search'"
            (click)="onSearchValidateInsurance()"
          ></button>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</section>