@import "../../../../variable.scss";

.tr-primary , .tr-secoundary {
  font-size: 14px; 
  text-align: center; 
  color: #fff;
}
.tr-primary {
  font-weight: lighter !important;
}
.tr-data ,.tr-secoundary {
  font-weight: 300;
}
.tr-primary >th {
  padding:3px 0;
}
.tr-secoundary >th {
  padding:3px 0;
  color: #000 !important;
  font-weight: bold;
}

td, th, tr {
    padding: 5px 4px 2px 2px!important;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bolder;
    border-style: solid;
    border-color: lightgray !important;
    border-width: 1px !important;
}

table th, table td {
  font-size: 13px;
}

.table {
  width: 100%;
  max-width: 100%;
  padding: 0px 0px;
  border: 1px solid lightgray;
}

.table-color {
  background-color: #024EA1;
}
.table-topic-color {
  background-color: #024fa122 !important;
}
table.table td, table.table th {
  padding: 5px 8px 5px 8px !important;
}
.missing-data {
  font-size: 13px;
}

.counter_service {
    display: inline-block;
    width: 83px;
    height: 64px;
    text-indent: -99px;
    overflow: hidden;
    // background: url(../../../../assets/images/counter_service.jpg);
    margin-right: 10px;
}
