<section *ngIf="isDraw()">
    <div>
      <table  id="promotion-table" class="table table-hover promotion-table">
        <!-- TABLE HEADER -->
        <tr class="tr-primary table-color">
          <th  class="text-left"  scope="colgroup">
            <span>{{ title }}</span>
          </th>
        </tr>

          <tr class="tr-data" *ngIf="isDraw()">
            <td class="text-left" colspan="2">
              <!-- <span class="counter_service"></span> -->
             
              <img class="counter_service" src="../../../../assets/images/counter_service.jpg"/>
              <!-- <span class="counter_service"></span> <ejs-barcodegenerator style="display: block;" #barcode id="barcode" width="200px" height="150px"mode="SVG" type="Code128" [value]="data"></ejs-barcodegenerator>-->
              <ngx-barcode style="display: inline-block;" [bc-element-type]="elementType" [bc-value]="values" [bc-format]="format" [bc-line-color]="lineColor"
              [bc-width]="width" [bc-height]="height" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
              [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
              [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode>
            </td>
        
          </tr>
       
      </table>
      <div *ngIf="!isDraw()" class="text-center my-2">
        <span class="missing-data">ไม่พบข้อมูล</span>
      </div>
    </div>
  
    
  </section>