<div class="container-fuild pb-5">
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#024ea1"
    type="cube-transition"
    [fullScreen]="true"
  >
    <p style="color: white">Loading...</p>
  </ngx-spinner>

  <!-- Modal Status of Register and Update (Admin Role) -->
  <ng-template #contentResult let-modal style="align-items: center">
    <div id="modal-status" class="mx-5 my-5">
      <app-modal-status
        [btnName]="btnName"
        [status]="modalStatus"
        [msgSuccess]="msgSuccess"
        [msgFail]="msgFail"
        [dismissAsExit]="true"
        [exitToPath]="exitToPath"
      >
      </app-modal-status>
    </div>
  </ng-template>

  <!-- Agent's Detail and Event Description -->
  <div class="bg-base">
    <!-- <app-agent-header [showBackBtn]="true"></app-agent-header> -->
    <div class="container" *ngIf="isDataAvailable">
      <div class="row pt-5 pb-3">
        <div class="col col-lg-10 col-12">
          <p class="h4 font-weight-bold text-primary">
            กิจกรรม {{ eventInfo.activityName }}
          </p>
          <small class="h5 font-weight-normal mt-2" style="color: grey">
            {{ eventInfo.activityDate }} {{ eventInfo.time }}
            {{ eventInfo.location }} {{ eventInfo.province }}
          </small>
        </div>
        <div class="col col-lg-2  col-12">
          <button class=" btn btn-primary btn-round" (click)="goBack()"><i class="fa fa-chevron-left"></i> Back</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Register Form -->
  <div class="container mt-2 pb-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12 col-lg-9">
          <div class="row mt-4">
            <div class="col col-12">
              <p
                class="h5 font-weight-bold text-primary"
                [translate]="'web.agent.event.register.participantDetail'"
              ></p>
            </div>
          </div>

          <div class="row">
            <!-- เลขที่บัตรประชาชน -->
            <div
              class="form-group col col-md-6 col-12 input-slot-margin"
              [ngClass]="!isShowRepeatForm() ? 'col-md-8' : ''"
            >
              <label [translate]="'web.agent.register.form.personalId'"></label>
              <label class="form-require">&nbsp;*</label>
              <input
                class="form-control form-control-lg"
                type="text"
                numbersOnly=""
                formControlName="id"
                maxlength="13"
                [ngClass]="{ 'is-invalid': idSubmitted && f.id.errors }"
                (change)="apiGetAgentDetailByPid(contentResult)"
              />
            </div>
            <!-- Repeat -->
            <div class="form-group col col-md-2 col-12 input-slot-margin" *ngIf="isShowRepeatForm()">
              <label
                [translate]="'web.agent.register.form.repeat'"
              ></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="repeat"
                [(ngModel)]="form.value.repeat"
                readonly
              />
            </div>

            <!-- ลำดับที่ -->
            <div class="form-group col col-md-2 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.order'"></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="registerId"
                [(ngModel)]="form.value.registerId"
                readonly
              />
            </div>

            <!-- เข้าร่วมกิจกรรม -->
            <div class="form-group col col-md-2 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.joinEvent'"></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="attendanceResult"
                [(ngModel)]="form.value.attendanceResult"
                readonly
              />
            </div>
          </div>

          <div class="row">
            <ng-container *ngIf="isInfoOfAdmin">
              <!-- สถานที่ออกบัตร -->
              <div class="form-group col col-md-4 col-12 input-slot-margin">
                <label
                  [translate]="'web.agent.register.form.cardManufacturer'"
                ></label>
                <input
                  type="text"
                  class="form-control form-control-lg"
                  formControlName="idcardLocal"
                  [(ngModel)]="form.value.idcardLocal"
                />
              </div>

              <!-- วันออกบัตร -->
              <div class="form-group col col-md-4 col-12 input-slot-margin">
                <label
                  [translate]="'web.agent.register.form.dateCreate'"
                ></label>

                <div class="input-group">
                  <input
                    class="form-control form-control-lg showInputDate"
                    type="text"
                    readonly
                    [value]="reformatDateTh(form.value.dateCreate)"
                    style="background-color: white"
                  />
                  <input
                    class="form-control form-control-lg hideInputDate"
                    matInput
                    [matDatepicker]="pickerDateCreate"
                    readonly="readonly"
                    formControlName="dateCreate"
                    [(ngModel)]="form.value.dateCreate"
                  />
                  <mat-datepicker #pickerDateCreate></mat-datepicker>
                  <div class="input-group-append" style="margin-top: -0.0625em">
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      (click)="pickerDateCreate.open()"
                    >
                      <i
                        class="fa fa-calendar"
                        style="margin-left: 12px; margin-right: 12px"
                      ></i>
                    </button>
                  </div>
                </div>
              </div>

              <!-- วันบัตรหมดอายุ -->
              <div class="form-group col col-md-4 col-12 input-slot-margin">
                <label
                  [translate]="'web.agent.register.form.dateExpire'"
                ></label>

                <div class="input-group">
                  <input
                    class="form-control form-control-lg showInputDate"
                    type="text"
                    readonly
                    [value]="reformatDateTh(form.value.dateExpire)"
                    style="background-color: white"
                  />
                  <input
                    class="form-control form-control-lg hideInputDate"
                    matInput
                    [matDatepicker]="pickerDateExpire"
                    readonly="readonly"
                    formControlName="dateExpire"
                    [(ngModel)]="form.value.dateExpire"
                  />
                  <mat-datepicker #pickerDateExpire></mat-datepicker>
                  <div class="input-group-append" style="margin-top: -0.0625em">
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      (click)="pickerDateExpire.open()"
                    >
                      <i
                        class="fa fa-calendar"
                        style="margin-left: 12px; margin-right: 12px"
                      ></i>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="row">
            <!-- คำนำหน้า -->
            <div class="form-group col col-md-4 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.nameTitle'"></label>
              <label class="form-require">&nbsp;*</label>
              <select
                id="eventTypeSelected"
                class="form-control form-control-lg"
                formControlName="title"
                [(ngModel)]="form.value.title"
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
              >
                <ng-container *ngFor="let item of dropdownTitle">
                  <option [ngValue]="item['code']">{{ item["code"] }}</option>
                </ng-container>
              </select>
            </div>

            <!-- ชื่อ -->
            <!-- [value]="agentDetail.thaiName" -->
            <div class="form-group col col-md-4 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.firstName'"></label>
              <label class="form-require">&nbsp;*</label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="name"
                [(ngModel)]="form.value.name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
              />
            </div>

            <!-- นามสกุล -->
            <!-- [value]="agentDetail.thaiSurname" -->
            <div class="form-group col col-md-4 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.lastName'"></label>
              <label class="form-require">&nbsp;*</label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="surname"
                [(ngModel)]="form.value.surname"
                [ngClass]="{ 'is-invalid': submitted && f.surname.errors }"
              />
            </div>
          </div>

          <div class="row">
            <!-- เพศ -->
            <div class="form-group col col-md-4 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.gender'"></label>
              <label class="form-require">&nbsp;*</label>
              <select
                id="eventTypeSelected"
                class="form-control form-control-lg"
                formControlName="gender"
                [(ngModel)]="form.value.gender"
                [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
              >
                <ng-container *ngFor="let item of dropdownGender">
                  <option [ngValue]="item['code']">{{ item["desc"] }}</option>
                </ng-container>
              </select>
            </div>

            <!-- วัน เดือน ปี เกิด -->
            <div class="form-group col col-md-4 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.dob'"></label>
              <label class="form-require" *ngIf="isRequireDob()">&nbsp;*</label>

              <div class="input-group">
                <input
                  class="form-control form-control-lg showInputDate"
                  type="text"
                  readonly
                  [value]="reformatDateTh(form.value.dob)"
                  style="background-color: white"
                  [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"
                />
                <input
                  class="form-control form-control-lg hideInputDate"
                  matInput
                  [matDatepicker]="picker"
                  readonly="readonly"
                  formControlName="dob"
                  [(ngModel)]="form.value.dob"
                  (dateChange)="calculateFormAge()"
                  [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"
                />
                <mat-datepicker #picker></mat-datepicker>
                <div class="input-group-append" style="margin-top: -0.0625em">
                  <button
                    class="btn"
                    type="button"
                    (click)="picker.open()"
                    [ngClass]="{
                      'btn-outline-danger': submitted && f.dob.errors,
                      'btn-outline-secondary': !(submitted && f.dob.errors)
                    }"
                  >
                    <i
                      class="fa fa-calendar"
                      style="margin-left: 12px; margin-right: 12px"
                    ></i>
                  </button>
                </div>
              </div>
            </div>

            <!-- อายุ -->
            <div class="form-group col col-md-4 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.age'"></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="age"
                [(ngModel)]="form.value.age"
                readonly
              />
            </div>
          </div>

          <div class="row" *ngIf="isInfoOfAdmin">
            <!-- บ้านเลขที่ -->
            <div class="form-group col col-md-3 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.adrCode'"></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="adrCode"
                [(ngModel)]="form.value.adrCode"
              />
            </div>

            <!-- หมู่ที่ -->
            <div class="form-group col col-md-3 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.adrMoo'"></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="adrMoo"
                [(ngModel)]="form.value.adrMoo"
              />
            </div>

            <!-- ตรอบ/ซอย -->
            <div class="form-group col col-md-3 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.adrBranch'"></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="adrBranch"
                [(ngModel)]="form.value.adrBranch"
              />
            </div>

            <!-- ถนน -->
            <div class="form-group col col-md-3 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.adrRoad'"></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="adrRoad"
                [(ngModel)]="form.value.adrRoad"
              />
            </div>
          </div>

          <div class="row" *ngIf="isInfoOfAdmin">
            <!-- ตำบล/แขวง -->
            <div class="form-group col col-md-3 col-12 input-slot-margin">
              <label
                [translate]="'web.agent.register.form.adrSubDistrict'"
              ></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="adrSubDistrict"
                [(ngModel)]="form.value.adrSubDistrict"
              />
            </div>

            <!-- อำเภอ/เขต -->
            <div class="form-group col col-md-3 col-12 input-slot-margin">
              <label
                [translate]="'web.agent.register.form.adrDistrict'"
              ></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="adrDistrict"
                [(ngModel)]="form.value.adrDistrict"
              />
            </div>

            <!-- จังหวัด -->
            <div class="form-group col col-md-3 col-12 input-slot-margin">
              <label
                [translate]="'web.agent.register.form.adrProvince'"
              ></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="adrProvince"
                [(ngModel)]="form.value.adrProvince"
              />
            </div>

            <!-- รหัสไปรษณีย์ -->
            <div class="form-group col col-md-3 col-12 input-slot-margin">
              <label
                [translate]="'web.agent.register.form.adrPostCode'"
              ></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="adrPostCode"
                [(ngModel)]="form.value.adrPostCode"
                minlength="5"
                maxlength="5"
                numbersOnly=""
              />
            </div>
          </div>

          <div class="row">
            <!-- โทรศัพท์ -->
            <div class="form-group col col-md-4 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.telNo'"></label>
              <label class="form-require">&nbsp;*</label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="mobile"
                numbersOnly=""
                minlength="10"
                maxlength="10"
                [(ngModel)]="form.value.mobile"
                [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
              />
            </div>

            <!-- E-mail -->
            <div class="form-group col col-md-4 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.email'"></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="email"
                [(ngModel)]="form.value.email"
              />
            </div>

            <!-- Line -->
            <div class="form-group col col-md-4 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.line'"></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="line"
                [(ngModel)]="form.value.line"
              />
            </div>
          </div>

          <div class="row" *ngIf="isShowEducation">
            <!-- การศึกษา -->
            <div
              class="form-group col col-sm-6 col-lg-4 col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.education'"></label>
              <label class="form-require">&nbsp;*</label>
              <select
                id="eventTypeSelected"
                class="form-control form-control-lg"
                formControlName="educationLevel"
                [(ngModel)]="form.value.educationLevel"
                [ngClass]="{ 'is-invalid': submitted && f.educationLevel.errors }"
              >
                <ng-container *ngFor="let item of dropdownEducation">
                  <option [ngValue]="item['educationCode']">
                    {{ item["educationName"] }}
                  </option>
                </ng-container>
              </select>
       
            </div>
          </div>

        
          <!-- Images Attachment -->
          <ng-container *ngIf="isShowImageAttach()">
            <div class="row mt-4" >
              <!-- รูปถ่าย -->
              <div class="col col-12">
                <p
                  class="h5 font-weight-bold text-primary"
                  [translate]="'web.agent.event.register.imageDetail'"
                ></p>
              </div>
            </div>
            <div class="row">
              <!-- รูปถ่ายบัตรประชาชน -->
              <div class="col col-md-6 col-12">
                <label [translate]="'web.agent.register.form.imgPersonalId'"></label>
                <br />
                <form>
                  <div class="custom-file">
                    <input
                      #file1
                      id="file1"
                      class="custom-file-input"
                      [ngClass]="{
                        'is-invalid': submitted && requirePictureLocal
                      }"
                      multiple="false"
                      type="file"
                      accept="image/png, image/tif, image/jpeg, image/jpg"
                      (change)="previewImage(file1.files, 'ID')"
                    />
                    <label class="custom-file-label" for="customFile">
                      <span>{{ imageIdName || "เลือกไฟล์" }}</span>
                    </label>
                  </div>
                </form>
                <span class="pl-3" style="color: red" *ngIf="msgImageId">{{
                  msgImageId
                }}</span>
              </div>
         
              <!-- รูปถ่าย หลักฐานการชำระเงิน -->
              <div class="col col-md-6 col-12">
                <label [translate]="'web.agent.register.form.imgPaidReceive'"></label>
                <br />
                <form>
                  <div class="custom-file">
                    <input
                      #file2
                      id="file2"
                      class="custom-file-input"
                      [ngClass]="{
                        'is-invalid': submitted && requirePayinLocal
                      }"
                      multiple="false"
                      type="file"
                      accept="image/png, image/tif, image/jpeg, image/jpg"
                      (change)="previewImage(file2.files, 'PAID')"
                    />
                    <label class="custom-file-label" for="customFile">
                      <span>{{ imagePaidName || "เลือกไฟล์" }}</span>
                    </label>
                  </div>
                </form>
                <span class="pl-3" style="color: red" *ngIf="msgImagePaid">{{
                  msgImagePaid
                }}</span>
              </div>
            </div>
                  <!-- Images Attachment -->
            <div class="row" >
              <div class="col col-md-6 col-12 my-2">
                <img *ngIf="idUrl" [src]="idUrl" class="img-thumbnail img-perview" />
              </div>

              <div class="col col-md-6 col-12 my-2">
                <img
                  *ngIf="paidUrl"
                  [src]="paidUrl"
                  class="img-thumbnail img-perview"
                />
              </div>
            </div>

            <div class="row mt-4">
              <!-- รายละเอียดการชำระเงิน -->
              <div class="col col-12">
                <p
                  class="h5 font-weight-bold text-primary"
                  [translate]="'web.agent.register.form.pay.in.title'"
                ></p>
              </div>
            </div>
            <div class="row">
              <!-- *** bankCode (Dropdown) -->
              <div class="form-group col col-md-4 col-12 input-slot-margin">
                <label
                  [translate]="'web.agent.register.form.pay.in.bankCode'"
                ></label>
                <label class="form-require">&nbsp;*</label>
                <select
                  id="eventTypeSelected"
                  class="form-control form-control-lg"
                  formControlName="bankcode"
                  [(ngModel)]="form.value.bankcode"
                  [ngClass]="{ 'is-invalid': submitted && f.bankcode.errors }"
                >
                  <ng-container *ngFor="let item of dropdownBankCode">
                    <option [ngValue]="item['bankCode']">
                      {{ item["bankDesc"] }}
                    </option>
                  </ng-container>
                </select>
              </div>

              <!-- ***  PayIn Number -->
              <div class="form-group col col-md-4 col-12 input-slot-margin">
                <label [translate]="'web.agent.register.form.pay.in.number'"></label>
                <!-- <label class="form-require">&nbsp;*</label> -->
                <input
                  type="text"
                  class="form-control form-control-lg"
                  formControlName="payInNumber"
                  numbersOnly=""
                  [(ngModel)]="form.value.payInNumber"
                  (change)="apiCheckPayinNumAlreadyInUse(contentResult)"
                />
              </div>

              <!-- ***  PayIn Amount -->
              <div class="form-group col col-md-4 col-12 input-slot-margin">
                <label [translate]="'web.agent.register.form.pay.in.amount'"></label>
                <label class="form-require">&nbsp;*</label>
                <input
                id="payInAmount"
                  type="number"
                  class="form-control form-control-lg"
                  formControlName="payInAmount"
                  numbersOnly=""
                  [(ngModel)]="form.value.payInAmount"
                  [ngClass]="{ 'is-invalid': submitted && f.payInAmount.errors }"
                />
              </div>
            </div>
            <div class="row">
              <!-- PayIn Date -->
              <div class="form-group col col-md-4 col-12 input-slot-margin">
                <label [translate]="'web.agent.register.form.pay.in.date'"></label>
                <div class="input-group">
                  <input
                    class="form-control form-control-lg showInputDate"
                    type="text"
                    style="background-color: white"
                    readonly="readonly"
                    [value]="reformatDateTh(form.value.payinDate)"
                  />
                  <input
                    class="form-control form-control-lg hideInputDate"
                    matInput
                    [matDatepicker]="picker2"
                    formControlName="payinDate"
                    [(ngModel)]="form.value.payinDate"
                  />
                  <mat-datepicker #picker2></mat-datepicker>
                  <div class="input-group-append" style="margin-top: -0.0625em">
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      (click)="picker2.open()"
                    >
                      <i
                        class="fa fa-calendar"
                        style="margin-left: 12px; margin-right: 12px"
                      ></i>
                    </button>
                  </div>
                </div>
              </div>

              <!-- PayIn Time-->
              <div class="form-group col col-md-4 col-12 input-slot-margin">
                <label [translate]="'web.agent.register.form.pay.in.time'"></label>
                <input
                  type="time"
                  class="form-control form-control-lg"
                  formControlName="payInTime"
                  [(ngModel)]="form.value.payInTime"
                />
              </div>
            </div>
          </ng-container>
        </div>
        
        <!-- AGENT DETAIL -->
        <div class="col-sm-12 col-lg-3">
          <div class="row mt-4">
            <!-- ข้อมูลผู้แนะนำ -->
            <div class="col col-12">
              <p
                class="h5 font-weight-bold text-primary"
                [translate]="'web.agent.event.register.seggesterDetail'"
              ></p>
            </div>
          </div>
          <!-- RecommendAgent's Detail -->
          <div class="row">
            <!-- รหัสตัวแทน -->
            <div class="col col-12 input-slot-margin">
              <label
                [translate]="'web.agent.register.form.suggestCode'"
              ></label>
              <label class="form-require">&nbsp;*</label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="recommendAgentCode"
                [ngClass]="{
                  'is-invalid': submitted && f.recommendAgentCode.errors
                }"
                [(ngModel)]="form.value.recommendAgentCode"
                (change)="
                  apiGetAgentDetailDirect(form.value.recommendAgentCode)
                "
              />
            </div>
          </div>
          <div class="row">
            <!-- ชื่อ-นามสกุล -->
            <div class="col col-12 input-slot-margin">
              <label
                [translate]="'web.agent.register.form.suggestName'"
              ></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="thaiFullName"
                [(ngModel)]="form.value.thaiFullName"
                readonly
              />
            </div>
          </div>
          <div class="row">
            <!-- รหัสหน่วย -->
            <div class="col col-12 input-slot-margin">
              <label
                [translate]="'web.agent.register.form.suggestChannel'"
              ></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="agentCateCodeSales"
                [(ngModel)]="form.value.agentCateCodeSales"
                readonly
              />
            </div>
          </div>

          <div class="row">
            <!-- เลขที่ใบอนุญาต -->
            <div class="col col-12 input-slot-margin">
              <label
                [translate]="'web.agent.register.form.agentLicense'"
              ></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="recommendLicenseNumber"
                [(ngModel)]="form.value.recommendLicenseNumber"
                readonly
              />
            </div>
          </div>
          <div class="row">
            <!-- วันที่หมดอายุ -->
            <div class="col col-12 input-slot-margin">
              <label
                [translate]="'web.agent.register.form.agentExpire'"
              ></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="recommendDateOfLicenseExpiration"
                [(ngModel)]="form.value.recommendDateOfLicenseExpiration"
                readonly
              />
            </div>
          </div>
          <!-- <hr> -->
          <!-- Agent's Detail -->
          <div class="row mt-4">
            <!-- ข้อมูลตัวแทน -->
            <div class="col col-12">
              <p
                class="h5 font-weight-bold text-primary"
                [translate]="'web.agent.event.register.agentDetail'"
              ></p>
            </div>
          </div>
          <!-- รหัสตัวแทน -->
          <div class="row">
            <div class="col col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.agentCode'"></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="agentDetailAgentCode"
                [(ngModel)]="form.value.agentDetailAgentCode"
                [readonly]="isReadonlyAgentCode()"
              />
            </div>
          </div>
          <div class="row">
            <!-- ชื่อ-นามสกุล -->
            <div class="col col-12 input-slot-margin">
              <label [translate]="'web.agent.register.form.agentName'"></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="agentDetailThisFullName"
                [(ngModel)]="form.value.agentDetailThisFullName"
                readonly
              />
            </div>
          </div>
          <div class="row">
            <!-- รหัสหน่วย -->
            <div class="col col-12 input-slot-margin">
              <label
                [translate]="'web.agent.register.form.agentChannel'"
              ></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="agentDetailAgentCateCodeSales"
                [(ngModel)]="form.value.agentDetailAgentCateCodeSales"
                readonly
              />
            </div>
          </div>
          <div class="row">
            <!-- เลขที่ใบอนุญาต -->
            <div class="col col-12 input-slot-margin">
              <label
                [translate]="'web.agent.register.form.agentLicense'"
              ></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="agentDetailLicenseNumber"
                [(ngModel)]="form.value.agentDetailLicenseNumber"
                disabled
              />
            </div>
          </div>
          <div class="row">
            <!-- วันหมดอายุ -->
            <div class="col col-12 input-slot-margin">
              <label
                [translate]="'web.agent.register.form.agentExpire'"
              ></label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="agentDetailDateOfLicenseExpiration"
                [value]="
                  reformatDateTh(form.value.agentDetailDateOfLicenseExpiration)
                "
                readonly
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Button Controller -->
      <div class="row my-4 justify-content-center">
        <div class="col col-md-4 col-12 mt-2">
          <button
            type="button"
            class="btn btn-lg btn-danger btn-block"
            [translate]="'web.agent.btn-clear'"
            (click)="createForm()"
          ></button>
        </div>
        <div class="col col-md-4 col-12 mt-2" *ngIf="isAdminRegister()">
          <!-- <div class="col col-md-4 col-12 mt-2"> -->
          <button
            type="button"
            class="btn btn-lg btn-success btn-block"
            [translate]="'web.agent.btn-smartcard'"
            (click)="smartCardScan()"
          ></button>
        </div>
        <div class="col col-md-4 col-12 mt-2">
          <!-- <div class="col col-md-4 col-12 mt-2"> -->
          <button
            type="button"
            class="btn btn-lg btn-primary btn-block"
            [translate]="
              !isAdminRegister()
                ? 'web.agent.btn-save'
                : 'web.agent.btn-register'
            "
            [disabled]="disableRegisPid || disableRegisPayin || (activityExpire && !isAdminRegister()) || disabledBtn "
            (click)="onSubmitRegister(contentResult)"
          ></button>
        
        </div>
      </div>
    </form>
  </div>
</div>
