@import "../../../variable.scss";

.was-validated .form-control:invalid, .form-control.is-invalid {
  background-position: right 24px center !important;
}

.hideInputDate{
  position: absolute;
  z-index: 0;
  border: 1px solid #ffffff;
}

.showInputDate{
  position: inherit;
  z-index: 2;
  margin-top: -0.0625em;
}

label {
  margin-bottom: 0px;
}
.input-slot-margin {
  margin-bottom: 8px;
}
.form-require {
  color: red;
  font-weight: bold;
}
.img-perview {
  width: inherit !important;
  height: 512px !important;
  max-height: 512px;
  object-fit: contain;
}

.has-error {
  border-color: red;
}
.has-success {
  border-color: #ced4da;
}

// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
// }
// input[type=number]{
//     -moz-appearance: textfield;
// }