<div class="container-fuild">

  <ngx-spinner bdColor = 'rgba(0, 0, 0, 0.8)' size = "medium" color = "#024ea1" type = "cube-transition" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

  <!-- Modal -->
  <ng-template #content let-modal style="align-items: center;">
    <div class="mx-3 mb-3 modal-overflow">
      <app-modal-target-year
        [agCode]="agCode"
        [masterCurPc]="masterCurPc"
        [masterLastPc]="masterLastPc"
        [masterCurActive]="masterCurActive"
        [masterLastActive]="masterLastActive"
        [masterCurNc]="masterCurNc"
        [masterLastNc]="masterLastNc"
        [masterCurRETENTION]="masterCurRETENTION"
        [masterLastRETENTION]="masterLastRETENTION"
        [masterCurRYP]="masterCurRYP"
        [masterLastRYP]="masterLastRYP"
        (postData)="handle_target(content1,$event)"
        [lastYearCalendar]="lastYearCalendar"
        [yearCalendar]="yearCalendar"
        [updateBy] = "UpdateBy"
      >
      </app-modal-target-year>
    </div>
  </ng-template>
  
  <div class="bg-base">
    <div class="container head-area py-5 px-lg-0">
      <!-- Agent's Detail -->
      <div class="row justify-content-between">
        <div class="col-auto">
          <p class=" h2 font-weight-bold">{{agentLevel}} {{agentCode}}
            <small class="content-desktop h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{agentName}} {{prstRte}}
            </small>
            <small class="content-mobile h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{agentName}} <br> {{prstRte}}
            </small>
          </p>
        </div>
        <div class="col-auto d-flex justify-content-end align-items-center">
          <button class="btn btn-primary btn-round" (click)="goToHome()"> 
            <i class="fa fa-chevron-left"></i> HOME
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fulid">
  <div class="container pt-5">
    <div class="row pb-3 mx-0">
      <p class="h3" style="font-weight: 500;">
        กรอกเป้าหมายประจำปี
      </p>
    </div>
    <!-- Search -->
    <div class="row justify-content-between mx-0">
      <div class="col-auto"></div>
      <div class="col-auto justify-content-end mb-2 px-0">
        <div class="align-items-center">
          <form>
            <div class="input-group searchKeyword-group">
              <input type="text" 
                [(ngModel)]='searchKeyword' 
                name="searchKeyword" 
                class="form-control search-key search-style"
                placeholder="ค้นหาชื่อหรือรหัสตัวแทน">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit" (click)="apiService_searchAgentList()">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>
</div>


<div class="container-fluid pb-5"> 
  <div class="container">
    <div class="row pt-3 mb-5">
      <app-target-year-table
        style="width: 100%;"
        [data]="data"
        [_agentLevel]="agentLevel"
        (clickModal)="openModal(content,$event)"
        [pagingItem]="_resData"
        (clickPaging)="handle_Page($event)"
        [pagingCount]="pagingCount"
        (clickSorting)="handlerSorting($event)"
      >   
      </app-target-year-table>
    </div>
  </div>
</div>

<div class="container-fulid" style="margin: 100px 100px;">
  <ng-template #content1 let-modal style="align-items: center;">
    <div style="align-items: flex-end;" class="mt-4 mr-4">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div id="modal-status"class="mx-5 mb-5">
      <app-modal-edit-status
        [status]="status"
      >
      </app-modal-edit-status>
    </div>
  </ng-template>
</div>