@import "../../../../../variable.scss";

.tr-primary , .tr-secoundary {
  font-size: 14px; 
  text-align: center; 
  color: #fff;
}
.tr-primary {
  font-weight: lighter !important;
}
.tr-data ,.tr-secoundary {
  font-weight: 300;
}
.tr-primary >th {
  padding:3px 0;
}
.tr-secoundary >th {
  padding:3px 0;
  color: #fff;
}

td, th, tr {
    padding: 5px 4px 2px 5px!important;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bolder;
    border-style: solid;
    border-color: lightgray !important;
    border-width: 1px !important;
}

table th, table td {
  font-size: 13px;
}

.table {
  width: 100%;
  max-width: 100%;
  padding: 0px 0px;
  border: 1px solid lightgray;
}

.table-color {
  background-color: #024EA1;
}
.table-secondary-header-color {
  background-color: #024fa1;
}
table.table td, table.table th {
  padding: 5px 3px 5px 5px !important;
}

.direct-code {
  color: #024EA1;
  text-decoration: underline;
  cursor: pointer;
}
.table-del-row {
  background-color: rgb(183,28,28,0.1);
}
