<section id="promotionConfigTable">
  <div>
    <table mdbTable id="validate-insurance-table" class="table table-hover promotion-table">
      <!-- TABLE HEADER -->
      <tr class="tr-secoundary table-secondary-header-color">
        <ng-container *ngFor="let header of headers; let i = index">
          <th class="text-center" scope="col">{{ header }}</th>
        </ng-container>
      </tr>

      <!-- TABLE CONTENT -->
      <tr class="tr-data" [ngClass]="item.isDelete == 'T' ? 'table-del-row' : ''" *ngFor="let item of data">
        <td class="text-center">{{ item.id }}</td>
        <td>{{ item.fileName }}</td>
        <td class="text-center">{{ item.createDate | date:'M/d/yy, H:mm' }}</td>
        <td class="text-center">{{ item.createBy }}</td>
        <td class="text-center">{{ item.updateDate | date:'M/d/yy, H:mm' }}</td>
        <td class="text-center">{{ item.updateBy }}</td>
        <td class="text-center">{{ item.type }}</td>
        <td class="text-center">{{ translateFileStatus(item.isDelete) }}</td>
        <td class="text-center">
          <button class="btn btn-default text-danger">
            <i class="fas fa-trash btn-blue"
              (click)="onClickDeleteConfig(item.id)"
            ></i>
          </button>
        </td>
      </tr>

    </table>
    <!-- EMPTY CONTENT -->
    <div *ngIf="data && data.length < 1" class="text-center my-2">
      <span>ไม่พบข้อมูล</span>
    </div>
  </div>
</section>