<div class="container">
  <!-- Chart Render -->
  <div class="col-* col-md-12" *ngIf="series_cur_pc.length > 0">
    <app-chart
      [dataCurrentYear]="series_cur_pc"
      [dataLastYear]="series_last_pc"
      [isShowLastyear]="hideLastYear"
      [dataTarget]="series_target_pc"
      [chartZoom]="chartZoom"
      [isShowKUnit]=true
    ></app-chart> 
  </div>

  <!-- Table Render: current year per month -->
  <div class="container my-4">
    <app-minor-table
      [targetSerie]="series_target_pc"
      [submitSerie]="series_cur_pcSubmit"
      [approveCurrentSerie]="series_cur_pc"
      [approveLastSerie]="series_last_pc"
      [approvePercentSerie]="series_percent_pc"
      [dataYTD]="sumYTD"
      [hideLastYear]="hideLastYear"
      [tableType]="'k_unit'"
    ></app-minor-table>
  </div>

  <!-- Table Render: CASE -->
  <div class="container my-4">
    <app-case-table 
      [noCaseData]="noCaseData" 
      [caseSizeData]="caseSizeData" 
      [ytdData]="ytdData"
      [isUseKUnit]="true"
    ></app-case-table>
  </div>

  <!-- Table Render: MTD -->
  <div class="container my-4">
    <app-mtd-ytd-table
      [kpiType]="'PC'"
      [periodType]="'MTD'"
      [dataTarget]="series_target_pc"
      [dataSubmit]="series_cur_pcSubmit"
      [dataCurrentApprove]="series_cur_pc"
      [dataLastApprove]="series_last_pc"
      [dataPercent]="series_percent_pc"
      [dataYTD]="sumYTD"
      [isDyThousand]=true
      [activeMonth]="activeMonth">
    </app-mtd-ytd-table>
  </div>

  <!-- Table Render: YTD -->
  <div class="container my-4">
    <app-mtd-ytd-table
      [kpiType]="'PC'"
      [periodType]="'YTD'"
      [dataYTD]="sumYTD"
      [isDyThousand]=true>
    </app-mtd-ytd-table>
  </div>
  
</div>
