<div class="container-fuild">
  <!-- <div class="text-center" *ngIf="!loadingStatus">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div> -->
  <ngx-spinner bdColor = 'rgba(0, 0, 0, 0.8)' size = "medium" color = "#024ea1" type = "cube-transition" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

  <div class="bg-base" *ngIf="loadingStatus">
    <div class="container head-area py-5 px-lg-0">

      <!-- Agent's Detail -->
      <div class="row justify-content-between">
        <div class="col-auto">
          <p class=" h2 font-weight-bold">{{displayLvName}} {{titleCode}}
            <small class="content-desktop h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{agentName}} {{prstRte}}
            </small>
            <small class="content-mobile h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{agentName}} <br> {{prstRte}}
            </small>
          </p>
        </div>

        <div class="col-auto d-flex justify-content-end align-items-center">
          <!-- <button class="btn btn-link font-color-primary-tsli" 
            style="text-decoration: underline;"
            (click)="back()">
            <i class="fa fa-chevron-left font-color-primary-tsli mx-2" aria-hidden="true"></i> 
            Back
          </button> -->
          <button class="btn btn-primary btn-round" (click)="goToHome()"> <i class="fa fa-chevron-left"></i> HOME</button>
        </div>
  
      </div>
      
      <app-filter [mode]="'kpi-detail'" 
        [listStatusBtn]="listStatusBtn" 
        [listAgentLevelBtn]="listAgentLevelBtn"
        [filterKpiType]="table.filterKpiType" 
        [agentLevel]="agentLevel" 
        [filterAgentLevel]="table.filterAgentLevel"
        [listWholeGroupBtn]="listWholeGroupBtn"
        (changeStatus)="handleKPIFilterSelect($event)" 
        (changeAgentLevel)="handleAgentLevelSelect($event)">
      </app-filter>

    </div>
  </div>
</div>

<div class="container pb-2 px-lg-0" *ngIf="loadingStatus">
  <!-- Controller home button -->
  <div>
    <div class="mt-5 pb-3">
      <!-- <button class="btn btn-primary" (click)="goToHome()"> <i class="fa fa-chevron-left"></i> HOME</button> -->
      <button class="btn btn-link font-color-primary-tsli" 
        style="text-decoration: underline; padding-left: 0px;"
        (click)="back()">
          <i class="fa fa-chevron-left font-color-primary-tsli mx-2" 
          style="margin-left: 0px !important;"
          aria-hidden="true"></i> 
          Back
      </button>
    </div>
  </div>

  <!-- Description -->
  <div class="row mt-2 justify-content-between">
    <div class="col-auto col-md-6 my-1">
      <div class="row">
        <div class="col-12 col-md-auto pb-3">
          <span class="h3 font-weight-bold">
            {{table.filterKpiType}} : {{table.filterAgentLevel}}
          </span>
          <span class="h3 font-weight-bold"
            *ngIf="checkIsShowRecords()">
            (Top {{topRecords}} Records)
          </span>
        </div>

        <div class="col-12 col-md-auto">
          <!-- Period Type button -->
          <button class="btn btn-period-type btn-period-left btn-toggle-mtd mb-2"
            [class.btn-toggle-mtd]="mtdPeriodMode_status"
            [class.btn-untoggle]="!mtdPeriodMode_status"
            (click)="handlePeriodMode('MTD')"
          >
            MTD
          </button>
          <button class="btn btn-period-type btn-period-right btn-toggle-mtd mb-2"
            [class.btn-toggle-mtd]="!mtdPeriodMode_status"
            [class.btn-untoggle]="mtdPeriodMode_status"
            (click)="handlePeriodMode('YTD')"
          >
            YTD
          </button>
        </div>
      </div>
    </div>

    <!-- Search Box -->
    <div class="col-auto col-md-3 justify-content-end mt-1 mb-2">
      <div class="align-items-center">
        <form>
          <div class="input-group searchKeyword-group">
            <input type="text" (keyup)="filterTable()" [(ngModel)]='searchKeyword' name="searchKeyword" class="form-control search-key" placeholder="ค้นหาชื่อหรือรหัสตัวแทน">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row my-2 justify-content-between">
    <div *ngIf="table.data.length > 0" class="col-auto my-1">
      <span  *ngIf="filterKpiType == 'PC' " class="total-kpi">
        Total Submit : {{totalSubmitPc | number:'1.0-0'}} | Total Actual : {{totalActualPc | number:'1.0-0'}}
      </span>
      <span *ngIf="filterKpiType == 'ACTIVE' " class="total-kpi">
        ACTIVE {{table.filterAgentLevel}} : {{numberActiveGt0 | number:'1.0-0'}} / {{numberActive | number:'1.0-0'}} ({{numberActivePct | number:'1.2-2'}}%) 
      </span>
      <span *ngIf="filterKpiType == 'NC' " class="total-kpi">
        NC {{table.filterAgentLevel}} : {{numberNcGt0 | number:'1.0-0'}} / {{numberNc | number:'1.0-0'}} ({{numberNcPct | number:'1.2-2'}}%)
      </span>
      <span *ngIf="filterKpiType == 'RYP' " class="total-kpi">
        Total Target : {{totalSubmitRyp | number:'1.0-0'}} | Total Actual : {{totalActualRyp | number:'1.0-0'}}
      </span>
    </div>
  </div>
  <!-- Table Agent -->
  <div class="row pb-5 mb-5">

    <!-- ####### NEW TABLE ####### -->
    <div class="cols-* col-md-12 justify-content-center p-0">
      <div class="cols-* col-md-12 justify-content-center">
        <app-kpidetail-table [table]="table" 
          [filterAgentLevel]="table.agLevelFilter" 
          [agentLevel]="agentLevel" 
          [filterKpiType]="table.filterKpiType"
          [filterGroupType]="filterGroupType"
          (onclickAgent)="handleAgentSelect($event)" 
          (onClickTeam)="handleTeamSelect($event)"
        >
        </app-kpidetail-table>
      </div>
    </div>
    <!-- END #### NEW Table -->
  
  </div>

</div>