@import "../../../variable.scss";

.bg-base {
    background-color:$base-color ;
}
.head-area {
    height: auto;
}
.scroll-row {
     overflow-x: scroll;
     width: 100%;
     display: inline-flex;
}
.card-header-cs {
    padding: 1.25rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.btn-outline-pc {
  border-color: #1d5e22;
  color: #1d5e22;
}
.btn-pc {
  background-color: #1d5e22;
  color: white;
}
.btn-outline-pc:hover {
  background-color: #1d5e22;
  color: white;
}
.btn-outline-act {
  border-color: #b71e20;
  color: #b71e20;
}
.btn-act {
  background-color: #b71e20;
  color: white;
}
.btn-outline-act:hover {
  background-color: #b71e20;
  color: white;
}
.btn-outline-nc {
  border-color: #d18b00;
  color: #d18b00;
}
.btn-nc {
  background-color: #d18b00;
  color: white;
}
.btn-outline-nc:hover {
  background-color: #d18b00;
  color: white;
}
.btn-outline-ryp {
  border-color: #691f9b;
  color: #691f9b;
}
.btn-ryp {
  background-color: #691f9b;
  color: white;
}
.btn-outline-ryp:hover {
  background-color: #691f9b;
  color: white;
}
.btn-outline-primary {
  border-color: #0e89d0;
  color: #0e89d0;
}
.btn-primary {
  background-color: #0e89d0;
  color: white;
}
.btn-outline-primary:hover {
  background-color: #0e89d0;
  color: white;
}
.btn-outline-primary:hover {
  background-color: #0e89d0;
  color: white;
}
.bg-primary-tsli{
  background-color:#0e89d0;
}
.font-color-primary-tsli{
  color: #0e89d0;
}

.btn-custom-width {
  width: 128px;
}
.bg-legend-cur-year {
  background-color: rgba(2,77,161,1);
}
.bg-legend-last-year {
  background-color: rgba(255,87,34,1);
}
.dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
}

.table-header-kpi-text{
  text-align:center;
  font-weight: 500;
  color: #FFFFFF;
}
.kpi-sortable{
  cursor: pointer;
}
.table-content-text{
  text-align:center;
  font-weight: 500;
  color: #424242;
}
.table-content-value{
  text-align:right;
  font-weight: 500;
  color: #424242;
}
.table-border {
  border-right-style: solid;
  border-right-width: thin;;
  border-right-color: white;
}
.table-border-bottom {
  border-bottom-style: solid;
  border-bottom-width: thin;;
  border-bottom-color: white;
}
.table-bg-header-level{
  background-color:#0e89d0;
}
.table-bg-content-level{
  background-color:white
}
.table-bg-header-pc{
  background-color:#1d5e22;
}
.table-bg-content-pc{
  background-color:#f2faf3
}
.table-bg-header-act{
  background-color:#b71e20;
}
.table-bg-content-act{
  background-color:#fef4f6
}
.table-bg-header-nc{
  background-color:#d18b00;
}
.table-bg-content-nc{
  background-color:#fffbef;
}
.table-bg-header-ryp{
  background-color:#691f9b;
}
.table-bg-content-ryp{
  background-color:#fcf7fb
}
.table-bg-subheader-pc{
  background-color:#1d5e22;
  border-top-color: #1d5e22;
}
.table-bg-subheader-act{
  background-color:#b71e20;
  border-top-color:#b71e20;
}
.table-bg-subheader-ryp{
  background-color:#691f9b;
  border-top-color:#691f9b;
}
.table-bg-subheader-nc{
  background-color:#d18b00;
  border-top-color:#d18b00;
}

#myInput {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 30px 12px 12px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.btn-period-left {
  margin-right: 4px;
  // margin-left: 4px;
}
.btn-period-right {
  margin-left: 4px;
}
.btn-toggle-mtd {
  background-color: #024b9f;
  color: white;
}
.btn-toggle-ytd {
  background-color: #024b9f;
  color: #d18c00;
}
.btn-untoggle {
  border-width: 1px;
  border-color: #024b9f;
  background-color: white;
  color: #024b9f;
}
.btn-period-type {
  min-width: 100px !important;
}

.content-desktop {
  display: block;
}
.content-mobile {
  display: none;
}

.total-kpi {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

@media only screen and (max-width: 767px) {
  .total-kpi {
    font-size: 14px;
    font-weight: 500;
    color: black;
  }

  .content-desktop {
    display: none;
  }
  .content-mobile {
    display: block;
  }
}