<div class="container-fuild">
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#024ea1"
    type="cube-transition"
    [fullScreen]="true"
    ><p style="color: white">Loading...</p></ngx-spinner
  >

  <!-- Modal: Show summary table as fullscreen -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <p class="h3 font-weight-bold">Summary : {{ titleLevel }}</p>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- DATA TABLE -->
      <app-master-table
        *ngIf="modelUser.tableOverview"
        [agentLevel]="modelUser.agentLevel"
        [data]="modelUser.tableOverview"
        [totalLabel]="totalCompLabel"
      >
      </app-master-table>
    </div>
  </ng-template>
  
  <!-- Header -->
  <div class="bg-base">
    <div class="container head-area py-5 px-lg-0">
      <!-- Agent's Detail -->
      <div class="row justify-content-between">
        <div class="col-auto">
          <p class="h1 font-weight-bold">
            {{ titleLevel }}
            <small
              class="h4 font-weight-normal font-color-primary-tsli float-left w-100 mt-2"
            >
              {{ modelUser.agentCode }} {{ modelUser.agentName }}
            </small>
          </p>
        </div>

        <!-- Back Home -->
        <div class="col-auto d-flex justify-content-end align-items-center">
          <button
            class="btn btn-outline-year btn-comAll"
            (click)="resetToCompany()"
          >
            <i class="fa fa-building" aria-hidden="true"></i>
            Company All
            <i
              class="fa fa fa-angle-right float-right text-middle"
              aria-hidden="true"
            ></i>
          </button>
        </div>
      </div>

      <!-- Channel and Zone filter box -->
      <app-filter
        [listChannelBtn]="buttonSet_Channel"
        [listZoneBtn]="buttonSet_Zone"
        [indexChannelSelected]="indexChannelSelected"
        [ChannelFilterSelected]="ChannelFilterSelected"
        [ZoneFilterSelected]="ZoneFilterSelected"
        (changeChannel)="handleChannelFilter($event)"
        (changeZone)="handleZoneFilter($event)"
      >
      </app-filter>
    </div>
  </div>
  <!-- End Header -->
</div>

<div class="container-fuild">
  <div class="container head-area py-5 px-lg-0">
    <!-- Agent's Detail -->
    <div class="row justify-content-between">
      <div class="col-auto justify-content-start">
        <p class="h3 font-weight-bold">Summary : {{ titleLevel }}</p>
      </div>

      <div class="col-auto justify-content-end">
        <div class="align-items-center">
          <!-- <form>
            <div class="input-group searchKeyword-group">
              <input type="text" (keyup)="filterTable(ChannelFilterSelected,ZoneFilterSelected)" [(ngModel)]='searchKeyword' name="searchKeyword" class="form-control search-key" placeholder="ค้นหาข้อมูลในตาราง">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form> -->
          <button
            *ngIf="isVisible()"
            class="btn btn-outline-year btn-comAll d-none d-lg-block"
            type="button"
            (click)="open(content)"
          >
            <i class="fa fa-search-plus"></i>
            แสดงผลตารางเต็มหน้าจอ
          </button>
        </div>
      </div>
    </div>

    <!-- Agent's Table Summary -->
    <div class="row pt-4">
      <div class="col-auto col-md-12 justify-content-center">
        <app-master-table
          *ngIf="modelUser.tableOverview"
          [agentLevel]="modelUser.agentLevel"
          [data]="modelUser.tableOverview"
          [totalLabel]="totalCompLabel"
        >
        </app-master-table>        
        <div class="container pt-3">
          <div class="row justify-content-center">
            <button
              class="btn btn-outline-year btn-block text-center"
              (click)="handleViewTeam()"
            >
              <i class="fa fa-users mx-2"></i>ข้อมูลทีมงาน (Team)
            </button>
          </div>

          <!-- Phase 3 Navigate Route -->
          <div class="row justify-content-center">
            <div class="col-md-6 menu-left">
              <button
                class="btn btn-outline-year btn-block text-center"
                (click)="onClickPromotion('สรุปการแข่งขัน')"
              >
                สรุปการแข่งขัน (Contest)
              </button>
            </div>
            <div class="col-md-6 menu-right">
              <button
                class="btn btn-outline-year btn-block text-center"
                (click)="onClickPromotion('คาดการณ์การแข่งขัน')"
              >
                คาดการณ์การแข่งขัน (Contest fcst.)
              </button>
            </div>
          </div>
          
          <div class="row justify-content-center">
            <div class="col-md-6 menu-left">
              <button
                class="btn btn-outline-year btn-block text-center"
                (click)="scrollTo('weeklyTable')"
                [attr.aria-expanded]="!isWeeklyCollapsed"
                aria-controls="weeklyCollapsed"
              >
                ผลงานรายสัปดาห์ (Weekly)
              </button>
            </div>
            <div class="col-md-6 menu-right">
              <button
                class="btn btn-outline-year btn-block text-center"
                (click)="scrollTo('dailyTable')"
                [attr.aria-expanded]="!isDailyCollapsed"
                aria-controls="dailyCollaped"
              >
                ผลงานรายวัน (Daily)
              </button>
            </div>
          </div>
         
          <!-- End Phase 3 Navigate Route -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- KPI Weekly Table -->
<div id="weeklyTable" class="container-fuild"></div>

<div
  class="container pb-5"
  id="weeklyCollapsed"
  [collapse]="isWeeklyCollapsed"
  [isAnimated]="true"
>
  <div class="row justify-content-between">
    <div class="col-auto justify-content-start px-0">
      <p class="h3 font-weight-bold">
        KPI Weekly
      </p>
    </div>
  </div>
  <!-- Overview KPI Table-->
  <div class="row pt-4">
    <div class="col-* col-md-12 justify-content-center px-lg-0">
      <!-- Component Weekly Table -->
      <app-weekly-table
        [data]="modelUser.performanceWeekly"
        [monthName]="monthId"
        [year]="yearId"
      >
      </app-weekly-table>
    </div>
  </div>
</div>
<!-- End KPI Weekly Table -->

<!-- KPI Daily Table -->
<div id="dailyTable" class="container-fuild"></div>

<div
  class="container pb-5"
  id="dailyCollaped"
  [collapse]="isDailyCollapsed"
  [isAnimated]="true"
>
  <div class="row justify-content-between">
    <div class="col-auto justify-content-start px-0">
      <p class="h3 font-weight-bold">
        KPI Daily
      </p>
    </div>
  </div>
  <div class="row">
    <div
      class="col-sm-12 col-md-4 offset-md-8 col-lg-3 offset-lg-9"
    >
      <!-- <div class="row align-items-center" style="margin-right: 0px"> -->
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Month</label
            >
          </div>
          <select
            [(ngModel)]="selectCalendar"
            (change)="handleSelectCalendar()"
            class="custom-select"
            id="inputGroupSelect01"
          >
            <option *ngFor="let option of calendarList" [value]="option.value">
              {{ option.viewValue }}
            </option>
          </select>
        </div>
      <!-- </div> -->
    </div>
  </div>

  <!-- Overview KPI Table-->
  <div class="row pt-4">
    <div class="col-* col-md-12 justify-content-center px-lg-0">
      <!-- Component Daily Table -->
      <app-daily-table
        [agentLevel]="modelUser.agentLevel"
        [data]="selectPerformanceDaily"
        [totalLabel]="modelUser.performanceDailyTotal"
      >
      </app-daily-table>
    </div>
  </div>
</div>
<!-- End KPI Daily Table -->

<div class="container-fuild">
  <div class="container head-area py-2 px-lg-0">
    <!-- Agent's Detail -->
    <div class="row justify-content-between">
      <div class="col-auto justify-content-start">
        <p class="h3 font-weight-bold">KPI Summary</p>
      </div>

      <div
        class="col-auto justify-content-end"
        style="margin-left: 15px; margin-right: 8px"
      >
        <div class="row align-items-center">
          <div *ngIf="!hideLastYear">
            <span class="dot bg-legend-last-year mr-2"></span>
            <span class="mr-4">{{ currentYear - 1 }}</span>
          </div>

          <div>
            <span class="dot bg-legend-cur-year mr-2"></span>
            <span class="mr-4">{{ currentYear }}</span>
          </div>

          <div>
            <button
              class="btn mx-2"
              [class.btn-year]="!hideLastYear"
              [class.btn-outline-year]="hideLastYear"
              (click)="compareYear()"
            >
              <i class="fa fa-exchange-alt"></i> {{ currentYear - 1 }} -
              {{ currentYear }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- KPI period MTD/YTD -->
    <div class="row justify-content-end mt-2">
      <div class="col-md-auto col-sm-12 justify-content-end">
        <button class="btn btn-period-type btn-period-left" [class.btn-toggle-mtd]="kpiPeriodMode_status"
          [class.btn-untoggle]="!kpiPeriodMode_status" (click)="handlerKpiPeriodMode('MTD')">
          MTD
        </button>
        <button class="btn btn-period-type btn-period-right" [class.btn-toggle-ytd]="!kpiPeriodMode_status"
          [class.btn-untoggle]="kpiPeriodMode_status" (click)="handlerKpiPeriodMode('YTD')">
          YTD
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container pb-5">
  <!-- Overview KPI Box and Charts -->
  <div class="row mb-5 pt-4">
    <div class="col-* col-md-12 px-lg-0">
      <!-- KPI BoxValue: PC -->
      <app-card-chart
        [kpiValueBox]="model_PC.kpiBoxValue"
        [renderChartType]="'PC'"
        [dataCurrentYear]="model_PC.series_current"
        [dataLastYear]="model_PC.series_last"
        [dataTarget]="model_PC.series_target"
        [isShowLastyear]="hideLastYear"
        [selectLevel]="currentLevel"
        [isThousand]="true"
        [periodType]="kpiPeriodMode_name"
      >
      </app-card-chart>

      <!-- KPI BoxValue: Active -->
      <app-card-chart
        [kpiValueBox]="model_Active.kpiBoxValue"
        [renderChartType]="'ACTIVE'"
        [dataCurrentYear]="model_Active.series_current"
        [dataLastYear]="model_Active.series_last"
        [dataTarget]="model_Active.series_target"
        [isShowLastyear]="hideLastYear"
        [selectLevel]="currentLevel"
        [periodType]="kpiPeriodMode_name"
      >
      </app-card-chart>

      <!-- KPI BoxValue: NC -->
      <app-card-chart
        [kpiValueBox]="model_NC.kpiBoxValue"
        [renderChartType]="'NC'"
        [dataCurrentYear]="model_NC.series_current"
        [dataLastYear]="model_NC.series_last"
        [dataTarget]="model_NC.series_target"
        [isShowLastyear]="hideLastYear"
        [selectLevel]="currentLevel"
        [periodType]="kpiPeriodMode_name"
      >
      </app-card-chart>

      <!-- KPI BoxValue: Retention -->
      <app-card-chart
        [kpiValueBox]="model_Retention.kpiBoxValue"
        [renderChartType]="'RETENTION'"
        [dataCurrentYear]="model_Retention.series_current"
        [dataLastYear]="model_Retention.series_last"
        [dataTarget]="model_Retention.series_target"
        [isShowLastyear]="hideLastYear"
        [selectLevel]="currentLevel"
        [periodType]="kpiPeriodMode_name"
      >
      </app-card-chart>

      <!-- KPI BoxValue: RYP -->
      <app-card-chart
        [kpiValueBox]="model_RYP.kpiBoxValue"
        [renderChartType]="'RYP'"
        [dataCurrentYear]="model_RYP.series_current"
        [dataLastYear]="model_RYP.series_last"
        [dataTarget]="model_RYP.series_target"
        [isShowLastyear]="hideLastYear"
        [selectLevel]="currentLevel"
        [isThousand]="true"
        [periodType]="kpiPeriodMode_name"
      >
      </app-card-chart>
    </div>
  </div>
</div>
<div id="back-to-top">
  <a class="top" id="top" href="javascript:void(0)" (click)="scrollTop()"> <i class="fa fa-arrow-up" aria-hidden="true"></i> </a>
</div>