@import "../../../variable.scss";

.menu-left {
  padding-top: 8px;
  padding-right: 4px;
  padding-left: 0px;
}

.menu-right {
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 4px;
}

@media only screen and (max-width: 767px) {
  .menu-left {
    padding-top: 8px;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .menu-right {
    padding-top: 8px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

.btn-period-type {
  width: 130px;
}
.btn-period-left {
  margin-right: 4px;
}
.btn-period-right {
  margin-left: 4px;
}

@media only screen and (max-width: 767px) {
  .btn-period-type {
    width: 50%;
  }
  .btn-period-left {
    margin-right: 0px;
  }
  .btn-period-right {
    margin-left: 0px;
  }
}

.bg-base {
    background-color:$base-color ;
}
.head-area {
    height: auto;
}
.scroll-row {
     overflow-x: scroll;
     width: 100%;
     display: inline-flex;
}
.card-header-cs {
    padding: 1.25rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,.500);
}
.kpi-box-color {
  background-color: #024b9f;
}

// .container {
//   max-width: 1400px;
// }
.bg-primary-tsli{
  background-color:#0e89d0;
}
.font-color-primary-tsli{
  color: #0e89d0;
}

// Button preset
.btn-custom-width {
  width: 128px;
}
.btn-pc {
  background-color: #0e89d0;
  color: white;
}
.btn-outline-pc {
  border-color: #0e89d0;
  color: #0e89d0;
}
.btn-outline-pc:hover {
  background-color: #0e89d0;
  color: white;
}

// Table
.table-header-kpi-text{
  text-align:center;
  font-weight: 500;
  color: #FFFFFF;
}
.table-subheader-kpi-text{
  text-align:center;
  font-weight: 400;
  color: #FFFFFF;
}
.table-content-text{
  text-align:right;
  font-weight: 500;
  color: #424242;
}
.table-border {
  border-right-style: solid;
  border-right-width: thin;;
  border-right-color: white;
}
.table-bg-header-level{
  background-color:#0e89d0;
}
.table-bg-content-level{
  background-color:white
}

.table-bg-header-pc{
  background-color:#1d5e22;
}
.table-bg-content-pc{
  background-color:#f2faf3;
}

.table-bg-header-act{
  background-color:#b71e20;
}
.table-bg-content-act{
  background-color:#fef4f6;
}

.table-bg-header-nc{
  background-color:#d18b00;
}
.table-bg-content-nc{
  background-color:#fffbef;
}

.table-bg-header-rt{
  background-color:#12366d;
}
.table-bg-content-rt{
  background-color:#f3f7fa;
}

.table-bg-header-ryp{
  background-color:#691f9b;
}
.table-bg-content-ryp{
  background-color:#fcf7fb;
}

.table-bg-subheader-pc{
  background-color:#1d5e22;
  border-top-color: #1d5e22;
}
.table-bg-subheader-act{
  background-color:#b71e20;
  border-top-color:#b71e20;
}
.table-bg-subheader-nc{
  background-color:#d18b00;
  border-top-color:#d18b00;
}
.table-bg-subheader-rt{
  background-color:#12366d;
  border-top-color:#12366d;
}
.table-bg-subheader-ryp{
  background-color:#691f9b;
  border-top-color:#691f9b;
}

.dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
}
.bg-legend-cur-year {
  background-color: rgba(2,77,161,1);
}
.bg-legend-last-year {
  background-color: rgba(254,200,78,1);
}


.btn-year {
  background-color: #024b9f;
  color: white;
}
.btn-toggle-mtd {
  background-color: #024b9f;
  color: white;
}
.btn-toggle-ytd {
  background-color: #024b9f;
  color: $bg-ytd-btn;
}
.btn-untoggle {
  border-width: 1px;
  border-color: #024b9f;
  background-color: white;
  color: #024b9f;
}

i.fa.fa.fa-angle-right {
  line-height: 1.5rem;
  padding-left: 5px;
}

::ng-deep .xxl .modal-dialog { 
  max-width: 95%;
  width: 95%;
}


#back-to-top .top {
  z-index: 999;
  position: fixed;
  margin: 0px;
  color: #fff;
  background: #333333;
  bottom: 10px;
  right: 10px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 90px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#back-to-top .top:hover {
  background: #333333;
  color: #fff;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}