<div *ngIf="listFilterPeriodType.length > 1">
  <div class="row">
    <div
      class="col align-items-center pb-3"
      *ngFor="let item of listFilterPeriodType; let i = index"
    >
      <button
        class="btn btn-custom-width btn-custom-height"
        (click)="onChangeFilterPeriodType(item)"
        [ngClass]="{
          'btn-outline-primary': i == 0 && filterPeriodType != 'ROLLBACK12',
          'btn-primary': i == 0 && filterPeriodType == 'ROLLBACK12',
          'btn-outline-danger': i == 1 && filterPeriodType != 'ROLLBACK12_CURRENT',
          'btn-danger': i == 1 && filterPeriodType == 'ROLLBACK12_CURRENT'
        }"
      >
        {{ listFilterPeriodTypeName[i] }}
      </button>
    </div>
  </div>
</div>
<div class="row" *ngIf="blockName && blockData">
  <div class="col-md-6 mb-1" *ngFor="let blockName of blockName; let i = index">
    <table class="table">
      <thead>
        <tr>
          <th
            *ngIf="isVetical"
            [ngClass]="
              blockName == 'เลื่อนตำแหน่งถัดไป' ? 'next-position-vetical' : ''
            "
            style="width: 50%"
            class="block th-first"
            scope="col"
          >
            {{ blockName }}
          </th>
          <th
            *ngIf="!isVetical"
            [ngClass]="blockName == 'เลื่อนตำแหน่งถัดไป' ? 'next-position' : ''"
            style="width: 50%"
            class="block th-first"
            scope="col"
          >
            {{ blockName }}
          </th>
          <th style="width: 50%" class="block" scope="col">{{ blockData[i] }}</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<div class="col-md-12">
  <div *ngIf="period" class="period pb-1">
    <p>{{ period }}</p>
  </div> 
  <!-- <div *ngIf="isVetical" class="period">
    <p>นับผลงาน : ม.ค. {{closYear}} - ธ.ค. {{closYear}} (12 เดือน)</p>
  </div>  -->
  <div class="col-12">
    <div class="remark pb-2"><p>**ข้อมูลที่แสดงนี้เป็นเพียงข้อมูลคาดการณ์เท่านั้น</p></div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr class="tr-primary_"
        [class.tr-primary]="filterPeriodType == 'ROLLBACK12'"
        [class.tr-danger]="filterPeriodType == 'ROLLBACK12_CURRENT'"
        [class.tr-validte-next-vp]=" blockName == 'เลื่อนตำแหน่งถัดไป' && isVetical"
      >
        <ng-container *ngFor="let tableHeader of tableHeader; index as i">
          <th *ngIf="i == 0" colspan="2" scope="col">{{ tableHeader }}</th>
          <th *ngIf="i != 0" scope="col">{{ tableHeader }}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody *ngIf="filterCompensation != 'โบนัสตัวแทนอาชีพ'">
      <ng-container *ngIf="compensationConfig && validationData">
        <tr
          [ngClass]="
            highlight(
              compensationConfig.validateKpi1,
              validationData[cv2FieldName(compensationConfig.validate1)]
            )
          "
          *ngIf="
            compensationConfig.validate1 && compensationConfig.validate1 != ' '
          "
        >
          <td style="width: 25%" class="td-first">
            {{ mappingName(compensationConfig.validate1) }}
          </td>
          <td style="width: 25%">
            {{
              checkKPI(compensationConfig.validate1)
                ? isNumber(compensationConfig.validateKpi1)
                  ? (compensationConfig.validateKpi1 | number: "1.0-0")
                  : compensationConfig.validateKpi1
                : (compensationConfig.validateKpi1 | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate1)) }}
          </td>
          <td style="width: 25%" *ngIf="!((compensationConfig.validate1 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate1)] == 'N/A'))">
          
            {{
              checkKPI(compensationConfig.validate1)
                ? isNumber(
                    validationData[cv2FieldName(compensationConfig.validate1)]
                  )
                  ? (validationData[cv2FieldName(compensationConfig.validate1)]
                    | number: "1.0-0")
                  : validationData[cv2FieldName(compensationConfig.validate1)]
                : (validationData[cv2FieldName(compensationConfig.validate1)]
                  | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate1)) }}
          </td>
          <td *ngIf="(compensationConfig.validate1 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate1)] == 'N/A')">
            {{ validationData[cv2FieldName(compensationConfig.validate1)] }}
          </td>
          <td
            *ngIf="
              isComplete(
                compensationConfig.validateKpi1,
                validationData[cv2FieldName(compensationConfig.validate1)]
              )
            "
            style="width: 25%"
          >
            <i class="fas fa-check"></i>
          </td>
          <td
            *ngIf="
              !isComplete(
                compensationConfig.validateKpi1,
                validationData[cv2FieldName(compensationConfig.validate1)]
              )
            "
            style="width: 25%"
          >
            {{
              checkKPI(compensationConfig.validate1)
                ? isNumber(
                    isShow(
                      compensationConfig.validateKpi1,
                      validationData[cv2FieldName(compensationConfig.validate1)]
                    )
                  )
                  ? (isShow(
                      compensationConfig.validateKpi1,
                      validationData[cv2FieldName(compensationConfig.validate1)]
                    ) | number: "1.0-0")
                  : isShow(
                      compensationConfig.validateKpi1,
                      validationData[cv2FieldName(compensationConfig.validate1)]
                    )
                : (isShow(
                    compensationConfig.validateKpi1,
                    validationData[cv2FieldName(compensationConfig.validate1)]
                  ) | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate1)) }}
          </td>
        </tr>

        <tr
          [ngClass]="
            highlight(
              compensationConfig.validateKpi2,
              validationData[cv2FieldName(compensationConfig.validate2)]
            )
          "
          *ngIf="
            compensationConfig.validate2 && compensationConfig.validate2 != ' '
          "
        >
          <td class="td-first">
            {{ mappingName(compensationConfig.validate2) }}
          </td>
          <td>
            {{
              checkKPI(compensationConfig.validate2)
                ? isNumber(compensationConfig.validateKpi2)
                  ? (compensationConfig.validateKpi2 | number: "1.0-0")
                  : compensationConfig.validateKpi2
                : (compensationConfig.validateKpi2 | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate2)) }}
          </td>
          <td *ngIf="!((compensationConfig.validate2 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate2)] == 'N/A'))">
          
            {{
              checkKPI(compensationConfig.validate2)
                ? isNumber(
                    validationData[cv2FieldName(compensationConfig.validate2)]
                  )
                  ? (validationData[cv2FieldName(compensationConfig.validate2)]
                    | number: "1.0-0")
                  : validationData[cv2FieldName(compensationConfig.validate2)]
                : (validationData[cv2FieldName(compensationConfig.validate2)]
                  | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate2)) }}
          </td>
          <td *ngIf="(compensationConfig.validate2 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate2)] == 'N/A')">
            {{ validationData[cv2FieldName(compensationConfig.validate2)] }}
          </td>
          <td
            *ngIf="
              isComplete(
                compensationConfig.validateKpi2,
                validationData[cv2FieldName(compensationConfig.validate2)]
              )
            "
            style="width: 25%"
          >
            <i class="fas fa-check"></i>
          </td>
          <td
            *ngIf="
              !isComplete(
                compensationConfig.validateKpi2,
                validationData[cv2FieldName(compensationConfig.validate2)]
              )
            "
            style="width: 25%"
          >
            {{
              checkKPI(compensationConfig.validate2)
                ? isNumber(
                    isShow(
                      compensationConfig.validateKpi2,
                      validationData[cv2FieldName(compensationConfig.validate2)]
                    )
                  )
                  ? (isShow(
                      compensationConfig.validateKpi2,
                      validationData[cv2FieldName(compensationConfig.validate2)]
                    ) | number: "1.0-0")
                  : isShow(
                      compensationConfig.validateKpi2,
                      validationData[cv2FieldName(compensationConfig.validate2)]
                    )
                : (isShow(
                    compensationConfig.validateKpi2,
                    validationData[cv2FieldName(compensationConfig.validate2)]
                  ) | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate2)) }}
          </td>
        </tr>

        <tr
          [ngClass]="
            highlight(
              compensationConfig.validateKpi3,
              validationData[cv2FieldName(compensationConfig.validate3)]
            )
          "
          *ngIf="
            compensationConfig.validate3 && compensationConfig.validate3 != ' '
          "
        >
          <td class="td-first">
            {{ mappingName(compensationConfig.validate3) }}
          </td>
          <td>
            {{
              checkKPI(compensationConfig.validate3)
                ? isNumber(compensationConfig.validateKpi3)
                  ? (compensationConfig.validateKpi3 | number: "1.0-0")
                  : compensationConfig.validateKpi3
                : (compensationConfig.validateKpi3 | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate3)) }}
          </td>
          <td *ngIf="!((compensationConfig.validate3 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate3)] == 'N/A'))">
          
            {{
              checkKPI(compensationConfig.validate3)
                ? isNumber(
                    validationData[cv2FieldName(compensationConfig.validate3)]
                  )
                  ? (validationData[cv2FieldName(compensationConfig.validate3)]
                    | number: "1.0-0")
                  : validationData[cv2FieldName(compensationConfig.validate3)]
                : (validationData[cv2FieldName(compensationConfig.validate3)]
                  | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate3)) }}
          </td>
          <td *ngIf="(compensationConfig.validate3 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate3)] == 'N/A')">
            {{ validationData[cv2FieldName(compensationConfig.validate3)] }}
          </td>
          <td
            *ngIf="
              isComplete(
                compensationConfig.validateKpi3,
                validationData[cv2FieldName(compensationConfig.validate3)]
              )
            "
            style="width: 25%"
          >
            <i class="fas fa-check"></i>
          </td>
          <td
            *ngIf="
              !isComplete(
                compensationConfig.validateKpi3,
                validationData[cv2FieldName(compensationConfig.validate3)]
              )
            "
            style="width: 25%"
          >
            {{
              checkKPI(compensationConfig.validate3)
                ? isNumber(
                    isShow(
                      compensationConfig.validateKpi3,
                      validationData[cv2FieldName(compensationConfig.validate3)]
                    )
                  )
                  ? (isShow(
                      compensationConfig.validateKpi3,
                      validationData[cv2FieldName(compensationConfig.validate3)]
                    ) | number: "1.0-0")
                  : isShow(
                      compensationConfig.validateKpi3,
                      validationData[cv2FieldName(compensationConfig.validate3)]
                    )
                : (isShow(
                    compensationConfig.validateKpi3,
                    validationData[cv2FieldName(compensationConfig.validate3)]
                  ) | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate3)) }}
          </td>
        </tr>

        <tr
          [ngClass]="
            highlight(
              compensationConfig.validateKpi4,
              validationData[cv2FieldName(compensationConfig.validate4)]
            )
          "
          *ngIf="
            compensationConfig.validate4 && compensationConfig.validate4 != ' '
          "
        >
          <td class="td-first">
            {{ mappingName(compensationConfig.validate4) }}
          </td>
          <td>
            {{
              checkKPI(compensationConfig.validate4)
                ? isNumber(compensationConfig.validateKpi4)
                  ? (compensationConfig.validateKpi4 | number: "1.0-0")
                  : compensationConfig.validateKpi4
                : (compensationConfig.validateKpi4 | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate4)) }}
          </td>
          <td *ngIf="!((compensationConfig.validate4 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate4)] == 'N/A'))">
            {{
              checkKPI(compensationConfig.validate4)
                ? isNumber(
                    validationData[cv2FieldName(compensationConfig.validate4)]
                  )
                  ? (validationData[cv2FieldName(compensationConfig.validate4)]
                    | number: "1.0-0")
                  : validationData[cv2FieldName(compensationConfig.validate4)]
                : (validationData[cv2FieldName(compensationConfig.validate4)]
                  | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate4)) }}
          </td>
          <td *ngIf="(compensationConfig.validate4 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate4)] == 'N/A')">
            {{ validationData[cv2FieldName(compensationConfig.validate4)] }}
          </td>
          <td
            *ngIf="
              isComplete(
                compensationConfig.validateKpi4,
                validationData[cv2FieldName(compensationConfig.validate4)]
              )
            "
            style="width: 25%"
          >
            <i class="fas fa-check"></i>
          </td>
          <td
            *ngIf="
              !isComplete(
                compensationConfig.validateKpi4,
                validationData[cv2FieldName(compensationConfig.validate4)]
              )
            "
            style="width: 25%"
          >
            {{
              checkKPI(compensationConfig.validate4)
                ? isNumber(
                    isShow(
                      compensationConfig.validateKpi4,
                      validationData[cv2FieldName(compensationConfig.validate4)]
                    )
                  )
                  ? (isShow(
                      compensationConfig.validateKpi4,
                      validationData[cv2FieldName(compensationConfig.validate4)]
                    ) | number: "1.0-0")
                  : isShow(
                      compensationConfig.validateKpi4,
                      validationData[cv2FieldName(compensationConfig.validate4)]
                    )
                : (isShow(
                    compensationConfig.validateKpi4,
                    validationData[cv2FieldName(compensationConfig.validate4)]
                  ) | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate4)) }}
          </td>
        </tr>

        <tr
          [ngClass]="
            highlight(
              compensationConfig.validateKpi5,
              validationData[cv2FieldName(compensationConfig.validate5)]
            )
          "
          *ngIf="
            compensationConfig.validate5 && compensationConfig.validate5 != ' '
          "
        >
          <td class="td-first">
            {{ mappingName(compensationConfig.validate5) }}
          </td>
          <td>
            {{
              checkKPI(compensationConfig.validate5)
                ? isNumber(compensationConfig.validateKpi5)
                  ? (compensationConfig.validateKpi5 | number: "1.0-0")
                  : compensationConfig.validateKpi5
                : (compensationConfig.validateKpi5 | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate5)) }}
          </td>
          <td *ngIf="!((compensationConfig.validate5 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate5)] == 'N/A'))">
            {{
              checkKPI(compensationConfig.validate5)
                ? isNumber(
                    validationData[cv2FieldName(compensationConfig.validate5)]
                  )
                  ? (validationData[cv2FieldName(compensationConfig.validate5)]
                    | number: "1.0-0")
                  : validationData[cv2FieldName(compensationConfig.validate5)]
                : (validationData[cv2FieldName(compensationConfig.validate5)]
                  | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate5)) }}
          </td>
          <td *ngIf="(compensationConfig.validate5 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate5)] == 'N/A')">
            {{ validationData[cv2FieldName(compensationConfig.validate5)] }}
          </td>
          <td
            *ngIf="
              isComplete(
                compensationConfig.validateKpi5,
                validationData[cv2FieldName(compensationConfig.validate5)]
              )
            "
            style="width: 25%"
          >
            <i class="fas fa-check"></i>
          </td>
          <td
            *ngIf="
              !isComplete(
                compensationConfig.validateKpi5,
                validationData[cv2FieldName(compensationConfig.validate5)]
              )
            "
            style="width: 25%"
          >
            {{
              checkKPI(compensationConfig.validate5)
                ? isNumber(
                    isShow(
                      compensationConfig.validateKpi5,
                      validationData[cv2FieldName(compensationConfig.validate5)]
                    )
                  )
                  ? (isShow(
                      compensationConfig.validateKpi5,
                      validationData[cv2FieldName(compensationConfig.validate5)]
                    ) | number: "1.0-0")
                  : isShow(
                      compensationConfig.validateKpi5,
                      validationData[cv2FieldName(compensationConfig.validate5)]
                    )
                : (isShow(
                    compensationConfig.validateKpi5,
                    validationData[cv2FieldName(compensationConfig.validate5)]
                  ) | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate5)) }}
          </td>
        </tr>

        <tr
          [ngClass]="
            highlight(
              compensationConfig.validateKpi6,
              validationData[cv2FieldName(compensationConfig.validate6)]
            )
          "
          *ngIf="
            compensationConfig.validate6 && compensationConfig.validate6 != ' '
          "
        >
          <td class="td-first">
            {{ mappingName(compensationConfig.validate6) }}
          </td>
          <td>
            {{
              checkKPI(compensationConfig.validate6)
                ? isNumber(compensationConfig.validateKpi6)
                  ? (compensationConfig.validateKpi6 | number: "1.0-0")
                  : compensationConfig.validateKpi6
                : (compensationConfig.validateKpi6 | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate6)) }}
          </td>
          <td *ngIf="!((compensationConfig.validate6 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate6)] == 'N/A'))">
            {{
              checkKPI(compensationConfig.validate6)
                ? isNumber(
                    validationData[cv2FieldName(compensationConfig.validate6)]
                  )
                  ? (validationData[cv2FieldName(compensationConfig.validate6)]
                    | number: "1.0-0")
                  : validationData[cv2FieldName(compensationConfig.validate6)]
                : (validationData[cv2FieldName(compensationConfig.validate6)]
                  | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate6)) }}
          </td>
          <td *ngIf="(compensationConfig.validate6 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate6)] == 'N/A')">
            {{ validationData[cv2FieldName(compensationConfig.validate6)] }}
          </td>
          <td
            *ngIf="
              isComplete(
                compensationConfig.validateKpi6,
                validationData[cv2FieldName(compensationConfig.validate6)]
              )
            "
            style="width: 25%"
          >
            <i class="fas fa-check"></i>
          </td>
          <td
            *ngIf="
              !isComplete(
                compensationConfig.validateKpi6,
                validationData[cv2FieldName(compensationConfig.validate6)]
              )
            "
            style="width: 25%"
          >
            {{
              checkKPI(compensationConfig.validate6)
                ? isNumber(
                    isShow(
                      compensationConfig.validateKpi6,
                      validationData[cv2FieldName(compensationConfig.validate6)]
                    )
                  )
                  ? (isShow(
                      compensationConfig.validateKpi6,
                      validationData[cv2FieldName(compensationConfig.validate6)]
                    ) | number: "1.0-0")
                  : isShow(
                      compensationConfig.validateKpi6,
                      validationData[cv2FieldName(compensationConfig.validate6)]
                    )
                : (isShow(
                    compensationConfig.validateKpi6,
                    validationData[cv2FieldName(compensationConfig.validate6)]
                  ) | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate6)) }}
          </td>
        </tr>

        <tr
          [ngClass]="
            highlight(
              compensationConfig.validateKpi7,
              validationData[cv2FieldName(compensationConfig.validate7)]
            )
          "
          *ngIf="
            compensationConfig.validate7 && compensationConfig.validate7 != ' '
          "
        >
          <td class="td-first">
            {{ mappingName(compensationConfig.validate7) }}
          </td>
          <td>
            {{
              checkKPI(compensationConfig.validate7)
                ? isNumber(compensationConfig.validateKpi7)
                  ? (compensationConfig.validateKpi7 | number: "1.0-0")
                  : compensationConfig.validateKpi7
                : (compensationConfig.validateKpi7 | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate7)) }}
          </td>
          <td *ngIf="!((compensationConfig.validate7 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate7)] == 'N/A'))">
            {{
              checkKPI(compensationConfig.validate7)
                ? isNumber(
                    validationData[cv2FieldName(compensationConfig.validate7)]
                  )
                  ? (validationData[cv2FieldName(compensationConfig.validate7)]
                    | number: "1.0-0")
                  : validationData[cv2FieldName(compensationConfig.validate7)]
                : (validationData[cv2FieldName(compensationConfig.validate7)]
                  | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate7)) }}
          </td>
          <td *ngIf="(compensationConfig.validate7 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate7)] == 'N/A')">
            {{ validationData[cv2FieldName(compensationConfig.validate7)] }}
          </td>
          <td
            *ngIf="
              isComplete(
                compensationConfig.validateKpi7,
                validationData[cv2FieldName(compensationConfig.validate7)]
              )
            "
            style="width: 25%"
          >
            <i class="fas fa-check"></i>
          </td>
          <td
            *ngIf="
              !isComplete(
                compensationConfig.validateKpi7,
                validationData[cv2FieldName(compensationConfig.validate7)]
              )
            "
            style="width: 25%"
          >
            {{
              checkKPI(compensationConfig.validate7)
                ? isNumber(
                    isShow(
                      compensationConfig.validateKpi7,
                      validationData[cv2FieldName(compensationConfig.validate7)]
                    )
                  )
                  ? (isShow(
                      compensationConfig.validateKpi7,
                      validationData[cv2FieldName(compensationConfig.validate7)]
                    ) | number: "1.0-0")
                  : isShow(
                      compensationConfig.validateKpi7,
                      validationData[cv2FieldName(compensationConfig.validate7)]
                    )
                : (isShow(
                    compensationConfig.validateKpi7,
                    validationData[cv2FieldName(compensationConfig.validate7)]
                  ) | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate7)) }}
          </td>
        </tr>

        <tr
          [ngClass]="
            highlight(
              compensationConfig.validateKpi8,
              validationData[cv2FieldName(compensationConfig.validate8)]
            )
          "
          *ngIf="
            compensationConfig.validate8 && compensationConfig.validate8 != ' '
          "
        >
          <td class="td-first">
            {{ mappingName(compensationConfig.validate8) }}
          </td>
          <td>
            {{
              checkKPI(compensationConfig.validate8)
                ? isNumber(compensationConfig.validateKpi8)
                  ? (compensationConfig.validateKpi8 | number: "1.0-0")
                  : compensationConfig.validateKpi8
                : (compensationConfig.validateKpi8 | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate8)) }}
          </td>
          <td *ngIf="!((compensationConfig.validate8 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate8)] == 'N/A'))">
            {{
              checkKPI(compensationConfig.validate8)
                ? isNumber(
                    validationData[cv2FieldName(compensationConfig.validate8)]
                  )
                  ? (validationData[cv2FieldName(compensationConfig.validate8)]
                    | number: "1.0-0")
                  : validationData[cv2FieldName(compensationConfig.validate8)]
                : (validationData[cv2FieldName(compensationConfig.validate8)]
                  | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate8)) }}
          </td>
          <td *ngIf="(compensationConfig.validate8 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate8)] == 'N/A')">
            {{ validationData[cv2FieldName(compensationConfig.validate8)] }}
          </td>
          <td
            *ngIf="
              isComplete(
                compensationConfig.validateKpi8,
                validationData[cv2FieldName(compensationConfig.validate8)]
              )
            "
            style="width: 25%"
          >
            <i class="fas fa-check"></i>
          </td>
          <td
            *ngIf="
              !isComplete(
                compensationConfig.validateKpi8,
                validationData[cv2FieldName(compensationConfig.validate8)]
              )
            "
            style="width: 25%"
          >
            {{
              checkKPI(compensationConfig.validate8)
                ? isNumber(
                    isShow(
                      compensationConfig.validateKpi8,
                      validationData[cv2FieldName(compensationConfig.validate8)]
                    )
                  )
                  ? (isShow(
                      compensationConfig.validateKpi8,
                      validationData[cv2FieldName(compensationConfig.validate8)]
                    ) | number: "1.0-0")
                  : isShow(
                      compensationConfig.validateKpi8,
                      validationData[cv2FieldName(compensationConfig.validate8)]
                    )
                : (isShow(
                    compensationConfig.validateKpi8,
                    validationData[cv2FieldName(compensationConfig.validate8)]
                  ) | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate8)) }}
          </td>
        </tr>

        <tr
          [ngClass]="
            highlight(
              compensationConfig.validateKpi9,
              validationData[cv2FieldName(compensationConfig.validate9)]
            )
          "
          *ngIf="
            compensationConfig.validate9 && compensationConfig.validate9 != ' '
          "
        >
          <td class="td-first">
            {{ mappingName(compensationConfig.validate9) }}
          </td>
          <td>
            {{
              checkKPI(compensationConfig.validate9)
                ? isNumber(compensationConfig.validateKpi9)
                  ? (compensationConfig.validateKpi9 | number: "1.0-0")
                  : compensationConfig.validateKpi9
                : (compensationConfig.validateKpi9 | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate9)) }}
          </td>
          <td *ngIf="!((compensationConfig.validate9 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate9)] == 'N/A'))">
            {{
              checkKPI(compensationConfig.validate9)
                ? isNumber(
                    validationData[cv2FieldName(compensationConfig.validate9)]
                  )
                  ? (validationData[cv2FieldName(compensationConfig.validate9)]
                    | number: "1.0-0")
                  : validationData[cv2FieldName(compensationConfig.validate9)]
                : (validationData[cv2FieldName(compensationConfig.validate9)]
                  | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate9)) }}
          </td>
          <td *ngIf="(compensationConfig.validate9 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate9)] == 'N/A')">
            {{ validationData[cv2FieldName(compensationConfig.validate9)] }}
          </td>
          <td
            *ngIf="
              isComplete(
                compensationConfig.validateKpi9,
                validationData[cv2FieldName(compensationConfig.validate9)]
              )
            "
            style="width: 25%"
          >
            <i class="fas fa-check"></i>
          </td>
          <td
            *ngIf="
              !isComplete(
                compensationConfig.validateKpi9,
                validationData[cv2FieldName(compensationConfig.validate9)]
              )
            "
            style="width: 25%"
          >
            {{
              checkKPI(compensationConfig.validate9)
                ? isNumber(
                    isShow(
                      compensationConfig.validateKpi9,
                      validationData[cv2FieldName(compensationConfig.validate9)]
                    )
                  )
                  ? (isShow(
                      compensationConfig.validateKpi9,
                      validationData[cv2FieldName(compensationConfig.validate9)]
                    ) | number: "1.0-0")
                  : isShow(
                      compensationConfig.validateKpi9,
                      validationData[cv2FieldName(compensationConfig.validate9)]
                    )
                : (isShow(
                    compensationConfig.validateKpi9,
                    validationData[cv2FieldName(compensationConfig.validate9)]
                  ) | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate9)) }}
          </td>
        </tr>

        <tr
          [ngClass]="
            highlight(
              compensationConfig.validateKpi10,
              validationData[cv2FieldName(compensationConfig.validate10)]
            )
          "
          *ngIf="
            compensationConfig.validate10 &&
            compensationConfig.validate10 != ' '
          "
        >
          <td class="td-first">
            {{ mappingName(compensationConfig.validate10) }}
          </td>
          <td>
            {{
              checkKPI(compensationConfig.validate10)
                ? isNumber(compensationConfig.validateKpi10)
                  ? (compensationConfig.validateKpi10 | number: "1.0-0")
                  : compensationConfig.validateKpi10
                : (compensationConfig.validateKpi10 | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate10)) }}
          </td>
          <td *ngIf="!((compensationConfig.validate10 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate10)] == 'N/A'))">
            {{
              checkKPI(compensationConfig.validate10)
                ? isNumber(
                    validationData[cv2FieldName(compensationConfig.validate10)]
                  )
                  ? (validationData[cv2FieldName(compensationConfig.validate10)]
                    | number: "1.0-0")
                  : validationData[cv2FieldName(compensationConfig.validate10)]
                : (validationData[cv2FieldName(compensationConfig.validate10)]
                  | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate10)) }}
          </td>
          <td *ngIf="(compensationConfig.validate10 == 'PERSISTENCY') && (validationData[cv2FieldName(compensationConfig.validate10)] == 'N/A')">
            {{ validationData[cv2FieldName(compensationConfig.validate10)] }}
          </td>
          <td
            *ngIf="
              isComplete(
                compensationConfig.validateKpi10,
                validationData[cv2FieldName(compensationConfig.validate10)]
              )
            "
            style="width: 25%"
          >
            <i class="fas fa-check"></i>
          </td>
          <td
            *ngIf="
              !isComplete(
                compensationConfig.validateKpi10,
                validationData[cv2FieldName(compensationConfig.validate10)]
              )
            "
            style="width: 25%"
          >
            {{
              checkKPI(compensationConfig.validate10)
                ? isNumber(
                    isShow(
                      compensationConfig.validateKpi10,
                      validationData[
                        cv2FieldName(compensationConfig.validate10)
                      ]
                    )
                  )
                  ? (isShow(
                      compensationConfig.validateKpi10,
                      validationData[
                        cv2FieldName(compensationConfig.validate10)
                      ]
                    ) | number: "1.0-0")
                  : isShow(
                      compensationConfig.validateKpi10,
                      validationData[
                        cv2FieldName(compensationConfig.validate10)
                      ]
                    )
                : (isShow(
                    compensationConfig.validateKpi10,
                    validationData[cv2FieldName(compensationConfig.validate10)]
                  ) | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.validate10)) }}
          </td>
        </tr>
      </ng-container>
    </tbody>

    <tbody *ngIf="filterCompensation == 'โบนัสตัวแทนอาชีพ'">
      <ng-container *ngIf="compensationConfig">
        <tr
          *ngIf="careerPc"
          [ngClass]="highlight(compensationConfig.pc, careerPc)"
        >
          <td style="width: 25%" class="td-first">PC (Direct)</td>
          <td style="width: 25%">
            {{
              checkKPI(compensationConfig.pc)
                ? isNumber(compensationConfig.pc)
                  ? (compensationConfig.pc | number: "1.0-0")
                  : compensationConfig.pc
                : (compensationConfig.pc | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.pc)) }}
          </td>
          <td style="width: 25%">
            {{
              checkKPI(careerPc)
                ? isNumber(careerPc)
                  ? (careerPc | number: "1.0-0")
                  : careerPc
                : (careerPc | number: "1.2-2")
            }}{{ isPercent(checkKPI(careerPc)) }}
          </td>
          <td
            *ngIf="isComplete(compensationConfig.pc, careerPc)"
            style="width: 25%"
          >
            <i class="fas fa-check"></i>
          </td>
          <td
            *ngIf="!isComplete(compensationConfig.pc, careerPc)"
            style="width: 25%"
          >
            {{
              checkKPI(compensationConfig.pc)
                ? isNumber(isShow(compensationConfig.pc, careerPc))
                  ? (isShow(compensationConfig.pc, careerPc) | number: "1.0-0")
                  : isShow(compensationConfig.pc, careerPc)
                : (isShow(compensationConfig.pc, careerPc) | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.pc)) }}
          </td>
        </tr>
        <tr
          *ngIf="careerNoCase"
          [ngClass]="highlight(compensationConfig.noCase, careerNoCase)"
        >
          <td style="width: 25%" class="td-first">Case</td>
          <td style="width: 25%">
            {{
              checkKPI(compensationConfig.noCase)
                ? isNumber(compensationConfig.noCase)
                  ? (compensationConfig.noCase | number: "1.0-0")
                  : compensationConfig.noCase
                : (compensationConfig.noCase | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.noCase)) }}
          </td>
          <td style="width: 25%">
            {{
              checkKPI(careerNoCase)
                ? isNumber(careerNoCase)
                  ? (careerNoCase | number: "1.0-0")
                  : careerNoCase
                : (careerNoCase | number: "1.2-2")
            }}{{ isPercent(checkKPI(careerNoCase)) }}
          </td>
          <td
            *ngIf="isComplete(compensationConfig.noCase, careerNoCase)"
            style="width: 25%"
          >
            <i class="fas fa-check"></i>
          </td>
          <td
            *ngIf="!isComplete(compensationConfig.noCase, careerNoCase)"
            style="width: 25%"
          >
            {{
              checkKPI(compensationConfig.noCase)
                ? isNumber(isShow(compensationConfig.noCase, careerNoCase))
                  ? (isShow(compensationConfig.noCase, careerNoCase)
                    | number: "1.0-0")
                  : isShow(compensationConfig.noCase, careerNoCase)
                : (isShow(compensationConfig.noCase, careerNoCase)
                  | number: "1.2-2")
            }}{{ isPercent(checkKPI(compensationConfig.noCase)) }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <!-- <div
    *ngIf="!compensationConfig && compensationConfig.length < 1"
    class="text-center non-data"
  >
    N/A
  </div> -->
  <div *ngIf="remark" class="remark">
    <p>หมายเหตุ</p>
    <ng-container *ngFor="let remark of remark">
      <p>
        <li>{{ remark }}</li>
      </p>
    </ng-container>
  </div>
</div>
