<div  class="ddd-body">
  <div class="container">
    <div class="">
      <!-- justify-content-center -->
      <div class="col-sm-12 min-vh-100 d-flex flex-column justify-content-center">
        <div class="">
          <div class="col-lg-5 col-md-8 mx-auto">
            <!-- form card login -->
            <div class="card rounded custom-shadow p-lg-5 p-md-4">
              <div class="card-header">
                <img
                  src="assets/images/auth/img-auth.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
              <div class="card-body">
                <form
                  [formGroup]="loginForm"
                  role="form"
                  autocomplete="off"
                  id="formLogin"
                  novalidate=""
                >
                  <div class="form-group line-space">
                    <div class="input-group">
                      <div class="input-group-append">
                        <span class="input-group-text"
                          ><i class="fas fa-user-circle fa-1.5x pl-4"></i
                        ></span>
                      </div>
                      <input
                        type="text"
                        class="form-control form-control-lg rounded-0"
                        [ngClass]="{
                          'is-invalid':
                            username.invalid &&
                            (username.dirty || username.touched)
                        }"
                        required
                        placeholder="{{ 'login.label.uname' | translate }}"
                        formControlName="username"
                        id="uname"
                      />
                      <div
                        class="invalid-feedback"
                        [translate]="'login.label.uname.required'"
                      ></div>
                    </div>
                  </div>

                  <div class="form-group line-space">
                    <div class="input-group">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fas fa-key fa-1.5x pl-4"></i
                        ></span>
                      </div>
                      <input
                        type="password"
                        class="form-control form-control-lg rounded-0"
                        id="pwd"
                        required
                        placeholder="{{ 'login.label.secret' | translate }}"
                        formControlName="password"
                        [ngClass]="{
                          'is-invalid':
                            password.invalid &&
                            (password.dirty || password.touched)
                        }"
                      />
                      <div
                        class="invalid-feedback"
                        [translate]="'login.label.secret.required'"
                      ></div>
                    </div>
                  </div>

                  <button
                    type="button"
                    class="btn btn-lg btn-primary btn-block btn-log"
                    [translate]="'login.label.btn'"
                    (click)="login()"
                    [disabled]="loginForm.invalid || isLoginNow"
                  >
                    <span
                      class="spinner-border spinner-border-sm"
                      *ngIf="isLoginNow"
                      role="status"
                      aria-hidden="true"
                    ></span
                    >Login
                  </button>
                </form>

                <br />
                <div class="row text-center">
                  <div class="col-12">
                    <a href="{{forgetPasswordUrl}}"
                      ><span
                        class="custom-control-description medium text-master"
                        [translate]="'login.label.forget.password'"
                      ></span
                    ></a>
                  </div>
                
                  <div class="col-12">
                    <a href="{{registerUrl}}">
                      <span
                        class="custom-control-description medium text-master"
                        [translate]="'login.label.register'"
                      ></span>
                    </a>
                  </div>
                </div>
              </div>
              <!--/card-block-->
            </div>
            <!-- /form card login -->
          </div>
        </div>
        <!--/row-->
      </div>
      <!--/col-->
    </div>
    <!--/row-->
  </div>
<!--/container-->
</div>

