
#sticky-footer {
  display: none !important;
}
.top-space-w100{
  margin-top: 150px !important;
}
.line-space{
  padding: 10px 0px !important;
}

.ddd-body {
  position: absolute;
  z-index: 1000;
  min-width: 100%;
  background-image: url("/assets/images/home/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover;
}
.card-header {
  background: transparent;
  border: none;
  text-align: center;
}
.input-group-text {
  background-color: transparent;
  border-right:0 ;
  border-top-left-radius: 50px!important;
  border-bottom-left-radius: 50px!important;
  border-color:#CBDAEB;
}
.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
  border-top-right-radius: 50px!important;
  border-bottom-right-radius: 50px!important;
  border-left: 0;
  border-color:#CBDAEB ;
}
.btn-log {
  border-radius: 50px!important;
  background-color: #024A9F;
  border-color:#024A9F ;
}
i.fas {
  color:#024A9F ;
}
.custom-shadow {
  border: 0;
  box-shadow: 4px 4px 10px #CBDAEB;
}