<div>
  <div class="modal-header">
    <p class="h3 font-weight-bold">{{headerTypeConvert()}} {{memoOwner.agentCode}} {{memoOwner.agentName}}</p>
  </div>
  <div class="modal-body">
    <ul *ngFor="let item of memoDetail">
      <li class="mt-2">{{item.memoDesc}}</li>
    </ul>
    <p *ngIf="!memoDetail">ไม่พบข้อมูล</p>
  </div>
</div>