<ng-container *ngIf="status == 'success'">
  <h3 style="text-align: center;">
    <i class="far fa-check-circle fa-3x" style="color: #024b9f; margin-bottom: 24px"></i>
    <br>
    {{msgSuccess}}
    <br>
    <button type="button" class="btn btn-primary set-size-button" (click)="closeModal()"
      style="margin-top: 24px">OK</button>
  </h3>
</ng-container>
<ng-container *ngIf="status == 'fail'">
  <h3 style="text-align: center;">
    <i class="far fa-times-circle fa-3x" style="color: #f27474; margin-bottom: 24px;"></i>
    <br>
    {{msgFail}}
    <br>
    <button type="button" class="btn btn-primary set-size-button btn-block" (click)="closeModal()"
      style="margin-top: 24px">{{btnName}}</button>
  </h3>
</ng-container>