.table td, .table th {
  // border: 1.5px solid #dee2e6;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  vertical-align: middle;
}

.table {
  margin-bottom: 0rem;
}

.non-data {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  
}

.table tbody + tbody {
  border-top: 1px solid #dee2e6;
}

.column-0 {
  color: white;
  background-color: #0072C2
}
.column-1 {
  color: white;
  background-color: rgb(64,64,64)
}
.column-2 {
  color: white;
  background-color: rgb(18, 78, 63)
}
.targetPc-data {
  background-color: rgb(203, 243, 233)
}
.column-3, .column-4 {
  color: white;
  background-color: #D18b00;
}
.collectPc-data {
  background-color: rgb(255, 238, 204)
}

.table.table-hover tbody tr {
  background-color: rgb(224, 224, 224)
}
tr .table-bg-color-1 {
  background-color: white;
}

// .table.table-hover tbody tr:hover {
//   background-color: white;
// }

