<app-m-flipped></app-m-flipped>

<!-- AGENT -->
<div class="table-responsive m-table">
  <table *ngIf='data' class="table table-hover collect-table">
    <thead>
      <tr class="tr-primary">
        <ng-container *ngFor="let header of headers; let i=index">
          <th
            class="text-center"
            [class]="['column-'+i]"
          >
            {{header}}
          </th>
        </ng-container>
      </tr>
    </thead>
  
    <tbody *ngFor="let data of data; let i=index"> 
      <tr [style]="i == 0 ? 'background-color: white;' : ''">
        <ng-container>
          <td class="text-center data">{{ i+1 }}</td>
          <td class="text-center data">{{ convertClosYm(data.closYm) }} {{ convertYear(data.closYm) }}</td>
          <td class="text-center data">{{ data.targetPc | number: '1.0-0' }}</td>
          <td class="text-center data">{{ data.collectPc | number: '1.0-0'}}</td>
          <td class="text-center data">{{ data.plusPc | number: '1.0-0' }}</td>
        </ng-container>
      </tr>
    </tbody>
    <tfoot
      class="grey lighten-5">
      <tr class="text-center">
        
      </tr>
    </tfoot>
  </table>
  <div *ngIf="data && data.length <= 1" class="text-center non-data">N/A</div>
</div>
