
<h3 class="text-bold">รายงานความคืบหน้าผลผลิตของตัวแทนใหม่ในเดือนที่ 1-6 </h3>
   <!-- <span class="text-muted w-100 float-left"> (Active Retention 1-6 Month)</span></h3> -->
   <!-- Description -->
  <div class="row mt-4 justify-content-between">
    <div class="col-auto">
      <p class="font-weight-bold">
        (Active Retention 1-6 Month)
      </p>
    </div>
    <!-- Search Box -->
    <!-- <div *ngIf="currentLevel !='Zone'" class="col-auto justify-content-end mb-2">
      <div class="align-items-center">
        <form>
          <div class="input-group searchKeyword-group">
            <input type="text" [(ngModel)]='searchKeyword' name="searchKeyword" class="form-control search-key" placeholder="ค้นหาชื่อหรือรหัสตัวแทน">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div> -->
  </div>
   <app-m-flipped></app-m-flipped>
    <div class="table-responsive mt-3 m-table">
      <table class="table table-striped table-hover table-bordered rt-table">
        <!-- Header -->
        <thead>
        <tr>
          <th colspan="1" scope="colgroup" class="rt-head">CHNL</th>
          <th colspan="1" scope="colgroup" class="rt-head"> {{monthName[lastMonth]}} </th>
          <th colspan="1" scope="colgroup" class="rt-current-prim"> {{monthName[currentMonth]}} </th>
          <th colspan="1" scope="colgroup" class="rt-current">1st Month</th>
          <th colspan="1" scope="colgroup" class="rt-current">2nd Month</th>
          <th colspan="1" scope="colgroup" class="rt-current">3rd Month</th>
          <th colspan="1" scope="colgroup" class="rt-current">4th Month</th>
          <th colspan="1" scope="colgroup" class="rt-current">5th Month</th>
          <th colspan="1" scope="colgroup" class="rt-current">6th Month</th>
          <th colspan="1" scope="colgroup" class="rt-sum">MTD</th>
        </tr>
        </thead>
        <!-- Content -->
        <tbody *ngFor="let item of dataRetention | filterRetention : searchKeyword">
          <tr [attr.chName]="item.chName">
            <th scope="row" class="text-center rt-wh">{{item.chName}}</th>
            <td class="text-center rt-wh">{{item.lmRetention | number : '1.2-2'}}%</td>
            <td class="rt-current-prim"></td>
            <td class="rt-current-prim">{{item.rtMonth01 | number : '1.2-2'}}%</td>
            <td class="rt-current-prim">{{item.rtMonth02 | number : '1.2-2'}}%</td>
            <td class="rt-current-prim">{{item.rtMonth03 | number : '1.2-2'}}%</td>
            <td class="rt-current-prim">{{item.rtMonth04 | number : '1.2-2'}}%</td>
            <td class="rt-current-prim">{{item.rtMonth05 | number : '1.2-2'}}%</td>
            <td class="rt-current-prim">{{item.rtMonth06 | number : '1.2-2'}}%</td>
            <td class="rt-current-prim">{{item.cmRT | number : '1.2-2'}}%</td>
          </tr>
        </tbody>

      </table>
    </div>