.rt-table { font-size: 10px;text-align: center;border: 1px solid #f1f1f1;}
table.rt-head thead th ,.table-bordered thead th, .table-bordered thead td {
    vertical-align: bottom;
    border-bottom: 0!important;
}
th.rt-head {
    justify-content: center;
    background-color: #0570AA;
    color: #FFF;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
}
tbody {
    font-weight: 500;
}
th.rt-current {
    background-color:#0072C2;
    color: #FFF;
}
th.rt-current-prim {
    color: #0072C2;
    font-weight: bold;
}
th.rt-sum {
    background-color: #024A9F;
    color: #FFF;
}
th.rt-current-prim , td.rt-current-prim {
    background-color: #F0F5F8;
}
.rt-wh {background-color: #FFF;}
th ,tr ,td {border: 0;}
th.rt-head:first-child {
    border-right: 1px solid #FFF;
}
tr[chname="GA"] td , tr[chname="GA"] th, 
tr[chname="SFC"] td ,tr[chname="SFC"] th {
 background-color: #0072C2;
 color: white!important;
}
tr[chname="COMPANY"] td ,tr[chname="COMPANY"] th{
    background-color: #024A9F;
    color: white!important;
}