<section id="insurance-filter-doc">
  <div class="container">
    <!-- Title -->
    <div class="row justify-content-start">
      <div class="col-auto justify-content-start">
        <p class="h3 font-weight-bold" [translate]="'navbar.webAgent.report'">
        </p>
      </div>
    </div>

    <!-- Filter Box -->
    <div class="card secondary-shadow">
      <div class="card-body row">
        <div class="col col-md-2 col-12 input-slot-margin">
          <label [translate]="'web.agent.closYm'"></label>
          <select id="closYmSelected" class="form-control form-control-lg" 
            [(ngModel)]="filterReportForm.closYm"
          >
            <ng-container *ngFor="let item of closYm ">
              <option value="{{item.code}}">{{item.desc}}</option>
            </ng-container>
          </select>
        </div>
        <div class="col col-md-7 col-12 input-slot-margin">
          <label [translate]="'web.agent.reportType'"></label>
          <select id="reportTypeSelected" class="form-control form-control-lg"
            [(ngModel)]="filterReportForm.reportCode"
          >
            <ng-container *ngFor="let item of typeList">
              <option value="{{item.code}}">{{item.reportName}}</option>
            </ng-container>
          </select>
        </div>
        <div class="col col-md-3 col-12 input-slot-margin">
          <label [translate]="'web.agent.agentCode'"></label>
          <input id="agentCode" type="text" class="form-control form-control-lg"
            [(ngModel)]="filterReportForm.filterAgentCode" />
        </div>
        <div class="col col-12 mt-2 text-center">
          <button type="button" class="btn btn-lg btn-primary btn-block" 
            [translate]="'web.agent.btn-search'"
            (click)="onSearchReport()"></button>
        </div>
      </div>
    </div>

  </div>
</section>