<div id="persistency-summary">
  <div class="table-responsive">
    <table *ngIf="data.targetPc" class="table mb-0">
      <!-- Filter Summary -->
      <ng-container *ngIf="filterType == 'Pers ปัจจุบัน'">
        <tr class="summary">
          <td
            rowspan="2"
            class="text-center per"
            [ngClass]="['per-' + filterPersistency]"
          >
            Per{{ filterPersistency }} <br />
            {{ convertClosYm(closYm) }} {{ convertYear(closYm) }}
          </td>
          <!-- <td rowspan="2" class="text-center percent">{{ ((data.collectPc + data.plusPc) / data.targetPc)*100 }}</td> -->
          <td rowspan="2" class="text-center percent">
            {{ prstRte | number: "1.2-2" }}%
          </td>
          <td class="text-center total targetPc">PC เริ่มต้น</td>
          <td class="text-center total collectPc">PC ที่เก็บได้</td>
          <td class="text-center total collectPc">PC ที่ต่ออายุ</td>
        </tr>
        <tr>
          <td class="text-center total targetPc-data">
            {{ data.targetPc | number: "1.0-0" }}
          </td>
          <td class="text-center total collectPc-data">
            {{ data.collectPc | number: "1.0-0" }}
          </td>
          <td class="text-center total collectPc-data">
            {{ data.plusPc | number: "1.0-0" }}
          </td>
        </tr>
      </ng-container>

      <!-- Filter To Collect -->
      <ng-container *ngIf="filterType == 'ที่ต้องเก็บ'">
        <tr class="to-collect">
          <td
            rowspan="2"
            class="text-center per"
            [ngClass]="['per-' + filterPersistency]"
          >
            ประมาณการ Per{{ filterPersistency }} <br />
            {{ convertClosYm(closYm) }} {{ convertYear(closYm) }}
          </td>
          <!-- <td rowspan="2" class="text-center percent">{{ ((data.collectPc + data.plusPc) / data.targetPc)*100 }}</td> -->
          <td
            rowspan="2"
            class="text-center percent"
            [ngClass]="countCheckCal > 0 ? 'text--color--red' : ''"
          >
            {{ prstRte  | maxPersist | number: "1.2-2"  }}%
          </td>
          <td class="text-center total targetPc">PC เริ่มต้น</td>
          <td class="text-center total collectPc">
            PC ที่เก็บได้ +<br />PC ที่ต่ออายุ
          </td>
        </tr>
        <tr>
          <td class="text-center total targetPc-data">
            {{ data.targetPc | number: "1.0-0" }}
          </td>
          <td
            class="text-center total collectPc-data"
            [ngClass]="countCheckCal > 0 ? 'text--color--red' : ''"
          >
            {{ data.collectPc + data.plusPc | number: "1.0-0" }}
          </td>
        </tr>
      </ng-container>
    </table>

    <table *ngIf="!data.targetPc" class="table mb-0">
      <tr>
        <td
          rowspan="2"
          class="text-center per"
          [ngClass]="['per-' + filterPersistency]"
        >
          Per{{ filterPersistency }} <br />
          N/A
        </td>
        <!-- <td rowspan="2" class="text-center percent">{{ ((data.collectPc + data.plusPc) / data.targetPc)*100 }}</td> -->
        <td rowspan="2" class="text-center percent">N/A</td>
        <td class="text-center total targetPc">PC เริ่มต้น</td>
        <td class="text-center total collectPc">
          PC ที่เก็บได้ +<br />PC ที่ต่ออายุ
        </td>
      </tr>
      <tr>
        <td class="text-center total targetPc-data">N/A</td>
        <td class="text-center total collectPc-data">N/A</td>
      </tr>
    </table>
  </div>

  <blockquote class="blockquote mb-0 pt-0 border rounded-bottom">
    <footer class="blockquote-footer text-center">
      <cite title="Remark" class="persis-remark"
        >"นี่เป็นเพียงการประมาณการเท่านั้น
        โดยตัวเลขที่ปรากฎยังไม่ใช่ตัวเลขที่เอามาคำนวณผลประโยชน์
        ทั้งนี้ตัวเลขประมาณอยู่ในสมมุติฐาน ที่ว่า PC ที่เก็บได้ หรือ PC
        ที่ต่ออายุ นั้นไม่ได้มีการเปลี่ยนในกรมธรรม์ / การชำระเบี้ย /
        อนุสัญญาไม่ได้มีการเปลี่ยนแปลง และ สามารถเก็บ ปี 2 งวด 1
        ได้ครบถ้วน"</cite
      >
    </footer>
  </blockquote>
</div>
