.summary td {
  width: 20%;
}

.to-collect td {
  width: 25%;
}

.table td {
  border: 1.5px solid #dee2e6;
  vertical-align: middle;
}

.text--color--red {
  color: red !important;
}
.per-13 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  background-color:#0072C2;
}

.per-25 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  background-color: #D18b00;
}

.targetPc {
  color: white;
  background-color: rgb(18, 78, 63)
}
.targetPc-data {
  background-color: rgb(203, 243, 233)
}
.collectPc {
  color: white;
  background-color: #D18b00;
}
.collectPc-data {
  background-color: rgb(255, 238, 204)
}

.percent {
  font-size: 18px;
  font-weight: 500;
}

.total {
  font-size: 16px;
  font-weight: 500;
}


.persis-remark {
  font-size:  0.3rem;
  font-style: normal;
  text-align: center  !important;
}
.blockquote-footer::before {
  content: none !important;
}


@media (min-width: 544px) {  
  .persis-remark {
    font-size: 0.4rem;
  }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .persis-remark {
    font-size: 0.5rem;
  }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .persis-remark {
    font-size: 0.7rem;
  }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .persis-remark {
    font-size: 0.9rem;
  }
}
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
@media (min-width: 950px) and (max-width:1100px) { 
  .persis-remark {
    font-size: 0.7rem;
  }
}