<section id="event-filter">
  <ngx-spinner bdColor='rgba(0, 0, 0, 0.8)' size="medium" color="#024ea1" type="cube-transition" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  
  <div class="container">
    <!-- Filter Box -->
    <div class="card secondary-shadow">
      <div class="card-body ">
        <div class="row"> 
        <div class="col col-md-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.eventType'"></label>
          <select id="eventTypeSelected" class="form-control form-control-lg" 
            [(ngModel)]="filterEventForm.type"
            (change)="onOptionsSelected()"
          >
            <ng-container *ngFor="let item of eventTypeList">
              <option [ngValue]="item['activityType']"
              >{{item['typeNameThai']}}</option>
            </ng-container>
          </select>
        </div>
        <div class="col col-md-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.eventProvince'"></label>
          <select id="eventProvinceSelected" class="form-control form-control-lg" 
            [(ngModel)]="filterEventForm.province"
          >
            <ng-container *ngFor="let item of provinceList">
              <option [ngValue]="item['provinceCd']">{{item['provinceName']}}</option>
            </ng-container>
          </select>
        </div>
      </div>
     
        <div class="row justify-content-md-center">
          <div class="col  mt-2 text-center">
            <button type="button" class="btn btn-lg btn-primary btn-block" [translate]="'web.agent.btn-search'"
              (click)="onSearchEventList()"></button>
          </div>
          <div class="col  mt-2 text-center" [hidden]="!isAccess">
            <button type="button" class="btn btn-lg btn-success btn-block" [translate]="'web.agent.btn-activity'"
              (click)="onAddNewEvent(filterEventForm.type)"></button>
          </div>
          <div class="col  mt-2 text-center" [hidden]="!isAccess">
            <button type="button" class="btn btn-lg btn-upload btn-block" [translate]="'web.agent.btn-upload-activity'"
              (click)="onUploadEvent(filterEventForm.type)"></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>