.form-border {
  padding: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  background-color: white;
}

.input-slot-margin {
  margin-bottom: 8px;
}

label {
  margin-bottom: 0px;
}

.card {
  border: 0!important;
}

.btn-upload{
  color: white;
  background-color: green;
}