<div class="container-fuild">

  <ngx-spinner bdColor = 'rgba(0, 0, 0, 0.8)' size = "medium" color = "#024ea1" type = "cube-transition" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  <div class="bg-base">
    <div class="container head-area py-5 px-lg-0">

      <!-- Agent's Detail -->
      <div class="row justify-content-between">
        <div class="col-auto">
          <p class=" h2 font-weight-bold">{{displayLvName}} {{titleCode}}
            <small class="content-desktop h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{agentName}} {{prstRte}}
            </small>
            <small class="content-mobile h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{agentName}} <br> {{prstRte}}
            </small>
          </p>
        </div>

        <div class="col-auto d-flex justify-content-end align-items-center">
          <button class="btn btn-primary btn-round" (click)="goToHome()"> <i class="fa fa-chevron-left"></i> HOME</button>
        </div>
      </div>
      <!-- Promotion Filter -->
      <app-promotion-filter
        [listFilterPromotion]="listFilterPromotion"
        [filterPromotion]="filterPromotion"
        (changeFilterPromotion)="handleFilterPromotion($event)"
      >
      </app-promotion-filter>
    </div>
  </div>

  <ng-template #content >
     <!--<div style="align-items: flex-end;" class="mt-4 mr-4">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button> 
    </div>-->
    <div class="">
      <app-promotion-detail
      [dataDetail]="dataDetail"
      [headerDetail]="headerDetail"
      [data]="data"
      [agentLevel]="agentLevel"
      [filterPromotion]="filterPromotion"
      [hilight]="hilight"
      >
      </app-promotion-detail>
    </div>
  </ng-template>

</div>

<div class="container-fluid pb-5">
  <div class="container">
      <div class="col-auto">
      </div>
      <div class="row mt-4"></div>
      <div class="row pb-5 mb-5">
        <div style="width: 100%;">
          <div class="cols-* col-md-12 justify-content-center p-0">
            <div class="cols-* col-md-12 justify-content-center p-0">
              <app-promotion-list
                [filterPromotion]="filterPromotion"
                [headers]="headersList"
                [dataList]="dataList"
                (onClickDetail)="handleQueryDetail(content,$event)"
              >
              </app-promotion-list>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
