@import "../../../../variable.scss";

.bg-base {
    background-color:$base-color ;
}
.head-area {
    height: auto;
}
.scroll-row {
     overflow-x: scroll;
     width: 100%;
     display: inline-flex;
}
.card-header-cs {
    padding: 1.25rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

::ng-deep .xxl .modal-dialog { 
  max-width: 95%;
  width: 95%;
}

.content-desktop {
    display: block;
  }
  .content-mobile {
    display: none;
  }
  
  @media only screen and (max-width: 767px) {
    .content-desktop {
      display: none;
    }
    .content-mobile {
      display: block;
    }
  }

@media (max-width: 768px){
    ::ng-deep .my-class .modal-dialog { 
        max-width: 100%;
    }
} 

@media (min-width: 769px) and (max-width: 1200px){
    ::ng-deep .my-class .modal-dialog { 
        max-width: 80%;
        width: 80%;
    }
} 

@media (min-width: 1201px){
    ::ng-deep .my-class .modal-dialog { 
        max-width: 80%;
        width: 80%;
    }
}

.modal-overflow{
    max-height: calc(100vh - 200px);
    //max-width: calc(136vw - 200px);
    overflow-y: scroll;
    overflow-x: hidden ;
}