<div class="container-fuild pb-5">
  <ngx-spinner bdColor='rgba(0, 0, 0, 0.8)' size="medium" color="#024ea1" type="cube-transition" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

  <!-- Agent's Detail and Filter Box -->
  <div class="container py-5">
    <ng-container *ngIf="!showSearchBox">
      <app-filter-e-doc (searchData)="handlerSearch($event)"></app-filter-e-doc>
    </ng-container>
    <ng-container *ngIf="showSearchBox">
      <app-description-e-doc
        [edocData]="edocData"
        [edocType]="edocType"
        [checkShowType]="checkShowType"
        (isCheckType)="handlerCheckShowType($event)"
      ></app-description-e-doc>
    </ng-container>
  </div>

</div>