
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$b3-dashboard-primary: mat-palette($mat-indigo);
$b3-dashboard-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$b3-dashboard-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$b3-dashboard-theme: mat-light-theme($b3-dashboard-primary, $b3-dashboard-accent, $b3-dashboard-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($b3-dashboard-theme);

/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/scss/bootstrap";
//  use min instanding
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ng2-slim-loading-bar/style.css";
@import "variable.scss";



#page-content {
  flex: 1 0 auto;
  min-height: 100%;
}
.text-bold { font-weight: bold!important;}
.Card-filter { background-color: white;}
.primary-shadow {box-shadow: 1px 2px 3px #ccc;}
.secondary-shadow {box-shadow: 2px 3px 6px rgba(101, 101, 101, 0.1);}

html, body, app-root {
  height: 100%;
  margin: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-master {color: #024a9f!important;}
.fa-user-circle:before {
  color: #024EA1!important;
}
.navbar { border-top: 5px solid #024ea1!important;}
.bg-light-gray {background-color: #F6F7F8;}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
}
.text-muted {font-weight: 300!important; font-size: 14px!important;}
.btn-primary { background-color: $primary-color!important;}
.btn-round { border-radius: 25px!important;}
input.search-key {
  border: 0!important;
  padding: 0 0 0 13px;
  border-radius: 18px;
  color: #707980;
  margin-left: 5px;
}
input.search-key::placeholder{font-size: 14px!important;}
.fa-search:before {
  color: #707980;
}
button[type="submit"] {
  margin-right: 5px;
}
.searchKeyword-group { border: 1px solid #707980!important; border-radius: 18px!important;}
.btn-outline-year {
  background-color: #024b9f!important;
  color: white!important;
  vertical-align: middle;
}
.btn-outline-year:hover {
  border:1px solid #024b9f!important;
  background-color: White!important;
  color: #024b9f!important;
  // background-color: #024b9f!important;
  // color: white!important;
}
.card.card-kpi {
  border: 0;
  box-shadow: 2px 3px 6px rgba(101, 101, 101, 0.1);
}
@media only screen and (max-width: 768px){
  .m-table th, .m-table td , .m-table tr,
  .m-table th button, .m-table td button , .m-table tr button{
    padding: 5px 1px 5px 0px !important;
    vertical-align: middle!important;
    font-size: 8px!important;
  }
  .table  , .tr-primary, .tr-secoundary , .table ,tr ,td , th  {
    font-size: 8px!important;
  }
}
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
  .kpi-yrs td, 
  .kpi-yrs tbody tr th:first-child, .kpi-yrs tbody tr td:last-child {
    min-width: 43px!important;
    max-width: 43px!important;
  }
  .kpi-yrs th, .kpi-yrs td {
    padding: 0.25rem!important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    vertical-align: middle!important;
  }
  .m-table th, .m-table td , .m-table tr,
  .m-table th button, .m-table td button , .m-table tr button{
    padding: 5px 1px 5px 0px !important;
    vertical-align: middle!important;
    font-size: 9px!important;
  }
  .table  , .tr-primary, .tr-secoundary , .table ,tr ,td , th  {
    font-size: 9px!important;
  }
}
@media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 896px) 
    and (-webkit-device-pixel-ratio: 2)
    and (orientation: landscape) {
    .kpi-yrs td, 
    .kpi-yrs tbody tr th:first-child, .kpi-yrs tbody tr td:last-child {
      min-width: 43px!important;
      max-width: 43px!important;
    }
    .kpi-yrs th, .kpi-yrs td {
      padding: 0.25rem!important;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
      vertical-align: middle!important;
    }
    .m-table th, .m-table td , .m-table tr,
    .m-table th button, .m-table td button , .m-table tr button{
      padding: 5px 1px 5px 0px !important;
      vertical-align: middle!important;
      font-size: 9px!important;
    }
    .table  , .tr-primary, .tr-secoundary , .table ,tr ,td , th  {
      font-size: 9px!important;
    }
}

/* 2688x1242px at 458ppi */
@media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 896px) 
    and (-webkit-device-pixel-ratio: 3) 
    and (orientation: landscape) {
    .kpi-yrs td, 
    .kpi-yrs tbody tr th:first-child, .kpi-yrs tbody tr td:last-child {
      min-width: 43px!important;
      max-width: 43px!important;
    }
    .kpi-yrs th, .kpi-yrs td {
      padding: 0.25rem!important;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
      vertical-align: middle!important;
    }
    .m-table th, .m-table td , .m-table tr,
    .m-table th button, .m-table td button , .m-table tr button{
      padding: 5px 1px 5px 0px !important;
      vertical-align: middle!important;
      font-size: 9px!important;
    }
    .table  , .tr-primary, .tr-secoundary , .table ,tr ,td , th  {
      font-size: 9px!important;
    }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .kpi-yrs td, 
    .kpi-yrs tbody tr th:first-child, .kpi-yrs tbody tr td:last-child {
      min-width: 43px!important;
      max-width: 43px!important;
    }
    .kpi-yrs th, .kpi-yrs td {
      padding: 0.25rem!important;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
      vertical-align: middle!important;
    }
    .m-table th, .m-table td , .m-table tr,
    .m-table th button, .m-table td button , .m-table tr button{
      padding: 5px 1px 5px 0px !important;
      vertical-align: middle!important;
      font-size: 9px!important;
    }
    .table  , .tr-primary, .tr-secoundary , .table ,tr ,td , th  {
      font-size: 9px!important;
    }
}
// @media only screen and (min-width: 576px){
//   .container-sm, .container {
//       max-width: 675px!important;
//   }
// }
// @media only screen and (min-width: 768px){
//   .container-md, .container-sm, .container {
//       max-width: 865px!important;
//   }
// }
// @media only screen and (min-width: 992px){
//   .container, .container-lg, .container-md, .container-sm {
//       max-width: 975px!important;
//   }
// }
// @media only screen and (min-width: 1200px){
//   .container-xl, .container-lg, .container-md, .container-sm, .container {
//      max-width: 1175px!important;
//   }
// }
