$primary-color:#024EA1; 
$base-color:#F6F7F8;

$bg-ytd-btn: #fcd886;

.bg-primary-tsli{
  background-color:#0e89d0;
}
.font-color-primary-tsli{
  color: #0e89d0;
}
.btn-custom-width {
  min-width: 128px;
}
.bg-legend-cur-year {
  background-color: rgba(2,77,161,1);
}
.bg-legend-last-year {
  background-color: rgba(254,200,78,1);
}
.dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
}
.bg-base {
  background-color:$base-color ;
}