<section id="validateDetailTable">
  <div>
    <table mdbTable id="promotion-table" class="table table-hover promotion-table">
      <!-- TABLE HEADER -->
      <tr class="tr-primary table-color">
        <th class="text-left" colspan="12" scope="colgroup">
          <span>รายการละเอียดกรมธรรม์</span>
        </th>
      </tr>
    
      <!-- TABLE CONTENT -->
      <tr>
        <td class="table-topic-color" scope="col" [translate]="'web.agent.ins.forms.insCode'"></td>
        <td>{{ insuranceInfo.policyCode }}</td>
        <td class="text-left table-topic-color" scope="col" [translate]="'web.agent.ins.forms.insDesc'"></td>
        <td>{{ insuranceInfo.productName }}</td>
      </tr>
      <tr>
        <td class="text-left table-topic-color" scope="col" [translate]="'web.agent.ins.forms.status'"></td>
        <td>{{ insuranceInfo.policyStatus }}</td>
        <td class="text-left table-topic-color" scope="col" [translate]="'web.agent.ins.forms.cusName'"></td>
        <td>{{ insuranceInfo.payerName }}</td>
      </tr>
      <tr>
        <td class="text-left table-topic-color" scope="col" [translate]="'web.agent.ins.forms.tel'"></td>
        <td>{{ insuranceInfo.insuredHomeTel1 }}</td>
        <td class="text-left table-topic-color" scope="col" [translate]="'web.agent.ins.forms.telMobile'"></td>
        <td>{{ insuranceInfo.cpayInsuredMobile }}</td>
      </tr>

      <tr>
        <td class="text-left table-topic-color" scope="col" colspan="1" [translate]="'web.agent.ins.forms.address'"></td>
        <td colspan="3">
          {{ insuranceInfo.insAddrcontactNo }}
          {{ insuranceInfo.insAddrcontactMoobanBuild }}
          {{ insuranceInfo.insAddrcontactMoo }}
          {{ insuranceInfo.insAddrcontactSoi }}
          {{ insuranceInfo.insAddrcontactRoad }}
          {{ insuranceInfo.insAddrcontactSub }}
          {{ insuranceInfo.insAddrcontactDistrict }}
          {{ insuranceInfo.insAddrcontactProvince }}
          {{ insuranceInfo.insAddrcontactZipcode }}
        </td>
      </tr>
      <tr>
        <td class="text-left table-topic-color" scope="col" colspan="1" [translate]="'web.agent.ins.forms.email'"></td>
        <td colspan="3">{{ insuranceInfo.email }}</td>
      </tr>

      <tr>
        <td class="text-left table-topic-color" scope="col" [translate]="'web.agent.ins.forms.budget'"></td>
        <td>{{ insuranceInfo.sumInsured | number : '1.0-0'}}</td>
        <td class="text-left table-topic-color" scope="col" [translate]="'web.agent.ins.forms.premium'"></td>
        <td>{{ insuranceInfo.totalPremium | number : '1.0-0' }}</td>
      </tr>
      <tr>
        <td class="text-left table-topic-color" scope="col" [translate]="'web.agent.ins.forms.paymentType'"></td>
        <td>{{ insuranceInfo.paymentMethod }}</td>
        <td class="text-left table-topic-color" scope="col" [translate]="'web.agent.ins.forms.paymentPeriod'"></td>
        <td>{{ insuranceInfo.frequencyPayment }}</td>
      </tr>
      <tr>
        <td class="text-left table-topic-color" scope="col" [translate]="'web.agent.ins.forms.startDate'"></td>
        <td>{{ insuranceInfo.validateDate }}</td>
        <td class="text-left table-topic-color" scope="col" [translate]="'web.agent.ins.forms.expireDate'"></td>
        <td>{{ insuranceInfo.expiryDate }}</td>
      </tr>

      <tr>
        <td class="text-left table-topic-color" scope="col" colspan="1" [translate]="'web.agent.ins.forms.vatNote'"></td>
        <td colspan="3">{{ insuranceInfo.taxCeritificateIndi }}</td>
      </tr>
      <tr>
        <td class="text-left table-topic-color" scope="col" [translate]="'web.agent.ins.forms.insSentDate'"></td>
        <td>{{ insuranceInfo.dispatchDate }}</td>
        <td class="text-left table-topic-color" scope="col" [translate]="'web.agent.ins.forms.regisCode'"></td>
        <td>{{ insuranceInfo.dispatchRefNo  }}</td>
      </tr>
    </table>
  </div>
</section>