      <div class="m-table">
      <table *ngIf="table.data" class="table table-hover" id="agentList">
        <!-- ## HEADER ## -->
        <!-- LEVEL -->
    
          <tr>
            <th *ngFor="let header of table.agentLevelHeaders"
              rowspan="2" 
              scope="colgroup" 
              class="table-header-kpi-text table-bg-header-level table-border kpi-sortable"
              [ngClass]="{ highlight: header.name === filterHeader }" (click)="setFilterHeader(header.name)"
              [mdbTableSort]="table.data"  
              [sortBy]="header.fieldName">
              {{header.name}} <mdb-icon fas icon="sort"></mdb-icon>
            </th>
            <th *ngIf="checkIFShow('VIEW')" rowspan="2" class="table-header-kpi-text table-bg-header-level table-border"></th>
            <th [attr.colspan]="table.subHeaders.length +1" scope="colgroup" class="{{'table-header-kpi-text table-border-bottom '+table.headerStyleClass}}">{{filterKpiType}}</th>
          </tr>
          <tr>
            <th *ngFor="let subHeader of table.subHeaders"
              scope="col"
              [ngClass]="{ highlight: subHeader.name === filterHeader }" (click)="setFilterHeader(subHeader.name)"
              [mdbTableSort]="table.data"
              [sortBy]="subHeader.fieldName"
              class="{{'table-header-kpi-text table-border kpi-sortable '+table.subHeaderStyleClass}}" 
              [attr.style]="table.subHeaders.length +1 > 3 ? 'width: 10%' : 'width: 15%'">
              {{subHeader.name}} <mdb-icon fas icon="sort"></mdb-icon>
            </th>
            <!-- <th scope="col" class="{{'table-header-kpi-text '+table.subHeaderStyleClass}}" style="width: 20%">% Approve</th> -->
          </tr>
        <!-- ## CONTENT ## -->
        <ng-container *ngFor="let item of table.data">
          <tr *ngIf="table.data.length > 0" class="text-center">
            <th *ngIf="checkIFShow('GM')" 
              scope="row" class="table-bg-content-level table-border">
              {{item | displayAgentCode : filterAgentLevel : 'GM' : filterGroupType}}
              <br>
              <button class="btn btn-link"
                [class.disabled]="checkGroupShow()"
                (click)="selectAgent(item,'GM')"
                style="text-decoration: underline; padding: 0px; margin-left: 0px;">
                {{item | displayAgentName : filterAgentLevel : 'GM' : filterGroupType}}
              </button>
            </th>
            <th *ngIf="checkIFShow('AVP')" 
              scope="row" class="table-bg-content-level table-border">
              {{item | displayAgentCode : filterAgentLevel : 'AVP' : filterGroupType}}
              <br>
              <button class="btn btn-link"
                [class.disabled]="checkGroupShow()"
                (click)="selectAgent(item,'AVP')"
                style="text-decoration: underline; padding: 0px; margin-left: 0px;">
                {{item | displayAgentName : filterAgentLevel : 'AVP' : filterGroupType}}
              </button>
            </th>
            <th *ngIf="checkIFShow('AL')" 
              scope="row" class="table-bg-content-level table-border">
              {{item | displayAgentCode : filterAgentLevel : 'AL' : filterGroupType}}
              <br>
              <button class="btn btn-link" 
                [class.disabled]="checkGroupShow()"
                (click)="selectAgent(item,'AL')"
                style="text-decoration: underline; padding: 0px; margin-left: 0px;">
                {{item | displayAgentName : filterAgentLevel : 'AL' : filterGroupType}}
              </button>
            </th>
            <th *ngIf="checkIFShow('AG')" 
              scope="row" class="table-bg-content-level table-border">
              {{item | displayAgentCode : filterAgentLevel : 'AG' : filterGroupType}}
              <br>
              <button class="btn btn-link" 
                [class.disabled]="checkGroupShow()"
                (click)="selectAgent(item,'AG')"
                style="text-decoration: underline; padding: 0px; margin-left: 0px;">
                {{item | displayAgentName : filterAgentLevel : 'AG' : filterGroupType}}
              </button>
            </th>
            <td *ngIf="checkIFShow('VIEW')" class="table-bg-content-level table-border text-center">
              <button 
                *ngIf="!checkGroupShow()"
                class="btn btn-link" 
                (click)="selectTeam(item)"
                style="text-decoration: underline; margin: auto; text-align: center;">
                <i class="fa fa-users mx-2"></i> View Team
              </button>
            </td>
            <ng-container *ngIf="item.prstRte >= 0">
              <td class="table-content-value table-bg-content-pc" *ngIf="filterKpiType == 'RYP'">{{getPers(item) | number : '1.2-2'}}%</td>
            </ng-container>
            <ng-container *ngIf="item.prstRte < 0">
              <td class="table-content-value table-bg-content-pc" *ngIf="filterKpiType == 'RYP'">N/A</td>
            </ng-container>
            <td class="table-content-value table-bg-content-pc">{{getTargetVal(item) | number : '1.0-0'}}</td>
            <td *ngIf="filterKpiType == 'PC'" class="table-content-value table-bg-content-pc">{{getSubmitVal(item) | number : '1.0-0'}}</td>
            <td class="table-content-value table-bg-content-pc">{{getApproveVal(item) | number : '1.0-0'}}</td>
            <td class="table-content-value table-bg-content-pc">{{getPercentVal(item) | number : '1.2-2'}}%</td>
          </tr>
        </ng-container>
        <tr *ngIf="!table.data || table.data.length == 0" class="justify-content-center">
            <th [attr.colspan]="table.subHeaders.length +table.agentLevelHeaders.length +1" scope="colgroup" class="'table-header-kpi-text table-border-bottom '" style="text-align: center;">ไม่พบรายชื่อตัวแทน</th>
        </tr>        
      </table>
</div>