.table-header-kpi-text{
  text-align:center;
  font-weight: 500;
  color: #FFFFFF;
  vertical-align: middle;
}
.kpi-sortable{
  cursor: pointer;
}
.table-content-text{
  text-align:center;
  font-weight: 500;
  color: #424242;
}
.table-content-value{
  text-align:right;
  font-weight: 500;
  color: #424242;
}
.table-border {
  border-right-style: 0;
  border-right-width: thin;
  border-right-color: white;
}
.table-border-bottom {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: white;
}
.table-bg-header-level{
  background-color:#0e89d0;
}
.table-bg-content-level{
  background-color:white
}
.table-bg-header-pc{
  background-color:#1d5e22;
}
.table-bg-content-pc{
  background-color:#f2faf3
}
.table-bg-header-act{
  background-color:#b71e20;
}
.table-bg-content-act{
  background-color:#fef4f6
}
.table-bg-header-nc{
  background-color:#d18b00;
}
.table-bg-content-nc{
  background-color:#fffbef;
}
.table-bg-header-ryp{
  background-color:#691f9b;
}
.table-bg-content-ryp{
  background-color:#fcf7fb
}
.table-bg-subheader-pc{
  background-color:#1d5e22;
  border-top-color: #1d5e22;
}
.table-bg-subheader-act{
  background-color:#b71e20;
  border-top-color:#b71e20;
}
.table-bg-subheader-ryp{
  background-color:#691f9b;
  border-top-color:#691f9b;
}
.table-bg-subheader-nc{
  background-color:#d18b00;
  border-top-color:#d18b00;
}

.highlight {
  color: lightgray !important;
}