

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!
        </h1>
        <h2>
          404 Not Found
        </h2>
        <div class="error-details">
          Sorry, an error has occured, Requested page not found!
        </div>
        <div class="error-actions">
          <button
            type="button"
            (click)="gotoHome()"
            class="btn btn-outline-primary btn-lg"
            ><i class="fas fa-home"></i> Take Me Home</button
          ><a
            routerLink="#"
            routerLinkActive="active"
            class="btn btn-outline-secondary btn-lg"
            ><i class="fas fa-envelope-open-text"></i> Contact Support
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
