<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <img class="tsli-brand" width="256" src="assets/tsli-logo.png" alt="Logo" />
    </div>
  </div>

  <div class="row justify-content-start mt-4">
    <div class="col col-12">
      <span class="h4 text-primary font-weight-bold" [translate]="'web.agent.eDoc.desc.topicIntro'"></span>
      <span class="h4 text-primary font-weight-bold"> {{customerName}}</span>
      
      <hr>

      <p [translate]="'web.agent.eDoc.welcome'"></p>
      <span [translate]="'web.agent.eDoc.desc.note1'"></span>
      <br>
      <span [translate]="'web.agent.eDoc.desc.note2'"></span>

      <br>

      <p class="h6 text-primary font-weight-bold" [translate]="'web.agent.eDoc.desc.topicDocType'"></p>
      <div class="form-check my-4 ml-4" *ngFor="let item of edocType; let i = index">
        <input class="form-check-input" type="checkbox" checked [(ngModel)]="checkShowType[i]" (change)="onCheckShowType()" >
        <label class="form-check-label"  [translate]="item['templateNameTh']"></label>
      </div>
      <p [translate]="'web.agent.eDoc.desc.remark'"></p>

      <hr>
    </div>
    <div class="col col-12">
    
      <ng-container *ngFor="let item of edocData;">
        <div class="row">
          <div class="col col-12">
            <table mdbTable id="eDoc-table" class="table table-hover">
              <!-- <tr class="tr-primary table-color">
                <th class="text-left" colspan="12" scope="colgroup">
                  <span>เอกสารลำดับที่ {{i + 1}}</span>
                </th>
              </tr> -->
              <tr>
                <td class="table-topic-color" scope="col" [translate]="'web.agent.eDoc.desc.publishDate'"></td>
                <td>{{item['documentDate'] | date : 'd/MM/yyyy'}}</td>
              </tr>
              <tr>
                <td class="table-topic-color" scope="col" [translate]="'web.agent.eDoc.desc.docType'"></td>
                <!-- exportFilePath -->
                <td class="text-primary click-text">
                  <a href="JavaScript:void(0);" (click)="onDownloadFile(item.policyCode, item.exportFilePath)">
                    {{item.templateNameTh}} / ดาวน์โหลดเอกสาร(คลิก)
                  </a>
                </td>
              </tr>
              <tr>
                <td class="table-topic-color" scope="col" [translate]="'web.agent.eDoc.desc.insuranceCode'"></td>
                <td>{{item['policyCode']}}</td>
              </tr>
              <tr>
                <td class="table-topic-color" scope="col" [translate]="'web.agent.eDoc.desc.customerName'"></td>
                <td>{{item['insuredName']}}</td>
              </tr>
              <tr>
                <td class="table-topic-color" scope="col" [translate]="'web.agent.eDoc.desc.detail'"></td>
                <td>{{item['productName']}}</td>
              </tr>
              <tr>
                <td class="table-topic-color" scope="col" [translate]="'web.agent.eDoc.desc.activeDate'"></td>
                <td>{{item['effDate'] | date : 'd/MM/yyyy'}}</td>
              </tr>
            </table>
            <hr>
          </div>
        </div>
      </ng-container>
    </div>
    
  </div>
</div>