@import "../../../../../variable.scss";

.tr-primary , .tr-secoundary {
  // font-size: 14px; 
  text-align: center; 
  color: #fff;
}
.tr-primary {
  font-weight: lighter !important;
}
.tr-data ,.tr-secoundary {
  font-weight: 300;
}
.tr-primary >th {
  padding:3px 0;
}
.tr-secoundary >th {
  padding:3px 0;
  color: #fff;
}

td, th, tr {
  padding: 5px 4px 2px 2px!important;
  vertical-align: middle;
  // font-size: 13px;
  border-style: solid;
  border-color: #E3E3E3 !important;
  border-width: 0px !important;
}

table th, table td {
  // font-size: 13px;
}

.table {
  width: 100%;
  max-width: 100%;
  padding: 0px 0px;
  border: 0px solid lightgray;
}

.table-color {
  background-color: #FFF;
}
.table-topic-color {
  width: 33%;
  font-weight: bold !important;
  background-color: #FFF !important;
}
table.table td, table.table th {
  padding: 5px 8px 5px 0px !important;
}

.click-text {
  cursor: pointer;
}

.del-m-p p {
  margin-bottom: 0px;
}