<div class="container-fuild">
  <!-- <div class="text-center" *ngIf="!loadingStatus">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div> -->
  <ngx-spinner bdColor = 'rgba(0, 0, 0, 0.8)' size = "medium" color = "#024ea1" type = "cube-transition" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

  <div class="bg-base" *ngIf="loadingStatus">
    <div class="container head-area py-5 px-lg-0">

      <!-- Agent's Detail -->
      <div class="row justify-content-between">
        <div class="col-auto">
          <p class=" h2 font-weight-bold">{{displayLvName}} {{titleCode}}
            <small class="content-desktop h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{agentName}} {{prstRte}}
            </small>
            <small class="content-mobile h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{agentName}} <br> {{prstRte}}
            </small>
          </p>
        </div>
        <div class="col-auto d-flex justify-content-end align-items-center">
          <button class="btn btn-primary btn-round" (click)="goToHome()"> <i class="fa fa-chevron-left"></i> HOME</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fuild mt-3">
  

  <div class="container">
    <div>
      <div class="mt-5 pb-3">
        <!-- <button class="btn btn-primary" (click)="goToHome()"> <i class="fa fa-chevron-left"></i> HOME</button> -->
        <button class="btn btn-link font-color-primary-tsli" 
          style="text-decoration: underline; padding-left: 0px;"
          (click)="goToOverview()">
            <i class="fa fa-chevron-left font-color-primary-tsli mx-2" 
            style="margin-left: 0px !important;"
            aria-hidden="true"></i> 
            Back
        </button>
      </div>
    </div>
    <!-- <div class="row mt-3" style="justify-content: flex-end;"> -->
      <app-compensation-filter
        [listFilterCompensation]="listFilterCompensation"
        [filterCompensation]="filterCompensation"
        [agentLevel]="agentLevel"
        (changeFilterCompensation)="handleFilterCompensation($event)"
      ></app-compensation-filter>
    </div> 
  <!-- </div> -->
</div>
<div class="container-fulid">
  <div class="container">
    <div class="row">
      <div *ngIf=isCompensation(filterCompensation) style="width: 100%;">
        <div class="cols-* col-md-12 justify-content-center p-0">
          <div class="cols-* col-md-12 justify-content-center">
            <app-table-compensation
              [ovHighlightIndex]="ovHighlightIndex"
              [filterCompensation]="filterCompensation"
              [tableHeader]="tableHeader"
              [compensationConfig]="compensationConfig"
              [blockName]="blockName"
              [blockData]="compensationBlockData"
              [remark]="remark"
            >
            </app-table-compensation>
          </div>
        </div>
      </div>

      <div *ngIf="filterCompensation == 'โบนัสตัวแทนอาชีพ'" style="width: 100%;">
        <div class="cols-* col-md-12 justify-content-center p-0">
          <div class="cols-* col-md-12 justify-content-center">
            <app-validation
              [tableHeader]="tableHeader"
              [compensationConfig]="compensationConfig"
              [filterCompensation]="filterCompensation"
              [careerPc]="careerPc"
              [careerNoCase]="careerNoCase"
              [remark]="remark"
              [period]="period"
            >

            </app-validation>
          </div>
        </div>
      </div>

      <div *ngIf="filterCompensation == 'รักษาตำแหน่ง'" style="width: 100%;">
        <div class="cols-* col-md-12 justify-content-center p-0">
          <div class="cols-* col-md-12 justify-content-center">
            <app-validation
              [tableHeader]="tableHeader"
              [compensationConfig]="compensationConfig"
              [validationData]="validationData"
              [blockName]="blockName"
              [blockData]="validationBlockData"
              [remark]="remark"
              [period]="period"
              [mapping]="mapping"
            >

            </app-validation>
          </div>
        </div>
      </div>

      <div *ngIf="filterCompensation == 'เลื่อนตำแหน่ง'" style="width: 100%;">
        <div *ngIf="displayLvName != 'AL'" class="cols-* col-md-12 justify-content-center p-0">
          <div class="cols-* col-md-12 justify-content-center">
            <app-validation
              [tableHeader]="tableHeader"
              [compensationConfig]="compensationConfig"
              [validationData]="validationData"
              [blockName]="blockName"
              [blockData]="promoteBlockData"
              [remark]="remark"
              [period]="period"
              [mapping]="mapping"
              [listFilterPeriodType]="listFilterPeriodType"
              [filterPeriodType]="filterPeriodType"
              [listFilterPeriodTypeName]="listFilterPeriodTypeName"
              (changeFilterPeriodType)="handleFilterPeriodType($event)"
            >

            </app-validation>
          </div>
        </div>
        <div *ngIf="displayLvName == 'AL'" class="cols-* col-md-12 justify-content-center p-0">
          <div class="cols-* col-md-12 justify-content-center">
            <app-validation
              [tableHeader]="tableHeader"
              [compensationConfig]="compensationConfigH"
              [validationData]="validationDataH"
              [blockName]="blockNameH"
              [blockData]="promoteBlockDataH"
              [mapping]="mapping"
              [listFilterPeriodType]="listFilterPeriodType"
              [filterPeriodType]="filterPeriodType"
              [listFilterPeriodTypeName]="listFilterPeriodTypeName"
              (changeFilterPeriodType)="handleFilterPeriodType($event)"
              [period]="periodH"
            >

            </app-validation>
          </div>
          <div class="cols-* col-md-12 justify-content-center pt-4">
            <app-validation
              [tableHeader]="tableHeader"
              [compensationConfig]="compensationConfigV"
              [validationData]="validationDataV"
              [blockName]="blockNameV"
              [blockData]="promoteBlockDataV"
              [remark]="remark"
              [mapping]="mapping"
              [period]="periodV"
            >

            </app-validation>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>