@import "../../../../variable.scss";

.bg-base {
  background-color:$base-color ;
}
.head-area {
  height: auto;
}
.scroll-row {
  overflow-x: scroll;
  width: 100%;
  display: inline-flex;
}
.card-header-cs {
  padding: 1.25rem 1.25rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

table th {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 3px 10px 2px;
  vertical-align: middle;
  border: 1px solid #D9D9D9;
}

.th-first {
  background-color: #E4EBF4;
}

.content-desktop {
  display: block;
}
.content-mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .content-desktop {
    display: none;
  }
  .content-mobile {
    display: block;
  }
}