<div class="container-fuild">
  <div class="bg-base">
    <div class="container head-area py-5">
      <!-- Agent's Detail -->
      <div class="row justify-content-between pb-2">
        <div class="col-auto">
          <p class=" h2 font-weight-bold">{{titleLevel}} {{titleSubName}}
            <small class="h5 font-weight-normal text-primary w-100 float-left mt-2">
              {{modelUser.agentName}}
            </small>
          </p>
        </div>

        <div class="col-auto d-flex justify-content-end align-items-center">
          <button class="btn btn-primary btn-round" (click)="goToHome()"> <i class="fa fa-chevron-left"></i> HOME</button>
        </div>
      </div>
      
      <!-- KPI filter box -->
      <div class="row">
        <div class="col-auto col-md-12 justify-content-start">
          <div class="card card-kpi">
            <div class="card-body align-item-center">

              <div class="row">
                <div class="col-12 col-lg-2 d-flex flex-row align-items-center">
                  <i class="fa fa-filter font-color-primary-tsli mx-2" aria-hidden="true" style="font-size: 24px;"></i>
                  <div class="h6 mt-2">Filter Status</div>
                </div>
                <div class="col-auto col-lg-10 align-items-center">
                  <button class="btn btn-custom-width mx-2 mt-1"
                    [class.btn-pc]="filterKpiType == 'PC'"
                    [class.btn-outline-pc]="filterKpiType != 'PC'"
                    (click)="handleFilterSelect('PC')">
                    PC
                  </button>
                  <button class="btn btn-custom-width mx-2 mt-1"
                    [class.btn-act]="filterKpiType == 'ACTIVE'"
                    [class.btn-outline-act]="filterKpiType != 'ACTIVE'"
                    (click)="handleFilterSelect('ACTIVE')">
                    ACTIVE
                  </button>
                  <button class="btn btn-custom-width mx-2 mt-1"
                    [class.btn-nc]="filterKpiType == 'NC'"
                    [class.btn-outline-nc]="filterKpiType != 'NC'"
                    (click)="handleFilterSelect('NC')">
                    NC
                  </button>
                  <button class="btn btn-custom-width mx-2 mt-1"
                    [class.btn-rt]="filterKpiType == 'RETENTION'"
                    [class.btn-outline-rt]="filterKpiType != 'RETENTION'"
                    (click)="handleFilterSelect('RETENTION')">
                    RETENTION
                  </button>
                  <button class="btn btn-custom-width mx-2 mt-1"
                    [class.btn-ryp]="filterKpiType == 'RYP'"
                    [class.btn-outline-ryp]="filterKpiType != 'RYP'"
                    (click)="handleFilterSelect('RYP')">
                    RYP
                  </button>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <!-- Description and Controller compare chart -->
  <div>
    <div class="my-4">
      <button class="btn btn-link font-color-primary-tsli pl-0" 
        style="text-decoration: underline;"
        (click)="goToOverview()">
        <i class="fa fa-chevron-left font-color-primary-tsli mr-2" aria-hidden="true"></i> 
        Back to {{titleLevel}} Summary
      </button>
    </div>

    <div class="row mt-4 justify-content-between">
      <div class="col-auto">
        <p class="h3 font-weight-bold">{{filterKpiType}}</p>
      </div>
      <div class="col-auto justify-content-end" style="margin-left: 15px; margin-right: 8px;">
        <div class="row align-items-center">
          <div *ngIf="!hideLastYear">
            <span class="dot bg-legend-last-year mr-2"></span>
            <span class="mr-4">{{currentYear - 1}}</span>
          </div>

          <div>
            <span class="dot bg-legend-cur-year mr-2"></span>
            <span class="mr-4">{{currentYear}}</span> 
          </div>

          <div>
            <button class="btn mx-2"
              [class.btn-year]="!hideLastYear"
              [class.btn-outline-year]="hideLastYear"
              (click)="compareYear()">
              <i class="fa fa-exchange-alt"></i> {{currentYear - 1}} - {{currentYear}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Chart and KPI Detail based on KPI filter value -->
  <div class="pt-3 pb-5 mb-5">
    <!-- PC -->
    <ng-container *ngIf="filterKpiType == 'PC'; else kpiDetail_Act">
      <div>
        <app-kpi-pc
          [series_target_pc]="model_PC.series_target"
          [series_cur_pcSubmit]="model_PCsubmit.series_current"
          [series_cur_pc]="model_PC.series_current"
          [series_last_pc]="model_PC.series_last"
          [series_percent_pc]="model_PC.series_percentage"
          [sumYTD]="model_PC.sumYtdValue"
          [hideLastYear]="hideLastYear"
          [activeMonth]="activeMonthNo"
          [noCaseData]="noCaseData"
          [caseSizeData]="caseSizeData"
          [ytdData]="ytdCaseData"
        >
        </app-kpi-pc>
      </div>
    </ng-container>

    <!-- ACTIVE -->
    <ng-template #kpiDetail_Act>
      <ng-container *ngIf="filterKpiType == 'ACTIVE'; else kpiDetail_Nc">
        <div>
          <app-kpi-act
            [series_target]="model_Active.series_target"
            [series_cur]="model_Active.series_current"
            [series_last]="model_Active.series_last"
            [series_percent]="model_Active.series_percentage"
            [sumYTD]="model_Active.sumYtdValue"
            [hideLastYear]="hideLastYear"
            [activeMonth]="activeMonthNo">
          </app-kpi-act>
        </div>
      </ng-container>
    </ng-template>

    <!-- NC -->
    <ng-template #kpiDetail_Nc>
      <ng-container *ngIf="filterKpiType == 'NC'; else kpiDetail_Rt">
        <div>
          <app-kpi-nc
            [series_target]="model_NC.series_target"
            [series_cur]="model_NC.series_current"
            [series_last]="model_NC.series_last"
            [series_percent]="model_NC.series_percentage"
            [sumYTD]="model_NC.sumYtdValue"
            [hideLastYear]="hideLastYear"
            [activeMonth]="activeMonthNo">
          </app-kpi-nc>
        </div>
      </ng-container>
    </ng-template>

    <!-- RETENTION -->
    <ng-template #kpiDetail_Rt>
      <ng-container *ngIf="filterKpiType == 'RETENTION'; else kpiDetail_RYP">
        <div>
          <app-kpi-rt 
            [series_target]="model_Retention.series_target"
            [series_cur]="model_Retention.series_current"
            [series_last]="model_Retention.series_last"
            [series_percent]="model_Retention.series_percentage"
            [mtd_rt]="mtd_rt"
            [hideLastYear]="hideLastYear"
            [currentLevel]="titleLevel"
            [closYm]="activeClosYm_RT">
          </app-kpi-rt>
        </div>
      </ng-container>
    </ng-template>

    <!-- RYP -->
    <ng-template #kpiDetail_RYP>
      <div>
        <app-kpi-ryp
          [series_target]="model_RYP.series_target"
          [series_cur]="model_RYP.series_current"
          [series_last]="model_RYP.series_last"
          [series_percent]="model_RYP.series_percentage"
          [sumYTD]="model_RYP.sumYtdValue"
          [hideLastYear]="hideLastYear"
          [activeMonth]="activeMonthNo">
        </app-kpi-ryp>
      </div>
    </ng-template>

  </div>

</div>