<app-m-flipped></app-m-flipped>
<div class="table-responsive m-table">
  <table class="table table-hover kpi-yrs">
    <thead class="">
      <tr>
        <th scope="col" rowspan="1">Case</th>
        <th scope="col">JAN</th>
        <th scope="col">FEB</th>
        <th scope="col">MAR</th>
        <th scope="col">APR</th>
        <th scope="col">MAY</th>
        <th scope="col">JUN</th>
        <th scope="col">JUL</th>
        <th scope="col">AUG</th>
        <th scope="col">SEP</th>
        <th scope="col">OCT</th>
        <th scope="col">NOV</th>
        <th scope="col">DEC</th>
        <th scope="col">YTD</th>
      </tr>
    </thead>

    <tbody>
      <!-- NoCase -->
      <tr>
        <th scope="row">No. Case</th>
        <td class="text-right" *ngFor="let item of noCaseData">
          {{ 
              isUseKUnit ?
              (item | kUnit : {value: item}) :
              (item | number : '1.0-0')
          }}
        </td>
        <td class="text-right">
          {{
              isUseKUnit ?
              (ytdData['noCase'] | kUnit : {value: ytdData['noCase']}) :
              (ytdData['noCase'] | number : '1.0-0')
          }}
        </td> 
      </tr>
      <!-- CaseSize -->
      <tr>
        <th scope="row">Case Size</th>
        <td class="text-right" *ngFor="let item of caseSizeData">
          {{
            isUseKUnit ?
            (item | kUnit : {value: item}) :
            (item | number : '1.0-0')
          }}
        </td>
        <td class="text-right">
          {{
            isUseKUnit ?
            (ytdData['caseSize'] | kUnit : {value: ytdData['caseSize']}) :
            (ytdData['caseSize'] | number : '1.0-0')
          }}
        </td>
      </tr>
    </tbody>

  </table>
</div>