<section id="modal-content-event-detail">

  <ng-template #contentResult let-modal style="align-items: center;">
    <div id="modal-status" class="mx-5 my-5">
      <app-modal-status [status]="modalStatus" [msgSuccess]="msgSuccess" [msgFail]="msgFail">
      </app-modal-status>
    </div>
  </ng-template>

  <div>
    <form [formGroup]="form">
      <div class="row">
        <!-- ประเภทกิจกรรม -->
        <!-- <div class="col col-md-5 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.type'"></label>
          <input [readonly]="isReadOnlyForm()" type="text" class="form-control" [(ngModel)]="data.typeName"/>
        </div> -->
  
        <div class="form-group col col-md-3 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.type'"></label>
          <label class="form-require">&nbsp;*</label>
          <select id="eventTypeSelected" class="form-control" 
            [(ngModel)]="form.value.activityType" 
            (change)="getActivitySUbTypeList(form.value.activityType)"
            formControlName="activityType"
            [ngClass]="{ 'is-invalid': submitted && f.activityType.errors, 'disabled': isReadOnlyForm() }"
          >
            <ng-container *ngFor="let item of eventTypeList">
              <option [ngValue]="item['activityType']">{{item['typeNameThai']}}</option>
            </ng-container>
          </select>
        </div>
        <div class="form-group col col-md-3 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.sub.type'"></label>
          <select id="eventTypeSelected" class="form-control" 
            [(ngModel)]="form.value.activitySubType" 
            formControlName="activitySubType"
            [ngClass]="{  'disabled': isReadOnlyForm() }"
          >
            <ng-container *ngFor="let item of dropdownActivitySubType">
              <option [ngValue]="item['activitySub']">{{item['subNameThai']}}</option>
            </ng-container>
          </select>
        </div>
      
        <!-- ชื่อกิจกรรม -->
        <div class="form-group col col-md-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.name'"></label>
          <label class="form-require">&nbsp;*</label>
          <input [readonly]="isReadOnlyForm()" 
            type="text" 
            class="form-control" 
            [(ngModel)]="form.value.activityName" 
            formControlName="activityName"
            [ngClass]="{ 'is-invalid': submitted && f.activityName.errors }"
          />
        </div>
      </div>
  <div class="row">
        <!-- เลขที่กิจกรรม -->
        <div class="form-group col col-md-2 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.code'"></label>
          <input readonly type="text" 
            class="form-control" 
            [(ngModel)]="form.value.activityId" 
            formControlName="activityId"
          />
        </div>
  
        <!-- จังหวัด -->
        <div class="form-group col col-md-3 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.province'"></label>
          <label class="form-require">&nbsp;*</label>
          <select id="eventProvinceSelected" class="form-control"
            [(ngModel)]="form.value.provinceName" 
            formControlName="provinceName"
            [ngClass]="{ 'is-invalid': submitted && f.provinceName.errors, 'disabled': isReadOnlyForm() }" 
          >
            <ng-container *ngFor="let item of provinceList">
              <option [ngValue]="item['provinceName']">{{item['provinceName']}}</option>
            </ng-container>
          </select>
        </div>
  
        <!-- สถานที่ -->
        <div class="form-group col col-md-7 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.location'"></label>
          <label class="form-require">&nbsp;*</label>
          <input [readonly]="isReadOnlyForm()" type="text" 
            class="form-control" 
            [(ngModel)]="form.value.location" 
            formControlName="location"
            [ngClass]="{ 'is-invalid': submitted && f.location.errors }" 
          />
        </div>
  </div>
  <div class="row">
        <!-- วันที่กิจกรรม -->
        <!-- <div class="col col-md-3 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.availableDate'"></label>
          <input [readonly]="isReadOnlyForm()" type="text" class="form-control" placeholder="{{data.activityDate | date : 'd/MM/yyyy'}}" />
        </div> -->
       
        <div class="form-group col col-md-4 col-lg-4 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.availableDate'"></label>
          <label class="form-require">&nbsp;*</label>
          <div class="input-group" >
            <input class="form-control showInputDate" 
              type="text" 
              readonly 
              [value]="payInDateChange(form.value.activityDate)"
              [ngStyle]="{'background-color': isReadOnlyForm() ? '' : 'white'}"
              [ngClass]="{ 'is-invalid': submitted && f.activityDate.errors }"
            >
            <input class="form-control hideInputDate" matInput 
              [matDatepicker]="picker1" 
              [readonly]="isReadOnlyForm()"
              placeholder="{{form.value.activityDate | date : 'd/MM/yyyy'}}"
              [(ngModel)]="form.value.activityDate" 
              formControlName="activityDate"
              [ngClass]="{ 'is-invalid': submitted && f.activityDate.errors }"
            >
            <mat-datepicker #picker1></mat-datepicker>
            <div class="input-group-append" style="margin-top: -0.0625em;">
              <button class="btn btn-outline-secondary" type="button" 
                (click)="picker1.open()"
                [disabled]="isReadOnlyForm()"
                [ngClass]="{ 'btn-outline-danger': submitted && f.activityDate.errors, 'btn-outline-secondary': !(submitted && f.activityDate.errors) }"
              >
                <i class="fa fa-calendar" style="margin-left: 12px; margin-right: 12px;"></i>
              </button>
            </div>
          </div>
        </div>
  
        <!-- เวลาเริ่ม -->
        <!-- placeholder="{{ toTime(data.startTime) | date: 'HH:mm'}}" -->
        <!-- [(ngModel)]="data.startTime" -->
        <div class="form-group col col-md-4 col-lg-4 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.availableTime'"></label>
          <label class="form-require">&nbsp;*</label>
          <input [readonly]="isReadOnlyForm()" 
            type="time" 
            class="form-control" 
            [(ngModel)]="form.value.startTime" 
            formControlName="startTime"
            [ngStyle]="{ 'background-position: (submitted && f.startTime.errors) ? right 12px center !important;' : '' } "
            [ngClass]="{ 'is-invalid': submitted && f.startTime.errors }"
          />
        </div>
        <div class="clearfix hidden-xs hidden-sm"></div>
        <!-- เวลาสิ้นสุด -->
        <div class="form-group col col-md-4 col-lg-4 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.expireTime'"></label>
          <label class="form-require">&nbsp;*</label>
          <input [readonly]="isReadOnlyForm()" 
            type="time" 
            class="form-control"
            [(ngModel)]="form.value.endTime" 
            formControlName="endTime"
            [ngClass]="{ 'is-invalid': submitted && f.endTime.errors }"
          />
        </div>
      </div>
      

      <div class="row">

        <!-- วันที่กิจกรรมสิ้นสุด -->
        <div class="form-group col col-md-4 col-lg-4 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.activityToDate'"></label>
          <label class="form-require" *ngIf="form.value.numofdays > 1">&nbsp;*</label>
          <div class="input-group" >
            <input class="form-control showInputDate" 
              type="text" 
              readonly 
              [value]="payInDateChange(form.value.activityDateTo)"
              [ngStyle]="{'background-color': isReadOnlyForm() ? '' : 'white'}"
              [ngClass]="{ 'is-invalid': submitted && !f.activityDateTo.value && form.value.numofdays>1 }"
            >
            <input class="form-control hideInputDate" matInput 
              [readonly]="isReadOnlyForm()"
              [matDatepicker]="picker4" 
              
              placeholder="{{form.value.activityDateTo | date : 'd/MM/yyyy'}}"
              [(ngModel)]="form.value.activityDateTo" 
              formControlName="activityDateTo"
              [ngClass]="{ 'is-invalid': submitted && !f.activityDateTo.value && form.value.numofdays>1 }"
            >
            <mat-datepicker #picker4></mat-datepicker>
            <div class="input-group-append" style="margin-top: -0.0625em;">
              <button class="btn btn-outline-secondary" type="button" *ngIf="form.value.numofdays<=1"
              (click)="clearActivityDateTo()"
              [disabled]="isReadOnlyForm()"
              [ngClass]="{ 'btn-outline-danger': submitted && !f.activityDateTo.value && form.value.numofdays>1, 'btn-outline-secondary': !(submitted && !f.activityDateTo.value && form.value.numofdays>1) }"
             >
            <i class="fa fa-times" style="margin-left: 12px; margin-right: 12px;"></i>
            </button>
            <button class="btn btn-outline-secondary" type="button" 
            (click)="picker4.open()"
            [disabled]="isReadOnlyForm()"
            [ngClass]="{ 'btn-outline-danger': submitted && !f.activityDateTo.value && form.value.numofdays>1, 'btn-outline-secondary': !(submitted && !f.activityDateTo.value && form.value.numofdays>1) }"
          >
            <i class="fa fa-calendar" style="margin-left: 12px; margin-right: 12px;"></i>
          </button>
            </div>
          </div>
        </div>

        <!-- จำนวนวัน -->
        <div class="form-group col col-md-4 col-lg-2  col-12 input-slot-margin ">
          <label [translate]="'web.agent.event.duration'"></label>
          <label class="form-require">&nbsp;*</label>
          <input [readonly]="isReadOnlyForm()" 
            type="text" 
            class="form-control" 
            [(ngModel)]="form.value.numofdays" 
            formControlName="numofdays"
            [ngClass]="{ 'is-invalid': submitted && f.numofdays.errors }"
            numbersOnly=""
          />
        </div>
        <!-- จำนวนคน/ห้อง -->
        <div class="form-group col col-md-4 col-lg-2 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.maxPersonPerRoom'"></label>
          <label class="form-require">&nbsp;*</label>
          <input [readonly]="isReadOnlyForm()" 
            type="text" 
            class="form-control" 
            [(ngModel)]="form.value.roomCapa" 
            formControlName="roomCapa"
            [ngClass]="{ 'is-invalid': submitted && f.roomCapa.errors }"
            numbersOnly=""
          />
        </div>
  
        <!-- จำนวนคนสูงสุด -->
        <div class="form-group col col-md-4 col-lg-2  col-12 input-slot-margin">
          <label [translate]="'web.agent.event.maxUnit'"></label>
          <label class="form-require">&nbsp;*</label>
          <input [readonly]="isReadOnlyForm()" 
            type="text" 
            class="form-control" 
            [(ngModel)]="form.value.maxCapa" 
            formControlName="maxCapa"
            [ngClass]="{ 'is-invalid': submitted && f.maxCapa.errors }"
            numbersOnly=""
          />
        </div>
           <!-- สถานะ -->
        <div class="form-group col col-md-4 col-lg-2  col-12 input-slot-margin">
          <label [translate]="'web.agent.event.status'"></label>
          <input [readonly]="isReadOnlyForm()" 
            type="text" 
            class="form-control" 
            [(ngModel)]="form.value.delIndi" 
            formControlName="delIndi"
            disabled="disabled"
            numbersOnly=""
          />
        </div>
      </div>


      <div class="row">
        <!-- วันที่เปิดรับลงทะเบียน -->
        <!-- <div class="col col-md-3 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.regisStartDate'"></label>
          <input [readonly]="isReadOnlyForm()" type="text" class="form-control" placeholder="{{data.activityRegisFrom | date : 'd/MM/yyyy'}}" />
        </div> -->
        <div class="form-group col col-md-4 col-lg-4 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.regisStartDate'"></label>
          <label class="form-require">&nbsp;*</label>
          <div class="input-group" >
            <input class="form-control showInputDate" 
              type="text" 
              readonly 
              [value]="payInDateChange(form.value.activityRegisFrom)"
              [ngStyle]="{'background-color': isReadOnlyForm() ? '' : 'white'}"
              [ngClass]="{ 'is-invalid': submitted && f.activityRegisFrom.errors }"
            >
            <input class="form-control hideInputDate" matInput 
              [readonly]="isReadOnlyForm()"
              [matDatepicker]="picker2" 
              placeholder="{{form.value.activityRegisFrom | date : 'd/MM/yyyy'}}"
              [(ngModel)]="form.value.activityRegisFrom" 
              formControlName="activityRegisFrom"
              [ngClass]="{ 'is-invalid': submitted && f.activityRegisFrom.errors }"
            >
            <mat-datepicker #picker2></mat-datepicker>
            <div class="input-group-append" style="margin-top: -0.0625em;">
              <button class="btn btn-outline-secondary" type="button" 
                (click)="picker2.open()"
                [disabled]="isReadOnlyForm()"
                [ngClass]="{ 'btn-outline-danger': submitted && f.activityRegisFrom.errors, 'btn-outline-secondary': !(submitted && f.activityRegisFrom.errors) }"
              >
                <i class="fa fa-calendar" style="margin-left: 12px; margin-right: 12px;"></i>
              </button>
            </div>
          </div>
        </div>
  
        <!-- วันที่ปิดรับลงทะเบียน -->
        <!-- <div class="col col-md-3 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.regisEndDate'"></label>
          <input [readonly]="isReadOnlyForm()" type="text" class="form-control" placeholder="{{data.activityRegisTo | date : 'd/MM/yyyy'}}" />
        </div> -->
        <div class="form-group col col-md-4 col-lg-4 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.regisEndDate'"></label>
          <label class="form-require">&nbsp;*</label>
          <div class="input-group" >
            <input class="form-control showInputDate" 
              type="text" 
              readonly 
              [value]="payInDateChange(form.value.activityRegisTo)"
              [ngStyle]="{'background-color': isReadOnlyForm() ? '' : 'white'}"
              [ngClass]="{ 'is-invalid': submitted && f.activityRegisTo.errors }"
            >
            <input class="form-control hideInputDate" matInput 
              [readonly]="isReadOnlyForm()"
              [matDatepicker]="picker3" 
              placeholder="{{form.value.activityRegisTo | date : 'd/MM/yyyy'}}"
              [(ngModel)]="form.value.activityRegisTo" 
              formControlName="activityRegisTo"
              [ngClass]="{ 'is-invalid': submitted && f.activityRegisTo.errors }"
            >
            <mat-datepicker #picker3></mat-datepicker>
            <!-- <ngx-mat-datetime-picker  #picker3></mat-datepicker> -->
            <div class="input-group-append" style="margin-top: -0.0625em;">
              <button class="btn btn-outline-secondary" type="button" 
                (click)="picker3.open()"
                [disabled]="isReadOnlyForm()"
                [ngClass]="{ 'btn-outline-danger': submitted && f.activityRegisTo.errors, 'btn-outline-secondary': !(submitted && f.activityRegisTo.errors) }"
              >
                <i class="fa fa-calendar" style="margin-left: 12px; margin-right: 12px;"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- เวลาสิ้นสุดรับลงทะเบียน -->
        <div class="form-group col col-md-4 col-lg-4 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.register.expireTime'"></label>
          <label class="form-require">&nbsp;*</label>
          <input [readonly]="isReadOnlyForm()" 
            type="time" 
            class="form-control"
            [(ngModel)]="form.value.activityRegisToTime" 
            formControlName="activityRegisToTime"
            [ngClass]="{ 'is-invalid': submitted && f.activityRegisToTime.errors }"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col col-md-6 col-lg-6 col-12 input-slot-margin">
          <label [translate]="'web.agent.event.remark'"></label>
          <textarea [readonly]="isReadOnlyForm()" 
            class="form-control"
            [(ngModel)]="form.value.remark" 
            formControlName="remark"
            rows="3"
         ></textarea>
        </div>
      </div>
    </form>
  </div>

  <!-- Button Controller -->
  <div class="row my-4 justify-content-center" *ngIf="!isReadOnlyForm()">
     <div class="col col-md-3 col-12 mt-2" *ngIf="isUpdate">
      <button 
        type="button"
        class="btn btn-success btn-block" 
        [translate]="'web.agent.btn-upload-result'"
        (click)="onUploadResult()"
      ></button>
    </div> 
    <div class="col col-md-3 col-12 mt-2">
      <button 
        type="button"
        class="btn btn-warning btn-block" 
        [translate]="'web.agent.btn-rollback'"
        (click)="onRollback()" 
      ></button>
    </div>
    <div class="col col-md-3 col-12 mt-2" *ngIf="isUpdate">
      <button 
        type="button"
        class="btn btn-block" 
        [ngClass]="{'btn-success': data.delIndi == 'Y', ' btn-danger': data.delIndi != 'Y' }"
        [translate]="data.delIndi != 'Y'?'web.agent.activity.btn-delete':'web.agent.activity.btn-use'"
        (click)="onRollDelete()"
      ></button>
    </div>
    <div class="col col-md-3 col-12 mt-2">
      <button
        type="button" 
        class="btn btn-primary btn-block" 
        [translate]="'web.agent.btn-save'"
        (click)="onSubmit(contentResult)"
      ></button>
    </div>
  </div>
</section>