.input-slot-margin {
  margin-bottom: 8px;
}

label {
  margin-bottom: 0px !important;
}

.disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.hideInputDate{
  position: absolute;
  z-index: 0;
  border: 1px solid #ffffff;
}

.showInputDate{
  position: inherit;
  z-index: 2;
  margin-top: -0.0625em;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  background-position: right 24px center !important;
  padding-right: 2px !important;
}

.form-require {
  color: red;
  font-weight: bold;
}
