<!-- <div class="container" style="    padding:  40px 0px;">
  <div class="row">
    <div class="col-md-12 min-vh-100 d-flex flex-column">
        <h1>404 Page Not Found</h1>
        <p>
          The page you are looking for could not be found. Check the address bar
          to ensure your URL is spelled correctly. If all else fails, you can
          visit our home page at the link below.
        </p>
    
        <a routerLink="/home" class="nav-link" routerLinkActive="active">
            Visit the Home Page
          </a>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template h-100 lock-page">
        <h1>
          Oops!
        </h1>
        <h2>
          500 Internal Server Error
        </h2>
        <div class="error-details">
          Ruh-roh, something just isn't right... Time to paw through your logs and get down and dirty in your stack-trace;)
        </div>
        <div class="error-actions">
          <a
            routerLink="/dashboard"
            routerLinkActive="active"
            class="btn btn-outline-primary btn-lg"
            ><i class="fas fa-home"></i> Take Me Home </a
          ><a
            routerLink="#"
            routerLinkActive="active"
            class="btn btn-outline-secondary btn-lg"
            ><i class="fas fa-envelope-open-text"></i> Contact Support
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
