<section id="activityDetialList">
  <div>
  
    <table mdbTable id="detail-list-table" class="table table-hover">
      <!-- TABLE HEADER -->
      <tr class="tr-secoundary table-secondary-header-color">
        <ng-container *ngFor="let header of headers">
          <th class="text-center" scope="col">{{ header }}</th>
        </ng-container>
      </tr>

      <!-- TABLE CONTENT -->
      <tr class="tr-data" *ngFor="let item of data">
        <td class="text-center">{{ item.registerId }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td class="text-center">{{ item.recommenderCode }}</td>
        <td class="text-center">{{ item.result }}</td>
        <td *ngIf="isRegisterAdmin" class="text-center"><span class="text-danger" style="cursor: pointer; " (click)="flagDeleteERegister(item.registerId )">ลบ</span></td>
      </tr>

      <!-- TABLE FOOTER -->
      <tfoot class="grey lighten-5">
        <tr class="text-center">
          <td colspan="12" *ngIf="!data || data?.length > 0">
            <nav aria-label="Page Navigate">
              <ul class="pagination pagination-circle pg-blue mb-0">
                <li class="page-item disabled">
                  <a class="page-link" style="font-weight: 500;" mdbWavesEffect>
                    {{itemInfo()}}
                  </a>
                </li>
                <li class="page-item" (click)="paginationAction('firstPage')">
                  <a mdbwaveseffect="" aria-label="First" class="page-link"><span aria-hidden="true">«</span></a>
                </li>
                <li class="page-item" (click)="paginationAction('previous')">
                  <a mdbwaveseffect="" aria-label="Previous" class="page-link"><span aria-hidden="true">‹</span></a>
                </li>
                <li class="page-item" (click)="paginationAction('next')">
                  <a mdbwaveseffect="" aria-label="Next" class="page-link"><span aria-hidden="true">›</span></a>
                </li>
                <li class="page-item" (click)="paginationAction('endPage')">
                  <a mdbwaveseffect="" aria-label="End" class="page-link"><span aria-hidden="true">»</span></a>
                </li>
              </ul>
            </nav>
          </td>
          <td colspan="12" *ngIf="!data || data?.length == 0">
            <span>ไม่มีผู้สมัคร</span>
          </td>
        </tr>
      </tfoot>
    </table>

    <!-- EMPTY CONTENT -->
    <!-- <div *ngIf="!data" class="text-center my-2">
      <span>ไม่พบข้อมูล</span>
    </div> -->

  </div>
</section>