<div class="bg-base">
  <div class="container head-area py-4 px-0">
    <p class="h3 font-weight-bold" [translate]="'access.log.title'"></p>
  </div>
</div>

<div class="container">
  <div class="mt-4">
    <div class="form-row">
      <div class="form-group col-md-6 col-lg-3 ">
        <label  for="criteria.username" [translate]="'access.log.username'"></label>
        <input
          type="text"
          class="form-control"
          id="criteria.username"
          [(ngModel)]="criteria.username"
        />
      </div>
      <div class="form-group col-md-6 col-lg-3">
        <label for="criteria.name" [translate]="'access.log.name'"></label>
        <input
          type="text"
          class="form-control"
          id="criteria.name"
          [(ngModel)]="criteria.name"
        />
      </div>

      <div class="form-group col-md-6 col-lg-2">
        <label for="criteria.startDate" [translate]="'access.log.date.start'"></label>
        <input
          type="date"
          class="form-control"
          id="access.log.date.start"
          [(ngModel)]="criteria.startDate"
        />
      </div>
      <div class="form-group col-md-6 col-lg-2">
        <label for="criteria.endDate" [translate]="'access.log.date.end'"></label>
        <input
          type="date"
          class="form-control"
          id="access.log.date.end"
          [(ngModel)]="criteria.endDate"
        />
      </div>
      <div class="form-group col-md-6 col-lg-2">
        <label for="criteria.device" [translate]="'access.log.device'"></label>
        <input
          type="text"
          class="form-control"
          id="criteria.device"
          placeholder="Windows, Mac"
          [(ngModel)]="criteria.device"
        />
      </div>


    </div>
    <button
      type="submit"
      class="btn btn-primary btn-block"
      (click)="search()"
      [translate]="'access.log.btn.search'"
    ></button>
  </div>
</div>
<div class="container">
  <div class="mt-2">
    <span class="float-right">
      <b>ผลการค้นหา :</b>
     {{ paging?.totalItems }}
     <b> ผลลัพธ์</b>
    </span>
  </div>
  <div class="mt-0">
    <div class="table-responsive">
      <table class="table-hover table table-bordered table-striped">
        <thead>
          <tr class="table-info text-center">
            <th class="align-middle" scope="col" [translate]="'access.log.no'"></th>
            <th class="align-middle" scope="col" [translate]="'access.log.username'"></th>
            <th class="align-middle" scope="col" [translate]="'access.log.name'"></th>
            <th class="align-middle" scope="col" [translate]="'access.log.date'"></th>
            <th class="align-middle" scope="col" [translate]="'access.log.time'"></th>
            <th class="align-middle" scope="col" [translate]="'access.log.device'"></th>
          </tr>
        </thead>
        <tbody *ngIf="paging?.data.length > 0">
          <tr *ngFor="let data of paging.data; let i = index">
            <td class="text-center" scope="row">{{ printSequense(i) }}</td>
            <td class="text-justify">{{ data.username }}</td>
            <td>{{ data.fullName }}</td>
            <td class="text-center">{{data.createDate | date: 'dd/mm/yyyy'}}</td>
            <td class="text-center">
              {{data.createDate | date: 'hh:mm'}}
            </td>
            <td class="text-center">
              {{data.info1}}
            </td>
          </tr>
        </tbody>
        <tfoot class="grey lighten-5">
          <tr class="text-center">
            <td colspan="6" >
              <nav aria-label="Page navigation">
                <ul class="pagination pagination-circle pg-blue">
                 
                  <li class="page-item disabled">
                    <a
                      class="page-link"
                      mdbWavesEffect
                    >{{ itemInfo()}}</a>
                  </li>
                  <li class="page-item" [ngClass]="{'disabled': criteria?.page === 0}" (click)="firstPage()"><a mdbwaveseffect="" aria-label="First" class="page-link"><span aria-hidden="true">«</span></a></li>
                  <li class="page-item" (click)="previous()"><a mdbwaveseffect="" aria-label="Previous" class="page-link"><span aria-hidden="true">‹</span></a></li>
                  <li class="page-item" (click)="next()"><a mdbwaveseffect="" aria-label="Next" class="page-link"><span aria-hidden="true">›</span></a></li>
                  <li class="page-item" [ngClass]="{'disabled': criteria?.page === paging?.totalPages-1}" (click)="endPage()"><a mdbwaveseffect="" aria-label="End" class="page-link"><span aria-hidden="true">»</span></a></li>
                 
                  <!-- <li class="page-item disabled">
                    <a class="page-link" mdbWavesEffect
                      >(<b>{{ "User Active: " }}</b
                      >{{ license.active }} <b> Of </b>
                      {{ license?.license }})</a
                    >
                  </li> -->
                </ul>
              </nav>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="mt-3 py-4">
  </div>
</div>